/* Fonts */
@font-face {
    font-family: 'Futura-Book';
    src: url('https://media.travsrv.com/appSkins/51658/v6/themes/standard/FuturaStd-Book.eot?#iefix') format('embedded-opentype'), url('https://media.travsrv.com/appSkins/51658/v6/themes/standard/FuturaStd-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('https://media.travsrv.com/appSkins/51658/v6/themes/standard/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), url('https://media.travsrv.com/appSkins/51658/v6/themes/standard/FuturaStd-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Druk-Condensed';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/noLRG/55776/fonts/Druk-CondSuper.otf') format('embedded-opentype');
}

@font-face {
    font-family: 'Druk-Medium';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/noLRG/55776/fonts/DrukTextWide-Medium.otf') format('embedded-opentype');
}

@font-face {
    font-family: 'Druk-Wide';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/noLRG/55776/fonts/DrukWide-Super.otf') format('embedded-opentype');
}

body {
    font-family: 'Futura-Book', 'Helvetica';
    font-size: 17px !important;
    font-weight: 300;
    background: #000;
    color: #fff;
    line-height: 1.4;
}

.ArnSubPage td {
    font-family: 'Futura-Book', 'Helvetica';
    font-size: 15px !important;
    font-weight: 300;
    color: #fff;
}

body.RootBody {
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url(https://dev-static.hotelsforhope.com/portals/child-portals/noLRG/55776/images/banner.png) no-repeat center center /cover !important;
}

header {
    background: #000;
    border-bottom: 3px solid #ff48c5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
}

header a {
    color: #444;
}

#language {
    display: none;
}

.logo img {
    margin: 12px;
    max-width: 600px;
}

.SearchHotels .ArnPropName a {
    letter-spacing: initial !important;
}

.lrgTip h3 {
    font-family: 'Futura-Bold';
    font-weight: initial !important;
}

/* Button Colors */
.selectedTab,
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #f2fb18 !important;
    transition: all .5s ease;
    color: #000 !important;
}

.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.holdRoom {
    font-family: 'Futura-Book' !important;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #f2fb18 !important;
}

.ArnGoAddressSearch,
.ArnGoAirportSearch,
.ArnGoCitySearch,
.ArnGoLandmarkSearch {
    background: #000 !important;
    color: #fff !important;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-top: 1px solid #f2fb18 !important;
    border-bottom: 1px solid #f2fb18 !important;
    color: #000 !important;
    background: #f2fb18 !important;

}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    border: 1px solid #f2fb18 !important;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #dae041 !important;
    border-left: 1px solid #dae041 !important;
    border-right: 1px solid #dae041 !important;
}

.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #dae041 !important;

}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active {
    background: #dae041 !important;
}

.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus {
    background: #646464 !important;
}

.holdRoom {
    background: #858585 !important;
}

.roomCount {
    color: #ff48c5;
}

.hamburger {
    background: transparent;
    border: none;
}

.hamburger:after {
    border-top-color: #000;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #ff48c5 !important;
    top: 24px;
}

.arnPrice,
.SinglePropDetail .SB16 .yourRateAmount,
.SinglePropDetail .yourRateAmount,
.SinglePropDetail .SB16 .exclusiveRate+strong,
.SinglePropDetail .SB20 .yourRateAmount,
.SinglePropDetail .SB20 .exclusiveRate+strong,
.SinglePropDetail .ArnNightlyRate strong {
    color: #54f343;
}

.perNight {
    color: #fff;
}

.SinglePropDetail .ArnSearchContainerMainTable {
    box-shadow: 0 0 0 1px #ff48c5;
}

.SinglePropDetail .modifySearch,
.SinglePropDetail .reserveHotel,
.SinglePropDetail .rateRow,
.SinglePropDetail .ArnRateTableHeader {
    border-bottom: 1px solid #ff48c5;
}

.SinglePropDetail .ArnLeftListContainer {
    border-right: 1px solid #ff48c5;
    background: #000;
}

.SinglePropDetail .ArnRateTableHeader th {
    color: #fff;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #4bafff !important;
    color: #000 !important;
}

.SinglePropDetail .ArnPropName,
.SinglePropDetail .SimpleSearch,
.SinglePropDetail .ArnContentGeneralInfo,
.SinglePropDetail .rateRow,
.SinglePropDetail .ArnRateTableHeader {
    background: #000 !important;
}

.PropertyAmenities:after {
    border-top-color: #000;
}

.SinglePropDetail .PropertyAmenities legend {
    background: #000;
    color: #fff;
}

.ArnPropDescription {
    color: #fff;
}

.arn-leaflet-reset-button {
    background: #4bafff !important;
    color: #000 !important;
}

.leaflet-top {
    top: 169px;
}

.arnMapMarker {
    background: #4bafff !important;
    border-color: #4bafff !important;
    color: #000 !important;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #4bafff !important;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #237dc5 !important;
    border: #237dc5 !important;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #237dc5 !important;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #4bafff !important;
}

.throbber {
    border-left: #f2fb18 !important;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px !important;
}

.SearchHotels .ArnProperty {
    border: none;
    border-radius: 0;
}

.SearchHotels .ArnContainer {
    border: 1px solid #ff48c5;
    padding: 2px;
    transition: all .3s ease-in;
}

.SearchHotels .ArnContainer:hover {
    box-shadow: 1px 1px 5px 0px #ff48c5;
}

.SearchHotels .ArnProperty,
.SearchHotels .ArnProperty:hover {
    background: #000;
}

.SearchHotels .ArnProperty:hover {
    box-shadow: none;
}

.ArnContainer,
.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited,
.ArnPropNameLink:hover {
    color: #fff;
}

.SearchHotels #searchForm,
.ArnAmentitiesContainer,
.ArnCitiesNearbyContainer,
.ArnCurrenciesContainer,
.ArnHotelSizeContainer,
.ArnPriceContainer,
.ArnPropertyClassesContainer,
.ArnPropertyTypesContainer,
.ArnRateFiltersContainer,
.ArnSlider,
.ArnQuadSearchContainer.ArnPrimarySearchContainer,
.SearchHotels .ArnPrimarySearchOuterContainer,
.modifySearch {
    background: #000;
}

.SearchHotels .ArnIndividualSearchContainer a,
.SearchHotels .ArnQuadSearchContainer.ArnPrimarySearchContainer,
.modifySearch {
    color: #fff !important;
}

.reviewCount a {
    color: #4bafff;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #f2fb18 !important;
    color: #000;
}

#slideit section {
    border-bottom: #f2fb18 !important;
}

.ArnPropName div.ratingCount {
    background: #ff48c5 !important;
    color: #000;
}

.ArnPropThumb,
.ArnPropThumb img {
    border-radius: 0;
}

.sash {
    background: #ff48c5 !important;
    color: #000;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #f2fb18 !important;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #f2fb18 !important;
    color: #000;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100% !important;
    max-width: 205px !important;
}

/* Ad Unit */
.ad-unit img {
    display: block;
    margin: 24px auto;
}

@media only screen and (min-width: 800px) {

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #f2fb18 !important;
    }
}

@media only screen and (max-width: 800px) {
    .ad-unit {
        display: none;
    }

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active {
        border-top: 4px solid #f2fb18 !important;
        border-bottom: 4px solid #f2fb18 !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #f2fb18 !important;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0 !important;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }
}

@media only screen and (max-width: 565px) {
    .logo+a {
        display: none;
    }
}

#adults option:nth-child(n + 5) {
    display: block !important;
}

#adults option:nth-child(n + 7) {
    display: none !important;
}