@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #000;
$logo_flex_position: center;
$logo_max_width: 250px;
$background_color: #000;
$secondary_background_color: '';
$primary_color: #da2128;
$secondary_color: #166497;
$primary_text_color: #fff;
$secondary_text_color: #fff;
$border_color: #da2128;
$button_hover_background_color: #fff;
$button_hover_text_color: #da2128;
$button_hover_border_color: #da2128;
$google_font_name: 'Montserrat';
$site_name: 'hof_retail-60037';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';

.ArnGroupHold .additionalRates{
    display: none;
}

.ArnGroupHold .ArnLeftSearchContainer {
    display: none;
}
