/* TODO update background color and font color of "Partner Hotel" thumnail tag */

body, .ArnPropNameLink span, .CheckOutForm #theHotel, .CheckOutForm label, .CheckOutForm legend, .sort-wrapper a, .theHotelName, .CheckOutForm #theRateSummaryInfo div, .CheckOutForm #theConfirmCheckboxesAjax, .CheckOutForm #theConfirmCheckboxesAjax a, .CheckOutForm #theConfirmCheckboxesAjax span, .ConfirmationForm .PaymentPolicies, .ConfirmationForm .GuestForms, .ConfirmationForm a, #batch a, .emailWarning2 a, .eventRateGuarantee h2, .eventRateGuarantee span, #theConfirmationPoliciesAjax, .SinglePropDetail #exclusive-event-rate {
    color: #fff;
}

svg.arrow polyline {
    stroke: #fff;
}

.SinglePropDetail .ArnRateTableHeader {
    background: unset;
    border-bottom: 1px solid #fff;
}

.CheckOutForm .modal-container, .SinglePropDetail .ArnRateCancelPolicy, .SinglePropDetail .ArnRateCancelPolicyContainer .close, .HoldRoomsForm .success {
    color: #000;
}

.SearchHotels .custom-tag {
    background: rgba(255, 255, 255, .3);
    color: #333;
}