
body, .ArnPropNameLink span, .CheckOutForm #theHotel, .CheckOutForm label, .CheckOutForm legend, .sort-wrapper a, .theHotelName, .CheckOutForm #theRateSummaryInfo div, .CheckOutForm #theConfirmCheckboxesAjax, .CheckOutForm #theConfirmCheckboxesAjax a, .CheckOutForm #theConfirmCheckboxesAjax span, .ConfirmationForm .PaymentPolicies, .ConfirmationForm .GuestForms, .ConfirmationForm a, #batch a, .emailWarning2 a, .eventRateGuarantee h2, .eventRateGuarantee span, #theConfirmationPoliciesAjax {
    color: #fff;
}

svg.arrow polyline {
    stroke: #fff;
}

.SinglePropDetail .ArnRateTableHeader {
    background: unset;
    border-bottom: 1px solid #fff;
}