@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #000;
$logo_flex_position: center;
$logo_max_width: 250px;
$background_color: #000;
$primary_color: #da2128;
$secondary_color: #166497;
$primary_text_color: #fff;
$secondary_text_color: #fff;
$border_color: #da2128;
$button_hover_background_color: #fff;
$button_hover_text_color: #da2128;
$button_hover_border_color: #da2128;
$google_font_name: 'Oswald';
$site_name: 'hof_landing_page-62678';
$path: set-path($env);
$banner_image: #fff;
$bg-images: url(#{$path}/site_configs/#{$site_name}/img/classic.jpg);
$header-images: url(#{$path}/site_configs/#{$site_name}/img/pitch.jpg);

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/landing_page/landing-page.scss';

#AmentitiesContainer,
.RootBody h3{
    display: none;
}

.search-header-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), $secondary_color;
}

.events {
    min-width: 300px;
}

//For HBCU Classic ONLY -- delete after Sept.5 2021
.event-1 {
    justify-content: flex-end;
}

