@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #000;
$logo_flex_position: center;
$logo_max_width: 250px;
$background_color: #000;
$primary_color: #da2128;
$secondary_color: #166497;
$primary_text_color: #fff;
$secondary_text_color: #fff;
$border_color: #da2128;
$button_hover_background_color: #fff;
$button_hover_text_color: #da2128;
$button_hover_border_color: #da2128;
$google_font_name: 'Oswald';
$site_name: 'hof_landing_page-62678';
$path: set-path($env);
$banner_image: #fff;
$bg-images: url(#{$path}/site_configs/#{$site_name}/img/player.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/landing-page/landing-page.scss'


