$header_background: #638cc2;
$logo_flex_position: center;
$logo_max_width: 250px;
$background_color: #fff;
$secondary_background_color: '';
$primary_color: #ed1d24;
$secondary_color: #638cc2;
$primary_text_color: #fff;
$secondary_text_color: #ed1d24;
$border_color: #ed1d24;
$button_hover_background_color: #fff;
$button_hover_text_color: #ed1d24;
$button_hover_border_color: #ed1d24;
$google_font_name: 'Montserrat';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

