$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 600px;
$background_color: #fff;
$primary_color: #04539e;
$secondary_color: #00a3df;
$primary_text_color: #fff;
$secondary_text_color: #fff;
$border_color: #04539e;
$button_hover_background_color: #fff;
$button_hover_text_color: #04539e;
$button_hover_border_color: #04539e;
$google_font_name: 'Montserrat';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

