@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #002142;
$logo_flex_position: center;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #002142;
$secondary_color: #77b7f7;
$primary_text_color: #fff;
$secondary_text_color: #002142;
$border_color: #002142;
$button_hover_background_color: #77b7f7;
$button_hover_text_color: #002142;
$button_hover_border_color: #77b7f7;
$google_font_name: 'Montserrat';
$site_name: 'veronica_test_site-102126';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';

// .lucid-banner .lucid-button {
//   background: #fcb214;
//   border: 2px solid #000;
//   &:hover{
//     background: #fff;
//     border-width: 2px;
//     color: #fcb214;
//     border-color: #fcb214;
//   }
// }

// #lucid-link {
//   color: #da0097;
// }

.lucid-banner {
  background: #77b7f7;
}

.lucid-content #desktop {
  color: #002142;
}