@import '../../../styles/sass/sass-functions/func.scss';

$path: set-path($env);
$site_name: 'project_glow_22-76307';
$logo_flex_position: center;
$logo_max_width: 400px;
$header_background: url(#{$path}/site_configs/#{$site_name}/img/background.png);
$background_color: #000;
$primary_color: #f164fe;
$secondary_color: #649afe;
$primary_text_color: #fff;
$secondary_text_color: #649afe;
$border_color: #f164fe;
$button_hover_background_color: #fff;
$button_hover_text_color: #f164fe;
$button_hover_border_color: #f164fe;
$google_font_name: 'Montserrat';
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center / cover;



@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';

.lucid-banner .lucid-content span  {
  visibility: hidden;
}

@media screen and (max-width: 1800px) {
  .logo img {
    visibility: hidden;
  }
  
  header {
    background-image: url(#{$path}/site_configs/#{$site_name}/img/header.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center; 
    height: 400px;
  }
} 

@media screen and (max-width: 1250px) {
  .logo img {
    visibility: visible;
  }

  header {
    background-image: url(#{$path}/site_configs/#{$site_name}/img/background.png);
    height: auto;
  }
} 

@media screen and (max-width: 600px) {
  .logo img {
    visibility: hidden;
  }

  header {
    background-image: url(#{$path}/site_configs/#{$site_name}/img/mobile.png);
    height: auto;
  }
} 


// .lucid-banner {
//   background-color: #649afe;
// }

// .ArnRateButton .ArnShowRatesLink  {
//   border-width: 2px;
//   background: #f164fe;
//   color: #fff;
//   border-color: #f164fe;
// }

// #lucid-link {
//   color: #f164fe;
// }   


// .leaflet-container .leaflet-marker-pane img {
//     max-width: 30px !important;
// }
  // .sponsor-container{
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: flex-start;
  //   justify-content: center;
  //   background-color: #04539e;
  //   padding: 8px;
  // }
  
  // .sponsor-logo img {
  //   max-width: 50px;
  // }
  
  // .sponsor-text {
  //   font-size: 15px;
  //   font-weight: 300;
  //   color: white;
  //   // letter-spacing: 1px;
  // }
  
  // .sponsor-text-space {
  //   width: 8px;
  // }