/* I'm confused as to which classes to set widths to, I've tried many different ways but haven't worked out the correct combination.

All classes listed below are written in order of the dom tree. */

.carousel-container {
    width: auto;
    height: auto;
    margin: auto;
    border: .5px solid black;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: auto;
    height: 500px;
    transition: transform 0.8s ease-in-out;
}

.image-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-number {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

.carousel-slide .image-wrapper img{
    height: 100%;
    width: 100vw;
    border: 1px;
}

#previousBtn,
#nextBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
}

#nextBtn {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#previousBtn:hover,
#nextBtn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0);
}


  