/* Fonts */
@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/60831/fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

header {
    border-bottom: 1px solid #e9e9e9;
}

.logo img {
    padding: 0;
}

.config-container {
    background: #fff !important;
    padding: 5px 10px 0 0 !important;
}
.config-container .config-label {
    color: #666;
}

.RootBody .ArnPrimarySearchContainer {
    background: #f4f4f4;
    color: #333;
}
.ArnSupportLinks {
    background: #f4f4f4;
    color: #333;
}

.ArnSupportLinks a {
    color: #666;
}

.SinglePropDetail .SimpleSearch {
    background: #fff;
    color: #666;
}

.SinglePropDetail .SimpleSearch input,
.SinglePropDetail .SimpleSearch select {
    background-color: #f0f0f0 !important;
}

#theSubmitButton,
#theOtherSubmitButton,
.SinglePropDetail .CheckRates .submit,
.CheckOutForm #theConfirmationButton {
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #215853 !important;
    background: #215853 !important;
    color: #fff !important;
    -webkit-appearance: none;
}

.WBValidatedRegistrationFormActions input {
    -webkit-appearance: none;
}

#theSubmitButton:hover,
#theOtherSubmitButton:hover,
.CheckRates .submit:hover,
.CheckOutForm #theConfirmationButton:hover {
    background: #fff !important;
    color: #215853 !important;
}

.WBValidatedRegistrationForm #thePersonalInfoGroup label,
.WBValidatedRegistrationForm #thePassCodeAjax,
#availableUser {
    display: none;
}

.WBValidatedRegistrationForm #theUserNameAjax input,
.WBValidatedRegistrationForm #theFirstNameAjax input,
.WBValidatedRegistrationForm #theLastNameAjax input,
.WBValidatedRegistrationForm #theEditablePasswordAjax input,
.WBValidatedRegistrationForm #theEditableConfirmPasswordAjax input,
input[type='email'].email-mask,
.WBLoginFormFields input {
    background: #f0f0f0 !important;
    border: unset !important;
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    padding: 12px !important;
    color: #666 !important;
}
.WBValidatedRegistrationForm .WBValidatedRegistrationFormActions input {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px;
    font-size: 14px;
}

#commands,
#commands .logoutCommand {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    outline: none;
}

.ArnSubPage h1 {
    color: #666;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.WBForgotPasswordFormActions {
    text-align: center;
}

.RootBody .ArnSecondarySearchOuterContainer {
    color: #666;
}

.RootBody #PropertyTypesContainer {
    display: block !important;
}

.RootBody .ArnSecondarySearchOuterContainer span {
    margin-top: 6px;
}

.RootBody h1,
.RootBody h3 {
    display: none !important;
}

.RootBody .search-messaging {
    display: block;
    color: #666 !important;
    letter-spacing: 1px;
}

.RootBody .search-messaging #user-name {
    color: #666 !important;
    display: block !important;
    text-transform: uppercase;
    font-family: 'Avenir';
    font-weight: 200;
}

.RootBody .search-messaging #user-name strong {
    font-family: 'Avenir';
    font-weight: 700;
}

.RootBody .search-messaging {
    text-align: center;
    margin-top: 40px;
}

.RootBody .search-messaging h4 {
    font-family: 'Avenir';
    font-weight: 200;
}

.beat-em {
    background: #e2ad37;
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    max-width: 150px;
    margin-left: auto;
    border-radius: 40px;
    border: 4px solid #e2ad37
}

.ArnRateButton {
    width: 100%;
    max-width: 150px !important;
}

.ArnRateButton a,
.bookRoom,
.holdRoom {
    border-radius: 40px;
    background: #fff;
    color: #215853;
    border: 2px solid #215853;
    padding: 6px 12px;
}

.ArnRateButton a:hover,
.bookRoom:hover,
.holdRoom:hover {
    background: #215853;
    color: #fff;
    border: 2px solid #215853;
}

.LoginAction.submit,
#register-btn a,
.RegisterAction.submit,
.SendMeNewPasswordAction.submit,
#moreRatesLink,
.WBSupportForm .SendRequestAction {
    border-radius: 40px;
    background: #215853;
    color: #fff;
    border: 2px solid #215853 !important;
    padding: 12px;
}

.LoginAction.submit:hover,
#register-btn a:hover,
.RegisterAction.submit:hover,
.SendMeNewPasswordAction.submit:hover,
.WBSupportForm .SendRequestAction:hover {
    background: #fff;
    color: #215853;
    border: 2px solid #215853;
}

.SinglePropDetail .beat-em {
    margin-left: 10px;
}

.SearchHotels .originalPrice,
.SinglePropDetail .originalPrice {
    display: block !important;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.SearchHotels .ArnPrimarySearchContainer {
    background: #fff;
    color: #666;
}

.SearchHotels .ArnPriceCell .mainRate {
    padding-right: 42px;
}

.SearchHotels #theSearchBox input,
.SearchHotels #theSearchBox select {
    background-color: #f0f0f0;
}

.SearchHotels .ArnPrimarySearchOuterContainer div.ArnSearchHeader {
    display: none;
}

.SearchHotels .ArnPrimarySearchOuterContainer {
    margin-top: 13px;
}

.ratingCount {
    padding: 8px !important;
    border-radius: 20px;
}

.reviewCount {
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.CheckOutForm .originalPrice {
    display: block !important;
    text-decoration: line-through;
    font-size: 13px;
}

.CheckOutForm .total-points-earned td {
    font-family: 'Avenir';
}

.SinglePropDetail .originalPrice {
    font-size: 15px;
}

#theBookingPage legend {
    font-weight: normal;
}

.full-stay {
    display: none;
}

.SinglePropDetail #moreRatesLink {
    width: 200px;
    height: 35px;
}

.SinglePropDetail .points-earned {
    font-size: 15px;
    background: #215853;
    color: #fff;
    width: 300px;
    text-align: center;
    padding: 7px 0;
    position: absolute;
    bottom: 60px;
    border-radius: 40px;
}

.SinglePropDetail .ArnLeftListContainer {
    padding-top: 108px;
}

.SinglePropDetail .translateMe {
    display: none !important;
}

.roomCount {
    color: #e2ad37;
}

.organizationsCommand {
    display: none;
}

.MemberNotAuthenticated .redeem-promocode-container {
    display: none;
}

.MemberNotAuthenticated #theUserNameAjax label,
.MemberNotAuthenticated #thePasswordAjax label {
    display: none;
}

.MemberNotAuthenticated #theUserNameAjax input,
.MemberNotAuthenticated #thePasswordAjax input,
.MemberNotAuthenticated #new-user-text,
.MemberNotAuthenticated #theWBLoginFormBody h1,
.MemberNotAuthenticated .ForgotPasswordAction {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: 100;
}
.ArnSupportLinks {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
}

.MemberNotAuthenticated #theUserNameAjax input,
.MemberNotAuthenticated #thePasswordAjax input {
    border: unset;
    background-color: #f0f0f0;
    width: 100%;
    padding: 12px !important;
}

.MemberNotAuthenticated #new-user-text strong,
.MemberNotAuthenticated #theWBLoginFormBody strong {
    font-family: 'Avenir';
    font-weight: 700;
    letter-spacing: 1px;
}

.MemberNotAuthenticated #new-user-text {
    font-size: 30px;
    margin-top: 50px;
}

.MemberNotAuthenticated .CreateAnAccountAction {
    width: 100%;
    letter-spacing: 1px;
}

.MemberNotAuthenticated #register-btn {
    text-align: center;
}

.MemberNotAuthenticated .LoginAction,
.SendMeNewPasswordAction.submit,
.ArnShowRatesLink,
.bookRoom,
.holdRoom,
#moreRatesLink,
.GuestForms legend,
.WBSupportFormActions .SendRequestAction {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Avenir';
    outline: none;
    -webkit-appearance: none;
}

.pb-container {
    display: none;
}

.MemberNotAuthenticated .WBLoginFormActions {
    display: flex;
    flex-direction: column;
}

.message-content h1 {
    display: block !important;
}

.ArnSearchHeader {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 25px;
}

.SearchHotels .sort-wrapper h4,
.SearchHotels .lblAmenities,
.SearchHotels .lblRating {
    font-family: 'Avenir';
    font-weight: 700;
    letter-spacing: 1px;
}

.CheckOutForm #theConfirmationPoliciesAjax {
    margin-top: 10px;
}

.CheckOutForm .theHotelAddress {
    display: block;
    text-align: left;
}

#theBookingPage .PaymentPolicies {
    border: none;
    background: #f4f4f4;
    color: #666;
}

.totalsTable tr th,
.totalsTable tr td {
    background: #f4f4f4;
    color: #666;
}

.theHotelName {
    color: #666;
}

.lowRateLink,
.lowRateLink + .dvd,
.cancelLink,
.supportLink + .dvd {
    display: none;
}


.ArnSubPage h1 {
    color: #666;
}

.ArnSubPage.WBSupportForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 96px;
}
.WBSupportForm .FormFields {
    margin-top: 6px;
}

.WBSupportForm .SSForm {
    grid-column-start: 1;
    grid-row-start: 2;
}

.WBSupportForm input,
.WBSupportForm select,
.WBSupportForm textarea {
    background: #f0f0f0;
    color: #666;
    border: none;
    width: 100%;
    padding: 12px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-color: ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: 0;
}

.WBSupportForm .ArnSupportChatTable {
    grid-column-start: 2;
    grid-row-start: 2;
}

.WBSupportForm .ArnSupportChatTable td p:first-of-type,
.WBSupportForm .ArnSupportChatTable td div + p + p {
    display: none;
}

.WBSupportForm .SSForm .FormFields label {
    display: none;
}

.useCancelFormWarning {
    display: none;
}

.support-details {
    background: #f4f4f4;
    color: #666;
    padding: 30px;
    line-height: 1.7;
}

.support-details h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.support-details a {
    color: #215853;
    text-decoration: none;
}

.support-details p {
    margin: 0;
}

.support-details p:last-child {
    margin-top: 18px;
}

#theHotelAddress {
    display: block !important;
    text-align: left !important;
}

#AdminControlsContainer {
    justify-content: flex-end;
    padding: 12px;
}

.static-rewardsLink,
 #commands .rewards,
 .static-bookingLink + .dvd{
    display: none;
}

@media screen and (max-width: 1200px) {
    .ArnSubPage {
        padding: 12px;
    }
}

@media screen and (max-width: 1105px) {
    .SearchHotels .ArnPrimarySearchOuterContainer {
        margin-top: 50px;
    }

    .SinglePropDetail .ArnLeftListContainer {
        padding-top: 61px;
    }
}

@media screen and (min-width: 900px) {
    .RootBody .ArnPrimarySearchContainer {
        width: 60vw;
        max-width: 800px;
        min-width: 700px;
    }

    .RootBody #CitySearchContainer {
        width: 30vw;
    }
}

@media screen and (max-width: 800px) {
    .ArnSubPage.WBSupportForm {
        grid-template-columns: 1fr;
    }

    .WBSupportForm .SSForm {
        grid-row-start: 3;
        grid-column-start: 1;
        width: 100%;
    }
    .WBSupportForm .ArnSupportChatTable {
        grid-row-start: 2;
        grid-column-start: 1;
        width: 100%;
        margin-bottom: 24px;
    }

    .support-details {
        padding: 18px;
    }

    .RootBody .ArnPrimarySearchContainer #AmentitiesContainer,
    .RootBody .ArnPrimarySearchContainer #PropertyClassesContainer,
    .RootBody .ArnPrimarySearchContainer #PropertyTypesContainer {
        display: none !important;
    }

    .RootBody #theOtherSubmitButton {
        width: 100%;
        max-width: 400px;
    }

    .currencies-container {
        margin: 4px auto;
        background: #fff;
        padding: 6px;
    }

    .SearchHotels .currencies-container {
        background: #f0f0f0;
    }

    .currencies-container #currency-label {
        color: #666;
        border-bottom: unset;
        justify-content: space-between;
        margin: unset;
        width: 100%;
    }

    .config-label .arrow {
        margin-right: 10px;
    }

    .RootBody .currency {
        display: block;
        width: 100%;
    }

    .RootBody #language {
        order: 2;
    }

    .RootBody .dropdown {
        width: 100%;
        grid-template-columns: 50% 50%;
        z-index: 400;
        position: unset;
        margin: auto;
    }

    .SearchHotels .currencies-container{
        position: relative;
        z-index: 8;
    }

    .SearchHotels .currencies-container #currency-label {
        margin: 0 0 0 10px;
    }

    .SearchHotels .dropdown {
        margin: 2% 2%;
        grid-template-columns: 50% 50%;
    }

    .SinglePropDetail .points-earned {
        width: unset;
        background: unset;
        color: #666;
        top: 120px;
        left: 9px;
    }
}

@media screen and (max-width: 600px) {
    .MemberNotAuthenticated header {
        display: unset;
    }

    .MemberNotAuthenticated .info-banner {
        display: unset;
    }

    .SearchHotels .ArnRateCell {
        width: 100%;
    }

    .SearchHotels .ArnPrimarySearchOuterContainer {
        margin-top: 0px !important;
    }

    .SearchHotels .beat-em {
        align-self: center;
        justify-self: center;
        margin-left: unset;
    }

    .SearchHotels .ArnPriceCell {
        align-self: end;
        margin-left: 10px;
    }

    .SearchHotels .ArnRateButton {
        align-self: center;
        justify-self: center;
    }

    .SearchHotels div.beat-em {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        margin: 5px;
        z-index: 1;
    }

    .SinglePropDetail .beat-em {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        max-width: 150px;
        width: 100%;
        align-self: flex-end;
        justify-self: flex-end;
    }

    .SinglePropDetail .bookRoom {
        grid-row: 2 / 3;
        max-width: 150px;
        align-self: flex-end;
        justify-self: flex-end;
        margin: 0 0 10px 0;
    }

    .SinglePropDetail .ArnNightlyRate {
        grid-row: 2 / 3;
    }

    .SinglePropDetail .holdRoom {
        max-width: 145px;
    }

    .SinglePropDetail .bookRoomCell {
        grid-template-rows: 1fr .5fr .25fr;
        grid-template-columns: 45% 55%;
    }

    .SinglePropDetail .points-earned {
        width: unset;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        top: unset;
        bottom: unset;
        background: unset;
        position: unset;
        padding: unset;
        color: #666;
        align-self: flex-end;
        justify-self: flex-start;
        margin-bottom: 5px;
    }

    .SinglePropDetail .ArnRateCancelAnchor {
        justify-self: end;
        padding-right: 18px;
    }

    .CheckOutForm #confirmCheckBox {
        width: 26px;
        border-radius: 3px;
    }

    .CheckOutForm .confirmationWarning input.checkbox {
        width: 44px;
        border-radius: 3px;
    }
}
