/* Fonts */
@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/60831/fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.logo img{
    padding: 0;
}

.config-container {
    background: #fff !important;
    padding: 5px 10px 0 0 !important;
}
.config-container .config-label {
    color: #333;
}

.RootBody .ArnPrimarySearchContainer {
    background: #F0F1F2;
    color: #333;
}
.ArnSupportLinks {
    background: #F0F1F2;
    color: #333;
}

.ArnSupportLinks a {
    color: #333;
}

.SinglePropDetail .SimpleSearch {
    background: #fff;
    color: #666;
}

.SinglePropDetail .SimpleSearch input, .SinglePropDetail .SimpleSearch select {
    background-color: #F0F0F0 !important;
}

#theSubmitButton, #theOtherSubmitButton, .SinglePropDetail .CheckRates .submit, .CheckOutForm #theConfirmationButton {
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #215853 !important;
    background: #215853 !important;
    color: #fff !important;
}

#theSubmitButton:hover, #theOtherSubmitButton:hover, .CheckRates .submit:hover, .CheckOutForm #theConfirmationButton:hover {
    background: #fff !important;
    color: #215853 !important;
}

.WBValidatedRegistrationForm #thePersonalInfoGroup label, .WBValidatedRegistrationForm #thePassCodeAjax {
    display: none;
}

.WBValidatedRegistrationForm #theUserNameAjax input, .WBValidatedRegistrationForm #theFirstNameAjax input, .WBValidatedRegistrationForm #theLastNameAjax input, .WBValidatedRegistrationForm #theEditablePasswordAjax input, .WBValidatedRegistrationForm #theEditableConfirmPasswordAjax input {
    background: #F0F1F2;
    border: unset;
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
}
.WBValidatedRegistrationForm .WBValidatedRegistrationFormActions input {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#commands, #commands .logoutCommand {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ArnSubPage h1 {
    color: #333;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.WBForgotPasswordFormActions {
    text-align: center;
}

.RootBody .ArnSecondarySearchOuterContainer {
    color: #333;
}

.RootBody #PropertyTypesContainer {
    display: block !important;
}

.RootBody .ArnSecondarySearchOuterContainer span {
    margin-top: 6px;
}

.RootBody h1, .RootBody h3{
    display: none !important;
}

.RootBody .search-messaging {
    display: block;
    color: #333 !important;
    letter-spacing: 1px;
}

.RootBody .search-messaging #user-name {
    color: #333 !important;
    display: block !important;
    text-transform: uppercase;
    font-family: 'Avenir';
    font-weight: 200;
}

.RootBody .search-messaging #user-name strong {
    font-family: 'Avenir';
    font-weight: 700;
}

.RootBody .search-messaging {
    text-align: center;
    margin-top: 40px;
}

.RootBody .search-messaging h4 {
    font-family: 'Avenir';
    font-weight: 200;
}

.beat-em {
    background: #e2ad37;
    color: #fff;
    text-align: center;
    padding: 9px 10px;
    max-width: 150px;
    margin-left: auto;
    border-radius: 40px;
}

.ArnRateButton {
    width: 100%;
    max-width: 135px !important;
}

.ArnRateButton a, .bookRoom, .holdRoom {
    border-radius: 40px;
    background: #fff;
    color: #215853;
    border: 2px solid #215853;
    padding: 6px 12px;
}

.ArnRateButton a:hover, .bookRoom:hover, .holdRoom:hover {
    background: #215853;
    color: #fff;
    border: 2px solid #215853;
}

.LoginAction.submit, #register-btn a, .RegisterAction.submit, .SendMeNewPasswordAction.submit, #moreRatesLink {
    border-radius: 40px;
    background: #215853;
    color: #fff;
    border: 2px solid #215853 !important;
    padding: 6px 12px;
}

.LoginAction.submit:hover, #register-btn a:hover, .RegisterAction.submit:hover, .SendMeNewPasswordAction.submit:hover {
    background: #fff;
    color: #215853;
    border: 2px solid #215853;
}

.SinglePropDetail .beat-em {
    margin-left: 10px;
}

.SearchHotels .originalPrice, .SinglePropDetail .originalPrice {
    display: block !important;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.SearchHotels .ArnPrimarySearchContainer {
    background: #fff;
    color:#666
}

.SearchHotels .ArnPriceCell .mainRate {
    padding-right: 42px;
}

.SearchHotels #theSearchBox input, .SearchHotels #theSearchBox select {
    background-color: #F0F0F0;
}

.CheckOutForm .originalPrice {
    display: block !important;
    text-decoration: line-through;
    font-size: 13px;
}

.CheckOutForm .total-points-earned td{
    font-family: 'Avenir';
}

.SinglePropDetail .originalPrice {
    font-size: 15px;
}

#theBookingPage legend{
    font-weight: normal;
}

.full-stay {
    display: none;
}

.SinglePropDetail #moreRatesLink {
    width: 200px;
    height: 35px;
}

.SinglePropDetail .points-earned {
    font-size: 15px;
    background: #215853;
    color: #fff;
    width: 300px;
    text-align: center;
    padding: 7px 0;
    position: absolute;
    bottom: 30px;
    border-radius: 40px;
}

.roomCount {
    color: #e2ad37;
}

.organizationsCommand {
    display: none;
}

.MemberNotAuthenticated .redeem-promocode-container {
    display: none;
}

.MemberNotAuthenticated #theUserNameAjax label, .MemberNotAuthenticated #thePasswordAjax label {
    display: none;
}

.MemberNotAuthenticated #theUserNameAjax input, .MemberNotAuthenticated #thePasswordAjax input, .MemberNotAuthenticated #new-user-text, .MemberNotAuthenticated #theWBLoginFormBody h1, .MemberNotAuthenticated .ForgotPasswordAction {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: 100;
}
.ArnSupportLinks {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
}

.MemberNotAuthenticated #theUserNameAjax input, .MemberNotAuthenticated #thePasswordAjax input {
    border: unset;
    background-color: #F0F1F2;
    width: 100%;
}

.MemberNotAuthenticated #new-user-text strong, .MemberNotAuthenticated #theWBLoginFormBody strong {
    font-family: 'Avenir';
    font-weight: 700;
    letter-spacing: 1px;
}

.MemberNotAuthenticated #new-user-text {
    font-size: 30px;
    margin-top: 50px;
}

.MemberNotAuthenticated .CreateAnAccountAction {
    width: 100%;
    letter-spacing: 1px;
}

.MemberNotAuthenticated #register-btn {
    text-align: center;
}

.MemberNotAuthenticated .LoginAction, .SendMeNewPasswordAction.submit, .ArnShowRatesLink, .bookRoom, .holdRoom, #moreRatesLink, .GuestForms legend
{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Avenir';
    outline: none;
}

.pb-container {
    display: none;
}

.MemberNotAuthenticated .WBLoginFormActions {
    display: flex;
    flex-direction: column;
}

.message-content h1 {
    display: block !important;
}

.ArnSearchHeader {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 25px;
}

.SearchHotels .sort-wrapper h4, .SearchHotels .lblAmenities, .SearchHotels .lblRating {
    font-family: 'Avenir';
    font-weight: 700;
    letter-spacing: 1px;
}

.CheckOutForm #theConfirmationPoliciesAjax {
    margin-top: 10px;
}

.CheckOutForm .theHotelAddress {
    display: block;
    text-align: left;
}

@media screen and (min-width: 900px) {
    .RootBody .ArnPrimarySearchContainer {
        width: 60vw;
        max-width: 800px;
        min-width: 700px;
    }
    
    .RootBody #CitySearchContainer {
        width: 30vw;
    }
}

@media screen and (max-width: 600px) {
    .SearchHotels .ArnRateCell {
        width: 100%;
    }

    .SearchHotels .beat-em {
        align-self: center;
        justify-self: center;
        margin-left: unset;
    }

    .SearchHotels .ArnPriceCell {
        align-self: end;
        margin-left: 10px;

    }

    .SearchHotels .ArnRateButton {
        align-self: center;
        justify-self: center;
    }

    .SearchHotels div.beat-em {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        margin: 5px;
        z-index: 1;
    }

    .SinglePropDetail .beat-em {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        max-width: 145px;
        width: 100%;
        align-self: center;
        justify-self: center;
        margin: 8px auto;
    }

    .SinglePropDetail .bookRoom {
        grid-row: 2 / 3;
        max-width: 145px;
        align-self: center;
    }

    .SinglePropDetail .ArnNightlyRate {
        grid-row: 2 / 3;
    }

    .SinglePropDetail .holdRoom {
        max-width: 145px;
    }

    .SinglePropDetail .points-earned {
        width: unset;
        padding: 4px 10px;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        top: 97px;
        bottom: unset;
    }
}

.lowRateLink,
.lowRateLink + .dvd,
.cancelLink,
.supportLink + .dvd{
    display: none;
}

@media screen and (max-width: 1200px){
    .ArnSubPage{
        padding: 12px;
    }
}

.ArnSubPage h1{
    color: #333;
}

.ArnSubPage.WBSupportForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 96px;

}
.WBSupportForm .FormFields{
    margin-top: 6px;
}

.WBSupportForm .SSForm{
    grid-column-start: 1;
    grid-row-start: 2;
}

.WBSupportForm input,
.WBSupportForm select,
.WBSupportForm textarea{
    background: #f0f0f0;
    color: #666;
    border: none;
    width: 100%;
    padding: 12px !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    border-color: ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: 0;
}

.WBSupportForm .ArnSupportChatTable{
    grid-column-start: 2;
    grid-row-start: 2;
}

.WBSupportForm .ArnSupportChatTable td p:first-of-type,
.WBSupportForm .ArnSupportChatTable td div + p + p{
    display: none;
}

.WBSupportForm .SendRequestAction{
    background: #215853;
    color: #fff;
}

.WBSupportForm .SSForm .FormFields label{
    display: none;
}

.useCancelFormWarning{
    display: none;
}

.support-details{
    background: #f4f4f4;
    color: #666;
    padding: 30px;
    line-height: 1.7;
}

.support-details h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.support-details a{
    color: #215853;
    text-decoration: none;
}

.support-details p{
    margin: 0;
}

.support-details p:last-child{
    margin-top:18px;
}

@media screen and (max-width: 800px){
    .ArnSubPage.WBSupportForm{
        grid-template-columns: 1fr;
    }

    .WBSupportForm .SSForm{
        grid-row-start: 3;
        grid-column-start: 1;
        width: 100%;
    }
    .WBSupportForm .ArnSupportChatTable{
        grid-row-start: 2;
        grid-column-start: 1;
        width: 100%;
        margin-bottom: 24px;
    }

    .support-details{
        padding: 18px;
    }
}

