/* Fonts */
@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/60831/fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.logo img{
    padding: 0;
}

.config-container {
    background: #fff !important;
    padding: 5px 10px 0 0 !important;
}
.config-container .config-label {
    color: #333;
}

.RootBody .ArnPrimarySearchContainer {
    background: #F0F1F2;
    color: #333;
}
.ArnSupportLinks {
    background: #F0F1F2;
    color: #333;
}

.ArnSupportLinks a {
    color: #333;
}

.WBValidatedRegistrationForm #thePersonalInfoGroup label, .WBValidatedRegistrationForm #thePassCodeAjax {
    display: none;
}

.WBValidatedRegistrationForm #theUserNameAjax input, .WBValidatedRegistrationForm #thefirstNameAjax input[type='text'], .WBValidatedRegistrationForm #theLastNameAjax input, .WBValidatedRegistrationForm #theEditablePasswordAjax input, .WBValidatedRegistrationForm #theEditableConfirmPasswordAjax input {
    background: #F0F1F2;
    border: unset;
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
}
.WBValidatedRegistrationForm .WBValidatedRegistrationFormActions input {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#commands, #commands .logoutCommand {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.RootBody .ArnSecondarySearchOuterContainer {
    color: #333;
}

.RootBody #PropertyTypesContainer {
    display: block !important;
}

.RootBody h1, .RootBody h3{
    display: none !important;
}

.RootBody .search-messaging {
    display: block;
    color: #333 !important;
    letter-spacing: 1px;
}

.RootBody .search-messaging #user-name {
    color: #333 !important;
    display: block !important;
    text-transform: uppercase;
    font-family: 'Avenir';
    font-weight: 200;
}

.RootBody .search-messaging #user-name strong {
    font-family: 'Avenir';
    font-weight: 700;
}

.RootBody .search-messaging {
    text-align: center;
    margin-top: 40px;
}

.RootBody .search-messaging h4 {
    font-family: 'Avenir';
    font-weight: 200;
}

.beat-em {
    background: #e2ad37;
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    max-width: 150px;
    margin-left: auto;
}

.SinglePropDetail .beat-em {
    margin-left: 10px;
}

.SearchHotels .originalPrice, .SinglePropDetail .originalPrice {
    display: block !important;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.CheckOutForm .originalPrice {
    display: block !important;
    text-decoration: line-through;
    font-size: 13px;
}

.CheckOutForm .total-points-earned td{
    font-family: 'Avenir';
}

.SinglePropDetail .originalPrice {
    font-size: 15px;
}

#theBookingPage legend{
    font-weight: normal;
}

.full-stay {
    display: none;
}

.SinglePropDetail .points-earned {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 800;
}

.roomCount {
    color: #e2ad37;
}

.organizationsCommand {
    display: none;
}

.MemberNotAuthenticated .redeem-promocode-container {
    display: none;
}

.MemberNotAuthenticated #theUserNameAjax label, .MemberNotAuthenticated #thePasswordAjax label {
    display: none;
}

.MemberNotAuthenticated #theUserNameAjax input, .MemberNotAuthenticated #thePasswordAjax input, .MemberNotAuthenticated #new-user-text, .MemberNotAuthenticated #theWBLoginFormBody h1, .MemberNotAuthenticated .ForgotPasswordAction {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: 100;
}
.ArnSupportLinks {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
}

.MemberNotAuthenticated #theUserNameAjax input, .MemberNotAuthenticated #thePasswordAjax input {
    border: unset;
    background-color: #F0F1F2 ;
}

.MemberNotAuthenticated #new-user-text strong, .MemberNotAuthenticated #theWBLoginFormBody strong {
    font-family: 'Avenir';
    font-weight: 700;
    letter-spacing: 1px;
}

.MemberNotAuthenticated #new-user-text {
    font-size: 30px;
    margin-top: 50px;
}

.MemberNotAuthenticated .CreateAnAccountAction {
    width: 100%;
    letter-spacing: 1px;
}

.MemberNotAuthenticated #register-btn {
    text-align: center;
}

.MemberNotAuthenticated .LoginAction {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.pb-container {
    display: none;
}

.MemberNotAuthenticated .WBLoginFormActions {
    display: flex;
    flex-direction: column;
}

.message-content h1 {
    display: block !important;
}

.ArnSearchHeader {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 25px;
}

.SearchHotels .sort-wrapper h4, .SearchHotels .lblAmenities, .SearchHotels .lblRating {
    font-family: 'Avenir';
    font-weight: 700;
    letter-spacing: 1px;
}

@media screen and (min-width: 900px) {
    .RootBody .ArnPrimarySearchContainer {
        width: 60vw;
        max-width: 800px;
        min-width: 700px;
    }
    
    .RootBody #CitySearchContainer {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .SearchHotels .ArnRateCell {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 60%;
    }

    .SearchHotels .beat-em {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        align-self: center;
        justify-self: center;
        margin-left: unset;
    }

    .SearchHotels .ArnPriceCell {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        align-self: end;
        margin-left: 10px;

    }

    .SearchHotels .ArnRateButton {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        align-self: center;
        justify-self: center;
    }

    .ArnRateButton a {
        margin: auto;
    }

}