/* Fonts */
@font-face {
    font-family: 'Avenir-Light';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Black';
    src: url('https://static.hotelsforhope.com/portals/child-portals/cug/60831/fonts/Avenir-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Meduim';
    src: url('https://dev-static.hotelsforhope.com/portals/child-portals/cug/62011/fonts/Avenir-Meduim.ttf') format('truetype');
}

.RootBody .ArnPrimarySearchContainer {
    background: #F0F1F2;
    color: #333;
}

.RootBody .ArnSecondarySearchOuterContainer {
    color: #333;
}

.RootBody #PropertyTypesContainer {
    display: block !important;
}

.RootBody h1, .RootBody h3{
    display: none !important;
}

.RootBody .search-messaging {
    display: block;
    color: #333 !important;
    letter-spacing: 1px;
}

.RootBody .search-messaging #user-name {
    color: #333 !important;
    display: block !important;
    text-transform: uppercase;
    font-family: 'Avenir-Light';
}

.RootBody .search-messaging #user-name strong {
    font-family: 'Avenir-Black';
}

.RootBody .search-messaging h4 {
    font-family: 'Avenir-Light';
}

.beat-em {
    background: #e2ad37;
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    max-width: 150px;
    margin-left: auto;
}

.SinglePropDetail .beat-em {
    margin-left: 10px;
}

.SearchHotels .originalPrice, .SinglePropDetail .originalPrice {
    display: block !important;
    text-decoration: line-through;
    font-size: 15px;
    margin-top: 10px;
}

.SinglePropDetail .originalPrice {
    font-size: 15px;
}


.full-stay {
    display: none;
}

.SinglePropDetail .points-earned {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 800;
}