@font-face {
    font-family: 'F1-Black';
    src: url('https://media.travsrv.com/appSkins/45249/v6/themes/standard/Formula1-Display-Black_web.eot?#iefix') format("embedded-opentype"), url("https://media.travsrv.com/appSkins/45249/v6/themes/standard/Formula1-Display-Black_web.ttf") format("truetype");
}

@font-face {
    font-family: 'F1-Bold';
    src: url('https://media.travsrv.com/appSkins/45249/v6/themes/standard/Formula1-Display-Bold_web.eot?#iefix') format("embedded-opentype"), url("https://media.travsrv.com/appSkins/45249/v6/themes/standard/Formula1-Display-Bold_web.ttf") format("truetype");
}

@font-face {
    font-family: 'F1-Regular';
    src: url('https://media.travsrv.com/appSkins/45249/v6/themes/standard/Formula1-Display-Regular_web.eot?#iefix') format("embedded-opentype"), url("https://media.travsrv.com/appSkins/45249/v6/themes/standard/Formula1-Display-Regular_web.ttf") format("truetype");
}

@font-face {
    font-family: 'F1-Wide';
    src: url('https://media.travsrv.com/appSkins/45249/v6/themes/standard/Formula1-Display-Wide_web.eot?#iefix') format("embedded-opentype"), url("https://media.travsrv.com/appSkins/45249/v6/themes/standard/Formula1-Display-Wide_web.ttf") format("truetype");
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Titillium Web', 'sans-serif';
    font-size: 14px;
    background: #f7f4f1;
}

.secondary-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.secondary-nav a {
    color: #15151e;
    text-transform: uppercase;
}

.primary-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #e10600;
    color: #fff;
    padding: 24px;
}

.primary-nav img {
    max-width: 300px;
    margin-right: 64px;
}

.primary-nav a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'F1-Regular', 'Helvetica';
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: url('images/banner.jpg') no-repeat center center /cover;
    height: 500px;
    text-transform: uppercase
}

.banner h1 {
    font-family: 'F1-Bold', 'Helvetica';
}

.banner a {
    background: #fff;
    color: #15151e;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 18px;
    display: inline-block;
}

section {
    margin-top: 42px;
}

section p {
    padding: 8px 0;
}

section h1 {
    font-family: 'F1-Bold', 'Helvetica';

}

section h3 {
    text-transform: uppercase;
    font-family: 'F1-Regular', 'Helvetica';

}

.race {
    background-color: #fff;
    margin: 6px 0;
    justify-content: space-between;
    height: 90px;
}

.race,
.race-info {
    display: flex;
    align-items: center;
}

.race-info {
    width: 65%;
}

.race-location {
    display: flex;
    margin-right: 5px;
}

.date {
    border-right: 2px dotted #E7E7E7;
    width: 20%;
}

.days {
    text-align: center;
    font-size: 22px;
    font-family: 'F1-Regular', 'Helvetica';
}

.month {
    text-transform: uppercase;
    text-align: center;
    background-color: #E7E7E7;
    border-radius: 10px;
    width: 40%;
    margin: auto;
}

.name {
    text-transform: uppercase;
    font-family: 'F1-Bold', 'Helvetica';
}

.race a {
    text-transform: uppercase;
    color: #333;
    border: 1px solid #E7E7E7;
    padding: 7px 10px;
    border-radius: 7px;
    margin-right: 15px;
}

.country-flag {
    width: 11%;
    border-radius: 5px;
    margin: 0 12px 0 20px;
}

fieldset {
    border-top: 10px solid #e10600;
    border-right: 10px solid #e10600;
    border-bottom: 10px solid #e10600;
    border-radius: 0 25px 25px 0;
    padding: 24px 24px 24px 0;
}

#lower-section {
    background-color: #fff;
}

#page-lower {
    background: #fff;
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

.why-book-here {
    padding-top: 50px;
}

.why-book-here h4 {
    font-family: 'F1-Bold', 'Helvetica';
    padding-bottom: 5px;
    border-bottom: 4px solid #121117;
}

.tiles {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.tile{
    max-width: 33%;
}

.tile img {
    width: 100%;
    height: 150px;
    align-self: center;
    object-fit: cover;
    object-position: center;
}

#rewards {
    margin: 0 25px;
}

.tile-content {
    padding: 15px 15px 15px 0;
    border-bottom: 1px solid #D5D5D6;
    border-right: 1px solid #D5D5D6;
    border-radius: 0 0 15px 0;
    margin-top: 25px;
    min-height: 130px;
}

.tile-content p {
    padding: 5px 0 0 0;
}

.tile-content h5 {
    font-family: 'F1-Regular';
}

.f1-experiences {
    padding: 60px 0;
}

.f1-experiences img {
    margin-bottom: 15px;
}

.f1-experiences p {
    border-top: 4px solid #121117;
    padding: 25px 0;
}

.f1-experiences a {
    text-transform: uppercase;
    color: #fff;
    background-color: #e10600;
    border: 1px solid #E7E7E7;
    padding: 7px 10px;
    border-radius: 7px;
}

.footer-bottom {
    background: #121117;
}

footer fieldset {
    border: none;
    padding: 0;
}

.footer-top {
    background-color: #333;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
}

.mobile-app {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.download {
    width: 25%;
    text-align: center;
    font-family: 'Titillium Web', 'sans-serif';
    text-transform: uppercase;
    font-size: 14px;
}

.mobile-app img {
    margin: 0 5px;
    cursor: pointer;
}

.social-media {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 10px 0;
}

.social-logo {
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
    margin: 0 8px;
    cursor: pointer;
}

.social-logo img {
    align-self: center;
}

.footer-nav {
    margin-top: 35px;
    background-color: #121117;
    color: #fff;
    border-right: 10px solid #38383f;
    border-bottom: 10px solid #38383f;
    border-radius: 0 0 25px 0;
    display: flex;
    justify-content: space-between;
    font-family: 'F1-Regular';
    font-size: 12px;
}

.footer-nav h4 {
    font-size: 14px;
}

.footer-nav img {
    height: 10%;
    margin-right: 20px;
}

.footer-nav li {
    list-style: none;
    padding: 7px 0;
    cursor: pointer;
}

.footer-nav li:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#38383f;
    height: 1px;
    margin: 40px 0;
}

.privacy-links {
    margin-top: 15px;
}

.privacy-links a {
    margin: 5px;
    color: #fff;
    text-transform: uppercase;
}

.trademark-details {
    color: #333;
    padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .race {
        height: unset;
        padding: 10px 0;
    }

    .race-location {
        align-items: center;
    }

    .date {
        padding-right: 20px;
        width: 100%;
    }

    .days {
        font-size: 12px;
    }

    .country-flag {
        width: 20%;
        height: 15%;
    }

    .book-btn {
        display: none;
    }

    .why-book-here {
        display: flex;
        flex-direction: column;
    }

    .tiles {
        flex-direction: column;
    }

    .f1-experiences {
        margin: 50px 0
    }

    .footer-top .container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .download {
        width: 100%;
        padding: 10px 0;
    }

    .mobile-app {
        flex-direction: column;
        padding-bottom: 15px;
        border-bottom: 2px solid black;
        width: 100%;
    }

    .footer-nav img {
        display: none;
    }

    .footer-nav ul {
        width: 100%;
    }

    .footer-nav li {
        border-bottom: 1px solid #38383f;
    }

    .tile-content {
        margin-top: 15px;
    }

    #rewards {
        margin: 25px 0;
    }
}