@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #14141d;
$logo_flex_position: space-between;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #e10600;
$secondary_color: #333;
$primary_text_color: #fff;
$secondary_text_color: #333;
$border_color: #e10600;
$button_hover_background_color: #fff;
$button_hover_text_color: #e10600;
$button_hover_border_color: #e10600;
$google_font_name: 'Titillium Web';
$header_font_name: 'F1-Regular';
$site_name: 'f1_portugal_20-54494';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)), url(#{$path}/clients/formula_1/images/f1-bg-1.jpg) no-repeat center center /cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../styles/sass/f1.scss';


.SearchHotels .leaflet-pane.leaflet-marker-pane img:last-child {
    display: none !important;
}

.show-mobile-nav{
    transform: translateY(400px);
}

@media screen and (max-width: 400px){
    .show-mobile-nav {
        transform: translateY(357px);
    }
}

.averageNightly{
    font-family: 'F1-Regular', 'Titillium Web', 'Helvetica';
}
