$header_background: e10600;
$logo_flex_position: space-between;
$logo_max_width: 300px;
$background_color: fff;
$secondary_background_color: '';
$primary_color: e10600;
$secondary_color: 333;
$primary_text_color: fff;
$secondary_text_color: 333;
$border_color: e10600;
$button_hover_background_color: fff;
$button_hover_text_color: e10600;
$button_hover_border_color: e10600;
$google_font_name: 'Titillium Web';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

.SearchHotels .leaflet-pane.leaflet-marker-pane img:last-child {
    display: none !important;
}