@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #e10600;
$logo_flex_position: space-between;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #e10600;
$secondary_color: #333;
$primary_text_color: #fff;
$secondary_text_color: #333;
$border_color: #e10600;
$button_hover_background_color: #fff;
$button_hover_text_color: #e10600;
$button_hover_border_color: #e10600;
$google_font_name: 'Titillium Web';
$site_name: 'f1_portugal_20-54494';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)), url(#{$path}/html/f1/img/f1-bg-1.jpg) no-repeat center center /cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';

.SearchHotels .leaflet-pane.leaflet-marker-pane img:last-child {
    display: none !important;
}