<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="modal.scss" />
    <title>modal</title>
  </head>

  <body>
      <div class='modal-container'>
        <button id='x-button' class='button-close-modal'>x</button>
        <div id='modal-title'></div>
        <div class='modal-body-container'></div>
        <script src="script.js"></script>
      </div>
  </body>
</html>