body {
    font-size: 17px !important;
    font-weight: 300;
    background: #fff;
    color: #15151E;
    line-height: 1.4;
}

.ArnSubPage td {
    font-size: 15px !important;
    font-weight: 300;
    color: #15151E;
}

.RootBody .ArnSearchContainerMainDiv {
    background: url(https://static.hotelsforhope.com/portals/child-portals/noLRG/58192/images/banner.jpg) no-repeat top center /cover !important;
}

header {
    background: url('https://static.hotelsforhope.com/portals/child-portals/noLRG/58192/images/header_banner.png') no-repeat center center /cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 12px;
    border-bottom: 3px solid #1A142D;
}

header a {
    color: #444;
}

#language {
    display: none;
}

.logo img {
    max-width: 400px;
    margin: 0;
    padding: 24px;
}

.SearchHotels .ArnPropName a {
    letter-spacing: initial !important;
}

.lrgTip h3 {
    font-weight: initial !important;
}

/* Button Colors */
.selectedTab,
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #1A142D !important;
    transition: all .5s ease;
}

/*.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.holdRoom {
    font-family: 'Futura-Book' !important;
}*/

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #1A142D !important;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-top: 1px solid #1A142D !important;
    border-bottom: 1px solid #1A142D !important;

}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    border: 1px solid #1A142D !important;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #594E67 !important;
    border-left: 1px solid #594E67 !important;
    border-right: 1px solid #594E67 !important;
}

.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #594E67 !important;

}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active {
    background: #594E67 !important;
}

.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus {
    background: #646464 !important;
}

.holdRoom {
    background: #858585 !important;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #1A142D !important;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #fc0 !important;
    color: #000 !important;
}

.leaflet-top {
    top: 230px;
}

.arn-leaflet-reset-button {
    background: #1A142D !important;
}

.arnMapMarker {
    background: #1A142D !important;
    border: 1px solid #fff !important;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #1A142D !important;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #594E67 !important;
    border: #594E67 !important;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #594E67 !important;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #1A142D !important;
}

.throbber {
    border-left: #1A142D !important;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px !important;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #1A142D !important;
}

#slideit section {
    border-bottom: #1A142D !important;
}

.ArnPropName div.ratingCount {
    background: #1A142D !important;
}

.sash {
    background: #1A142D;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #1A142D !important;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #1A142D !important;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100% !important;
    max-width: 205px !important;
}

/* Date Prompt */

@media only screen and (min-width: 800px) {

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #1A142D !important;
    }
}

@media only screen and (max-width: 800px) {
    .ad-unit {
        display: none;
    }

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active {
        border-top: 4px solid #1A142D !important;
        border-bottom: 4px solid #1A142D !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #1A142D !important;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0 !important;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }
}

@media only screen and (max-width: 565px) {
    .logo+a {
        display: none;
    }
}

#adults option:nth-child(n + 5) {
    display: block !important;
}

#adults option:nth-child(n + 7) {
    display: none !important;
}

.exclusiveRate {
    display: none;
}


/* Date Prompt */
#theDatePrompt {
    padding: 18px;
    max-width: 800px;
    width: 100%;
    /*background: url(https://dev-static.hotelsforhope.com/portals/child-portals/noLRG/58192/images/billboard-bg.jpg) no-repeat center center /cover;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#theDatePrompt .SimpleSearch,
#theDatePrompt .ArnAdults span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#theDatePrompt>img {
    max-width: 350px;
    width: 100%;
    margin: 36px auto;
}

#theDatePrompt .SimpleSearch .ArnCheckInDate,
#theDatePrompt .SimpleSearch .ArnCheckOutDate {
    width: 100% !important;
}

#theDatePrompt .submit {
    background: #1A142D !important;
}

.meetH4H .h4hContainer {
    display: none;
}

.meetH4H.mobileVersion {
    display: none;
}