.detailsTitle,
#theBookingPage fieldset.WBGuestFormFields legend {
    letter-spacing: initial;
}

h1 {
    font-size: 32px;
    line-height: 48px;
}

h2 {
    font-size: 25px !important;
    line-height: 30px !important;
}

h3,
.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited {
    font-size: 18px;
    line-height: 24px !important;
    color: #15151E;
}

.font1 {
    font-size: 25px;
}

.font2,
.countdown,
#theBookingPage fieldset legend,
.theHotelName {
    font-size: 18px;
    font-weight: 300;
}

#theConfirmationContainer h4,
#theConfirmationContainer .h4 {
    font-size: 14px;
    font-weight: 300;
}

.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited {
    font-weight: normal;
    font-size: 14px;
}

.reserveHotel,
.modifySearch {
    font-size: 17px;
}

.ArnPrimarySearchContainer span,
.ArnLeftListContainer #simpleSearch td,
#theBookingPage label,
label,
.confirmationAgreement {
    font-size: 13px !important;
    letter-spacing: .5 !important;
    line-height: 15px;
    color: #fff;
}

.yui3-calendar-row td {
    color: #15151e !important;
}

#theBookingPage label,
label,
.confirmationAgreement {
    color: #15151e;
}

input {
    font-size: 15px;
}

#theSmokingRoomAjax input {
    margin: 5px 5px 0 0;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 22px;
        line-height: 30px;
    }

    h3 {
        font-size: 20px;
        line-height: 24px;
    }
}

p {
    line-height: 23px;
    letter-spacing: .2px;
}

.ArnPropAddress,
.distanceLabel {
    font-size: 13px;
}

.distanceLabel {
    font-weight: 600;
}

body,
.ArnSubPage td,
.ArnRoomsOnHold,
.ArnRoomsOnHold td {
    font-weight: 400;
}

body.RootBody {
    background: rgb(51, 51, 51);
    background: linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(75, 75, 75, 1) 47%, rgba(52, 52, 52, 1) 100%) no-repeat center center /cover !important;
}

.logo img {
    margin: 0 auto;
    padding: 5px 0;
    width: 135px;
    display: block;
}

header {
    background: #000;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 22px;
        line-height: 30px;
    }

    h3 {
        font-size: 20px;
        line-height: 24px;
    }
}

.lrgTip h3 {
    font-weight: initial;
}

.event-rate {
    text-transform: uppercase;
}

/* Buttons */

.selectedTab,
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.SinglePropDetail .bookRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #ffc20e !important;
    transition: all 0.5s cubic-bezier(0.2, 0, 0.05, 1) !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 15px;
    text-transform: uppercase;
    padding: 12px 15px 12px 15px !important;
}

.submit,
#theConfirmationContainer .submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.SinglePropDetail .bookRoom,
.SearchHotels .modifySearchButton,
.SinglePropDetail .holdRoom {
    border-radius: 5px;
}

#theConfirmationButton:hover {
    color: #000 !important;
}

.getButton {
    filter: invert(1);
}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active,
.SinglePropDetail .holdRoom:hover,
.SinglePropDetail .holdRoom:active,
.SinglePropDetail .holdRoom:focus,
.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: transparent !important;
    color: #fff !important;
    box-shadow: 0 0 0 2px rgb(255, 185, 14) inset;
}

.HoldRoomsForm .ArnContentButtonWide:hover {
    background: transparent !important;
    color: #000 !important;
    box-shadow: 0 0 0 2px rgb(255, 185, 14) inset;
}

.HoldRoomsForm .ArnRightListContainer input:hover {
    color: #000 !important;
}

.SinglePropDetail .holdRoom {
    background: #000;
}

#theOtherSubmitButton:hover,
#theOtherSubmitButton:active,
#theOtherSubmitButton:focus {
    color: #000 !important;
}

.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus {
    color: #000 !important;
}

.bookRoom:hover,
.bookRoom:active,
.bookRoom:focus {
    color: #000 !important;
}

.selectedTab {
    text-transform: initial;
}

.SinglePropDetail .holdRoom {
    background: #15151e;
    color: #fff;
}

.SinglePropDetail .holdRoom:hover,
.SinglePropDetail .holdRoom:focus,
.SinglePropDetail .holdRoom:active {
    background: #38383f;
    color: #000 !important;
    box-shadow: 0 0 0 2px transparent inset;
}

.SearchHotels .ArnPrimarySearchOuterContainer #theSubmitButton {
    margin: 20px 0 20px;
}

.SearchHotels .ArnPrimarySearchOuterContainer #theSubmitButton:hover {
    color: #fff !important;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #ffc20e;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-bottom: 1px solid #ffc20e;

}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    color: #fff;
    background: #ffc20e;
    border: 1px solid #ffc20e;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #ffc20e;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #fc0;
    color: #000;
}

.ArnRateCell span.arnUnit {
    font-size: 35px !important;
}

.SinglePropDetail .ArnPropDescription {
    color: #fff;
}


.arn-leaflet-reset-button {
    background: #15151e;
    border: 1px solid transparent !important;
    transition: all .2s linear;
}

.arn-leaflet-reset-button:hover,
.arn-leaflet-reset-button:focus,
.arn-leaflet-reset-button:active {
    background: #38383f;
    border: 1px solid transparent !important;
}

.SearchHotels .geoButton {
    filter: invert(1);
}

.arnMapMarker {
    background: #ffc20e;
    border: #fff;
}

.arnMapMarker.highlight {
    background: #ffc20e !important;
    border-color: #ffc20e !important;
}

.arnMapMarker.highlight .arnMapMarkerTriangle {
    border-top-color: #ffc20e !important;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #ffc20e;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #ffc20e;
    border: #fff;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #ffc20e;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #ffc20e;
}

.SearchHotels .reserveHotel,
.SearchHotels .modifySearch {
    padding: 18px 18px 18px 10px;
}

.SearchHotels .ArnSecondarySearchOuterContainer {
    margin: 0;
}

.ArnQuadSearchContainer.ArnPrimarySearchContainer,
.SearchHotels .ArnPrimarySearchOuterContainer,
.SinglePropDetail .SimpleSearch {
    background-color: RGB(21, 21, 30);
    color: rgb(255, 255, 255) !important;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #15151e;
}

#slideit section {
    border-bottom: #15151e;
}

#slideit label.open:hover,
#slideit label.open:focus {
    color: #fff;
}

#slideit label.open:hover,
#slideit label.open:focus {
    background: #38383f;
}

.ArnPropName div.ratingCount {
    background: #ffc20e;
}

.exclusiveRate {
    display: none;
}

.sash {
    background: #ffc20e;
}

div.autocomplete ul li.selected {
    background-color: #ffc20e !important;
}

input#theSubmitButton:hover {
    color: white !important;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #ffc20e;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #ffc20e;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100%;
    max-width: 205px;
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    #SortControlsContainer .hamburger:before {
        border-top-color: #ffc20e;
    }
}

@media only screen and (min-width: 800px) {

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #ffc20e;
    }
}

@media only screen and (max-width: 800px) {

    .SearchHotels .subHeader .ArnSecondarySearchOuterContainerTop .submit {
        bottom: initial;
    }

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active,
    .ArnToggleMap {
        border-top: 4px solid #ffc20e;
        border-bottom: 4px solid #ffc20e !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #ffc20e;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }

    .SearchHotels .ArnGoCitySearch:hover,
    .SearchHotels .ArnGoLandmarkSearch:hover,
    .SearchHotels .ArnGoAirportSearch:hover {
        border-bottom: 1px solid #ffc20e;
        background: #ffc20e;
    }
}

.cancellationAndChanges+strong,
.cancellationAndChanges+strong+ul,
.cancellationAndChanges+strong+ul+strong,
.cancellationAndChanges+strong+ul+strong+ul {
    display: none;
}

.ArnSubPage .checkbox{
    margin-top: -2px;
}