{
    "extends": ["airbnb-base", "prettier"],
     "parserOptions": {
       "ecmaVersion": 2018,
       "sourceType": "module"
     },
     "env": {
       "browser": true,
       "node": true,
       "es6": true,
       "jquery": true
     },
     "plugins": [],
     "rules": {
       "no-unused-vars": [
         "error",
         {
           "vars": "local",
           "args": "none"
         }
       ],
       "camelcase": "off",
       "no-param-reassign": [
           "error", 
           { 
               "props": false 
            }
            ],
       "no-unused-expressions": [
            "error",
            {
                "allowShortCircuit": true,
                "allowTernary": true 
            }
        ]
     },
     "globals": {
         "L": "readonly",
         "ArnMapDispatcher": "readonly",
         "place": "readonly"
     }
   }
   