@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #06342d;
$logo_flex_position: center;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #fcb214;
$secondary_color: #06342d;
$primary_text_color: #fff;
$secondary_text_color: #fcb214;
$border_color: #06342d;
$button_hover_background_color: #fff;
$button_hover_text_color: #fcb214;
$button_hover_border_color: #fcb214;
$google_font_name: 'Montserrat';
$site_name: 'packers_experiences_retail-61430';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.png) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
