@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #0c474c;
$logo_flex_position: center;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #000000;
$secondary_color: #FE5055;
$primary_text_color: #fff;
$secondary_text_color: #FE5055;
$border_color: #000000;
$button_hover_background_color: #fff;
$button_hover_text_color: #000000;
$button_hover_border_color: #000000;
$google_font_name: 'Montserrat';
$site_name: 'governors_ball_21-70366';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';

.ArnTripAdvisorDetails.HasReviews .ratingCount {
  background: #FE5055;
}

div .ArnShowRatesLink  {
  // border-width: 2px;
  background: #FE5055;
  border-color: #FE5055;
  font-weight: bold;
  &:hover{
    border-width: 2px;
    border-color: #FE5055;
    color: #FE5055;
  }
}