$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 250px;
$background_color: #fff;
$secondary_background_color: #fff;
$primary_color: #BA2024;
$secondary_color: #F9DE1D;
$primary_text_color: #fff;
$secondary_text_color: #BA2024;
$border_color: #BA2024;
$button_hover_background_color: #fff;
$button_hover_text_color: #BA2024;
$button_hover_border_color: #BA2024;
$google_font_name: 'Montserrat';


@import '../../../styles/sass/config-styles/base-styles.config.scss';

// body {
//     background: $env;
// }

.event-dates {
    font-family: futura-bold,helvetica;
    margin-left: 18px;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
    .event-dates {
        margin: 0 0 15px 0;
    }
}