@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #000;
$logo_flex_position: center;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #7A5FBC;
$secondary_color: #7EBFBC;
$primary_text_color: #fff;
$secondary_text_color: #7A5FBC;
$border_color: #7A5FBC;
$button_hover_background_color: #fff;
$button_hover_text_color: #7A5FBC;
$button_hover_border_color: #7A5FBC;
$google_font_name: 'Montserrat';
$site_name: 'bonnaroo_24-90957';
$path: set-path($env);
$banner_image: linear-gradient(#7EBFBC, #7A5FBC);

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';
