*,
.taxFeeRow td,
.discount td,
.totalRow td,
.balanceDueRow td,
.dueNowRow td,
.guestNameFields td,
.total-points-earned td {
  font-family: "Montserrat", "Helvetica";
}

/* Header */
header {
  justify-content: flex-start;
  background: #000000;
}

.RootBody {
  background: #EBEBEB;
}

.logo img {
  max-width: 150px;
}

body, #thePropertyAmenities span, .WBRateGuaranteeForm2 .zsFormClass, #lightbox .window, .WBConfirmedBooking .informMessage {
  background-color: #EBEBEB;
}

/* Primary Background Color */
#searching h2:after,
#theConfirmationButton,
.ArnPrimarySearchContainer,
.ArnShowRatesLink,
.ArnTripAdvisorDetails.HasReviews .ratingCount,
.CreateAnAccountAction,
.RootBody #theOtherSubmitButton,
.SimpleSearch,
.WBForgotPasswordFormActions .submit,
.WBLoginFormActions .submit,
.WBValidatedRegistrationFormActions .submit,
.arn-leaflet-reset-button,
.bookRoom,
.HoldRoomsForm .submit,
#datePromptContainer + .SimpleSearch .CheckRates .submit,
.yui3-skin-sam .yui3-calendar-day:hover,
.sort-wrapper .active,
.sort-wrapper a:hover, #lightbox .WBChangePasswordFormActions .ChangePasswordAction:hover, .WBConfirmedBooking .submit, .GroupHoldForm .bookRoomButton, .stay-22-banner {
  background: #CC9831;
}

@media screen and (max-width: 1105px) {
  #arnCloseAnchorId,
#arnCloseAnchorId:active,
#arnCloseAnchorId:focus,
#arnCloseAnchorId:hover {
    border: 1px solid #CC9831;
  }

  .closeMap {
    border: 1px solid #fff !important;
    background-color: #CC9831 !important;
    color: #fff !important;
  }
}
@media screen and (max-width: 800px) {
  #commands a:active,
#commands a:focus,
#commands a:hover,
#commands button:active,
#commands button:focus,
#commands button:hover,
.sort-wrapper a:before,
.sort-wrapper a.active-filter:before,
.sort {
    background: #CC9831;
  }
}
#searching,
#theConfirmationButton,
.HoldRoomsForm .submit,
.ArnPrimarySearchContainer,
.ArnShowRatesLink,
.ArnTripAdvisorDetails.HasReviews .ratingCount,
.SinglePropDetail .CheckRates .submit,
.CreateAnAccountAction,
.RootBody #theOtherSubmitButton,
.SearchHotels #theSubmitButton,
.SimpleSearch,
.WBForgotPasswordFormActions .submit,
.WBLoginFormActions .submit,
.WBValidatedRegistrationFormActions .submit,
.arnMapPopup .rate,
#datePromptContainer + .SimpleSearch .CheckRates .submit,
.bookRoom,
.sort-wrapper .active,
.sort-wrapper a:hover, #lightbox .WBChangePasswordFormActions .ChangePasswordAction:hover, .WBConfirmedBooking .submit, .GroupHoldForm .bookRoomButton {
  color: #fff;
}

.custom-button a, .WBForgotPasswordFormActions input:hover {
  color: #CC9831;
}

span.exclusive-rate {
  background: #1C8747;
  color: #fff;
}

@media screen and (max-width: 1105px) {
  #arnCloseAnchorId,
#arnCloseAnchorId:active,
#arnCloseAnchorId:focus,
#arnCloseAnchorId:hover {
    color: #000000;
  }
}
@media screen and (max-width: 800px) {
  #commands a:active,
#commands a:focus,
#commands a:hover,
#commands button:active,
#commands button:focus,
#commands button:hover,
.sort, .SearchHotels .ArnSecondarySearchOuterContainer #theOtherSubmitButton {
    color: #fff;
  }
}
.holdRoom,
.reviewCount a,
#theAdditionalEmailsLink a,
.SinglePropDetail .ArnRateCancelAnchor,
.open-modal,
.lowest-rate-link,
.SinglePropDetail .RateCalendarPopupAnchor,
.ArnContentContainer legend, #theRoomsOnHold h2,
.confirmation-messaging a,
.receiptLink,
.returnResultsInfo a,
.supportInfo a, .SinglePropDetail #show-more-or-less {
  color: #000000;
}

.percentSavings {
  color: #1C8747;
}

input#theSubmitButton,
#theOtherSubmitButton,
.bookRoom,
.arn-leaflet-reset-button,
input#theConfirmationButton,
a.ArnShowRatesLink, .WBConfirmedBooking .submit {
  background: #CC9831;
  color: #fff;
  border: 1px solid #000;
}

.CheckRates input.submit,
.CheckRates input.submit,
.CheckRates input.submit,
#lightbox, #lightbox .dialog-button-ok input:hover {
  background: #CC9831;
  color: #fff;
}

input#theSubmitButton:hover,
input#theSubmitButton:focus,
input#theSubmitButton:active,
#theOtherSubmitButton:hover,
#theOtherSubmitButton:focus,
#theOtherSubmitButton:active,
.RootBody #theOtherSubmitButton:hover,
.RootBody #theOtherSubmitButton:focus,
.RootBody #theOtherSubmitButton:active,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active,
.arn-leaflet-reset-button:hover,
.arn-leaflet-reset-button:focus,
.arn-leaflet-reset-button:active,
input#theConfirmationButton:hover,
input#theConfirmationButton:focus,
input#theConfirmationButton:active,
a.ArnShowRatesLink:hover, .WBConfirmedBooking .submit:hover, .GroupHoldForm .bookRoomButton:hover {
  background: #fff;
  color: #000;
  border: 1px solid #CC9831;
}

.CheckRates input.submit:hover,
.CheckRates input.submit:focus,
.CheckRates input.submit:active {
  background: #fff;
  color: #000;
}

.SinglePropDetail #moreRatesLink, #lightbox .dialog-button-ok input {
  color: #CC9831;
  border-color: #CC9831;
}

.SinglePropDetail #moreRatesLink:hover {
  background-color: #CC9831;
}

@media screen and (max-width: 800px) {
  #theBookingPage legend#policies-legend {
    color: #000000;
  }
}
header {
  border-bottom: 3px solid #000;
}

.arnMapMarker.contracted-pin,
.arnMapMarker.contracted-pin.highlight {
  border: 1px solid #fff;
  background: #1C8747;
  color: #fff;
}

.arnMapMarker.contracted-pin:hover {
  border: 1px solid #1C8747;
  background: #fff;
  color: #1C8747;
}

.arnMapMarker.contracted-pin .arnMapMarkerTriangle {
  border-top-color: #1C8747;
}

#theOtherSubmitButton,
.ArnSecondarySearchOuterContainer select,
.ArnShowRatesLink,
.RootBody #theOtherSubmitButton,
.bookRoom,
.sort,
.HoldRoomsForm .submit, #lightbox .WBChangePasswordFormActions .ChangePasswordAction, .custom-button a {
  border: 1px solid #000;
}

.holdRoom {
  border: 1px solid #000;
}

@media screen and (max-width: 1105px) {
  #arnCloseAnchorId,
.sort {
    border: 1px solid #CC9831;
  }
}
@media screen and (max-width: 800px) {
  .sort-wrapper a:before {
    border: 2px solid #CC9831;
  }
}
.active-page {
  background: #CC9831 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
}

.yui3-skin-sam .yui3-calendar-day-selected {
  background-color: #CC9831 !important;
  color: #fff !important;
}

.yui3-skin-sam .yui3-calendar-day:hover {
  background-color: #CC9831 !important;
}

.yui3-skin-sam .yui3-calendar-content {
  border-color: #000 !important;
}

.MemberAuthenticated .SearchHotels .arnMapMarker {
  background: #CC9831;
  border-color: #fff;
  color: #fff;
}

.MemberAuthenticated .SearchHotels .arnMapMarkerTriangle {
  border-top-color: #CC9831;
}

.MemberAuthenticated .arnMapMarker:hover .arnMapMarkerTriangle {
  border-top-color: #CC9831;
}

textarea,
input.text,
input[type=text],
input[type=button],
input[type=submit],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

input[type=checkbox] {
  border-radius: 0;
  -webkit-border-radius: 0;
}

/* - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | */
/* - - - - - - - Components Start  - - - - - - - */
/* - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | */
/* - - - - - - - - Header - - - - - - - - */
.header-container {
  width: 100vw;
  background-color: #000;
}
.header-container header {
  justify-content: space-between;
  border-bottom: none;
  height: 100px;
  max-width: 1440px;
  margin: 0 auto;
}
.header-container header .logo img {
  padding: 0;
  margin-left: 30px;
  max-width: 190px;
}
@media (max-width: 600px) {
  .header-container header .logo img {
    margin-left: 5px;
  }
}
@media (max-width: 800px) {
  .header-container header #commands {
    display: flex !important;
  }
  .header-container header #commands .organizationsCommand, .header-container header #commands form {
    display: none;
  }
  .header-container header #commands a {
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #CC9831;
    border-bottom: none;
  }
  .header-container header #commands.active {
    transform: translateY(145px);
    background-color: #000;
    border-top: 2px solid #CC9831;
  }
  .header-container header #commands.active a:nth-child(4), .header-container header #commands.active .profileCommand {
    display: none !important;
  }
}
.header-container header #mobile-balance-container {
  display: none;
}
.header-container header #mobile-balance-container div {
  display: flex;
  align-items: center;
}
.header-container header #mobile-balance-container div img {
  max-width: 2rem;
}
@media (max-width: 800px) {
  .header-container header #mobile-balance-container {
    display: unset;
  }
}
.header-container header #mobile-balance-container #mobile-balance {
  font-size: 30px;
  color: #CC9831;
  margin-left: 8px;
}
.header-container header #commands {
  display: none;
}
@media (max-width: 800px) {
  .header-container header #commands {
    display: unset;
  }
}
.header-container header #admin-container {
  height: 100%;
  display: flex;
  color: #fff;
}
@media (max-width: 800px) {
  .header-container header #admin-container {
    display: none;
  }
}
.header-container header #admin-container #account-container {
  margin: 0 10px;
}
.header-container header #admin-container #account-container, .header-container header #admin-container #search-container {
  cursor: pointer;
}
.header-container header #admin-container #account-container:hover, .header-container header #admin-container #search-container:hover {
  border-bottom: 4px solid #CC9831;
}
.header-container header #admin-container #balance-container {
  display: flex;
  justify-content: flex-end;
}
.header-container header #admin-container #balance-container img {
  margin-right: 10px;
  width: 25%;
}
.header-container header #admin-container #balance-container #balance {
  font-size: 18px;
  font-weight: 500;
}
.header-container header #admin-container .header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 15px;
  letter-spacing: 1px;
  border-bottom: 4px solid transparent;
}
@media (max-width: 1100px) {
  .header-container header #admin-container .header-link {
    padding: 30px;
  }
}
.header-container header #admin-container .header-link a {
  color: #fff;
  text-decoration: none;
}
.header-container header #admin-container #balance {
  color: #CC9831;
}
.header-container header #admin-container #search-container {
  background-color: #CC9831;
}
.header-container header #AdminControlsContainer {
  margin-right: 10px;
}
.header-container header #AdminControlsContainer .hamburger .line {
  background-color: #CC9831;
}

/* - - - - - - - - Footer Bar - - - - - - - - */
.ArnSupportLinks.ArnSupportBottom {
  background-color: #000000;
  margin: 0 !important;
  padding: 20px 0;
}
.ArnSupportLinks.ArnSupportBottom .ARN_ServiceLinks, .ArnSupportLinks.ArnSupportBottom .pb-container, .ArnSupportLinks.ArnSupportBottom .dvd, .ArnSupportLinks.ArnSupportBottom .cookie-policy-link {
  display: none;
}
.ArnSupportLinks.ArnSupportBottom #footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ArnSupportLinks.ArnSupportBottom #footer #footer-title {
  display: flex;
  align-self: center;
  justify-content: center;
  color: #6E6F70;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}
.ArnSupportLinks.ArnSupportBottom #footer #footer-title hr {
  height: 1px;
  width: 10%;
  margin: auto 40px;
  background: #6E6F70;
  border: none;
}
@media (max-width: 800px) {
  .ArnSupportLinks.ArnSupportBottom #footer #footer-title hr {
    width: 30%;
  }
}
@media (max-width: 600px) {
  .ArnSupportLinks.ArnSupportBottom #footer #footer-title hr {
    display: none;
  }
}
.ArnSupportLinks.ArnSupportBottom #footer #brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}
@media (max-width: 800px) {
  .ArnSupportLinks.ArnSupportBottom #footer #brand-logos {
    width: 100%;
    margin: 0;
  }
}
.ArnSupportLinks.ArnSupportBottom #footer #brand-logos a:first-child, .ArnSupportLinks.ArnSupportBottom #footer #brand-logos a:nth-child(2) {
  margin-right: 4rem;
}
@media (max-width: 700px) {
  .ArnSupportLinks.ArnSupportBottom #footer #brand-logos a:first-child, .ArnSupportLinks.ArnSupportBottom #footer #brand-logos a:nth-child(2) {
    margin-right: 0;
  }
}
.ArnSupportLinks.ArnSupportBottom #footer #brand-logos img {
  max-width: 165px;
  filter: brightness(0) invert(0.5);
}
@media (max-width: 600px) {
  .ArnSupportLinks.ArnSupportBottom #footer #brand-logos img {
    max-width: 10rem;
  }
}
@media (max-width: 700px) {
  .ArnSupportLinks.ArnSupportBottom #footer #brand-logos {
    flex-direction: column;
  }
  .ArnSupportLinks.ArnSupportBottom #footer #brand-logos a {
    margin: 10px 0;
  }
}

/* - - - - - - - - Footer Menu - - - - - - - - */
#footer-menu-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  #footer-menu-container {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 800px) {
  #footer-menu-container {
    align-items: center;
    padding: 0 10px;
  }
}
#footer-menu-container #links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  padding: 20px 0;
}
@media (max-width: 1200px) {
  #footer-menu-container #links-container {
    padding-left: 10px;
  }
}
@media (max-width: 1100px) {
  #footer-menu-container #links-container {
    justify-content: flex-start;
    width: 80%;
  }
}
@media (max-width: 800px) {
  #footer-menu-container #links-container {
    padding-left: unset;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 600px) {
  #footer-menu-container #links-container {
    flex-direction: column;
    align-items: center;
  }
}
#footer-menu-container #links-container .partner li:nth-child(2) {
  display: none !important;
}
#footer-menu-container #links-container .links {
  display: flex;
  flex-direction: column;
  width: 180px;
}
@media (max-width: 800px) {
  #footer-menu-container #links-container .links {
    margin: 0;
    text-align: center;
  }
  #footer-menu-container #links-container .links :first-child {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  #footer-menu-container #links-container .links {
    width: 100%;
  }
}
#footer-menu-container #links-container .links li {
  list-style: none;
  margin: 5px 0;
}
#footer-menu-container #links-container .links a {
  color: #000000;
  text-decoration: none;
  list-style: none;
  font-weight: 300;
}
#footer-menu-container #links-container .links a:hover {
  text-decoration: underline;
}
#footer-menu-container #links-container .links .links-header {
  color: #CC9831;
  font-weight: bold;
}
#footer-menu-container #links-container :first-child {
  margin-left: 0;
}
#footer-menu-container #policy-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 300px;
  padding: 20px;
}
@media (max-width: 1100px) {
  #footer-menu-container #policy-social {
    align-items: flex-start;
    width: 80%;
  }
}
@media (max-width: 800px) {
  #footer-menu-container #policy-social {
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 600px) {
  #footer-menu-container #policy-social {
    padding: 20px 0;
  }
}
#footer-menu-container #policy-social #social-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
#footer-menu-container #policy-social #social-container .social-icon {
  border: 2px solid #000;
  margin: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}
#footer-menu-container #policy-social #social-container .social-icon:hover {
  background-color: #CC9831;
  border-color: #000;
}
#footer-menu-container #policy-social #social-container .social-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-menu-container #policy-social #social-container .social-icon a img {
  width: 90%;
  height: auto;
}
#footer-menu-container #policy-social hr {
  width: 100%;
  margin: 0;
  background: #ccc;
  height: 1px;
  border: none;
}
@media (max-width: 1100px) {
  #footer-menu-container #policy-social hr {
    width: 100%;
  }
}
#footer-menu-container #policy-social #copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 300;
}
@media (max-width: 1100px) {
  #footer-menu-container #policy-social #copyright {
    align-items: unset;
  }
}
@media (max-width: 800px) {
  #footer-menu-container #policy-social #copyright {
    align-items: center;
  }
}
#footer-menu-container #policy-social #copyright p, #footer-menu-container #policy-social #copyright #pipe {
  color: #000000;
}
#footer-menu-container #policy-social #copyright div :first-child {
  padding-right: 5px;
}
#footer-menu-container #policy-social #copyright div :last-child {
  padding-left: 5px;
}
@media (max-width: 600px) {
  #footer-menu-container #policy-social #copyright div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer-menu-container #policy-social #copyright div a {
    padding: 0;
    margin: 5px 0;
  }
  #footer-menu-container #policy-social #copyright div #pipe {
    display: none;
  }
}
#footer-menu-container #policy-social #copyright a {
  color: #CC9831;
  text-decoration: none;
}
#footer-menu-container #policy-social #copyright a:hover {
  text-decoration: underline;
}
#footer-menu-container #policy-social hr {
  display: none !important;
}
#footer-menu-container #social-container {
  display: none !important;
}

/* - - - - - - - - Buttons - - - - - - - - */
.RootBody #theOtherSubmitButton, .SearchHotels .ArnShowRatesLink, .SearchHotels #theSubmitButton, .SearchHotels #theOtherSubmitButton, .bookRoom, .SinglePropDetail #moreRatesLink, .SinglePropDetail .ArnLeftListContainer .SimpleSearch input.submit, .holdRoom, .CheckOutForm input#theConfirmationButton, .WBSupportFormActions input, .WBResendOrCancelFormActions input, .CreateAnAccountAction, .LoginAction.submit, #book-another {
  color: #fff;
  background-color: #CC9831;
  border: 1px solid #CC9831;
  text-transform: uppercase;
  font-weight: 500 !important;
  transition-property: color, background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.RootBody #theOtherSubmitButton:hover, .SearchHotels .ArnShowRatesLink:hover, .SearchHotels #theSubmitButton:hover, .SearchHotels #theOtherSubmitButton:hover, .bookRoom:hover, .SinglePropDetail #moreRatesLink:hover, .SinglePropDetail .ArnLeftListContainer .SimpleSearch input.submit:hover, .holdRoom:hover, .CheckOutForm input#theConfirmationButton:hover, .WBSupportFormActions input:hover, .WBResendOrCancelFormActions input:hover, .CreateAnAccountAction:hover, .LoginAction.submit:hover, #book-another:hover {
  background-color: #BD8C2E !important;
  border-color: #BD8C2E !important;
  color: #fff !important;
}

.SearchHotels #theOtherSubmitButton, .SinglePropDetail .CheckRates input, .SinglePropDetail #moreRatesLink {
  padding: 15px !important;
}

.SinglePropDetail #moreRatesLink {
  width: unset;
  height: unset;
}

/* - - - - - - - - Sub-Header - - - - - - - - */
#sub-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sub-header-container #daily-deals {
  display: none;
}
@media (max-width: 800px) {
  #sub-header-container {
    display: none;
  }
}
#sub-header-container a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  font-weight: 300;
  padding: 16px;
  margin: 0 80px 0 0;
}
#sub-header-container a:hover {
  border-bottom: 2px solid #000;
}
#sub-header-container a#partners {
  margin-right: 0;
}

.SinglePropDetail .ArnRightListContainer {
  padding-top: 0;
}
.SinglePropDetail #sub-header-container {
  margin-bottom: 10px;
  background-color: #EBEBEB;
}

/* - - - - - - - - RoomCash/Your Cash scale - - - - - - - - */
.roomcash-scale-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.roomcash-scale-container .container-lower {
  display: flex;
  justify-content: space-between;
}
.roomcash-scale-container .container-lower .rc-value, .roomcash-scale-container .container-lower .yc-value {
  font-weight: 600;
  margin-top: 5px;
}
.roomcash-scale-container .container-lower .roomcash-amount {
  text-align: center;
}
.roomcash-scale-container .container-lower .roomcash-amount .tooltip:hover span {
  top: -10.5em;
}
.roomcash-scale-container .container-lower .roomcash-amount .tooltip span {
  top: 0em;
}
.roomcash-scale-container .container-lower .your-cash-amount .tooltip:hover span {
  top: -9.5em;
}
.roomcash-scale-container .container-lower .your-cash-amount .tooltip span {
  top: 0em;
}
@media (max-width: 600px) {
  .roomcash-scale-container .container-lower {
    justify-content: space-between;
  }
}
.roomcash-scale-container .bar {
  height: 10px;
  border-radius: 25px;
  width: 100%;
  background-color: #CC9831;
  background-image: -webkit-linear-gradient(134deg, #1C8747 70%, #CC9831 30%);
}
.roomcash-scale-container #roomcash-bar-container {
  height: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}
.roomcash-scale-container .cash-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 140px;
  text-align: center;
}
@media (max-width: 600px) {
  .roomcash-scale-container .cash-text {
    align-items: center;
  }
}
.roomcash-scale-container .cash-text .tooltip {
  font-family: "Montserrat" !important;
}
.roomcash-scale-container .cash-text p {
  margin: 0;
  font-weight: 500;
}
.roomcash-scale-container .cash-text :last-child {
  font-weight: 300;
}
.roomcash-scale-container .cash-text .rc-value {
  color: #CC9831;
  font-size: 20px;
}
.roomcash-scale-container .cash-text .rc-value img {
  width: 15%;
  margin-right: 8px;
}
.roomcash-scale-container .cash-text .yc-value {
  color: #1C8747;
  font-size: 20px;
}
.roomcash-scale-container .tooltip-wrapper .tooltip span {
  left: -8em;
}

/* - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | */
/* - - - - - - - Components End  - - - - - - - */
/* - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | */
/* - - - - - - - - Root Page - - - - - - - - */
.RootBody #sub-header-container {
  margin: 25px 0;
}
.RootBody .ArnSearchContainerMainDiv {
  background-color: #fff;
}
.RootBody .ArnSearchContainerMainDiv .ArnPrimarySearchOuterContainer {
  margin: 50px 0;
}
.RootBody .ArnSearchContainerMainDiv .ArnPrimarySearchOuterContainer h1, .RootBody .ArnSearchContainerMainDiv .ArnPrimarySearchOuterContainer h3 {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer {
  margin: 30px 0;
  background: #EBEBEB;
  color: #000;
}
.RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer {
  color: #000;
}
.RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer .lblAmenities, .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer .lblCurrency, .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer .lblHotelSize, .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer .lblNearbyCities, .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer .lblPropertyType, .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer .lblRateTypes, .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer .lblRating, .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer .lblSortByPrice {
  font-weight: 500;
}
@media (max-width: 700px) {
  .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer #AmentitiesContainer, .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer #PropertyClassesContainer, .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer #PropertyTypesContainer {
    display: none !important;
  }
  .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer .ArnSecondarySearchOuterContainer #theOtherSubmitButton {
    max-width: none;
    width: 100%;
  }
}
.RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer #CitySearchContainer {
  width: 50%;
}
@media (max-width: 920px) {
  .RootBody .ArnSearchContainerMainDiv .ArnQuadSearchContainer.ArnPrimarySearchContainer #CitySearchContainer {
    width: unset;
  }
}

/* - - - - - - - - Search Results - - - - - - - - */
.SearchHotels .config-container {
  display: none;
}
.SearchHotels .ArnRightListContainer {
  padding-top: 0;
}
@media (min-width: 1100px) {
  .SearchHotels .ArnRightListContainer #ArnPropertyMap {
    width: 24vw;
  }
}
.SearchHotels .ArnRightListContainer #ArnPropertyMap .arnMapMarker {
  border-color: #fff;
  color: #fff;
  background-color: #CC9831;
}
.SearchHotels .ArnRightListContainer #ArnPropertyMap .arnMapMarker .arnMapMarkerTriangle {
  border-top-color: #CC9831;
}
.SearchHotels input#theSubmitButton {
  padding: 15px !important;
}
.SearchHotels .ArnLeftSearchContainer {
  width: 20vw;
  padding: 0 10px;
  margin-left: 0;
}
@media (max-width: 800px) {
  .SearchHotels .ArnLeftSearchContainer .search-info {
    margin-top: 10px;
  }
}
.SearchHotels .ArnLeftSearchContainer .ArnSearchHeader {
  margin-left: 13px;
  font-weight: 700;
}
@media (max-width: 1100px) {
  .SearchHotels .ArnLeftSearchContainer {
    padding: 0;
  }
  .SearchHotels .ArnLeftSearchContainer .ArnSearchHeader {
    margin-left: 10px;
  }
}
@media (max-width: 800px) {
  .SearchHotels .ArnLeftSearchContainer {
    width: unset;
  }
  .SearchHotels .ArnLeftSearchContainer .show-search-container {
    margin: 10px 0;
  }
}
.SearchHotels .ArnLeftSearchContainer hr {
  background: #ccc;
  height: 1px;
  margin-top: 30px;
  border: none;
}
.SearchHotels .ArnLeftSearchContainer .ArnPrimarySearchOuterContainer {
  margin-top: 10px;
}
.SearchHotels .ArnLeftSearchContainer .ArnPrimarySearchOuterContainer .ArnSearchHeader {
  text-transform: uppercase;
}
.SearchHotels .ArnLeftSearchContainer .sort-wrapper .ArnSortByDealPercent, .SearchHotels .ArnLeftSearchContainer .sort-wrapper .ArnSortByDistance, .SearchHotels .ArnLeftSearchContainer .sort-wrapper .ArnSortByAvailability {
  display: none !important;
}
.SearchHotels .ArnLeftSearchContainer .sort-wrapper .ArnSortByPrice, .SearchHotels .ArnLeftSearchContainer .sort-wrapper .ArnSortByDealAmount {
  display: block !important;
}
@media (max-width: 1100px) {
  .SearchHotels .ArnLeftSearchContainer .sort-wrapper {
    display: block;
  }
}
.SearchHotels .ArnLeftSearchContainer .sort-wrapper #sort-select {
  border: none;
  padding: 15px !important;
  margin-top: 10px;
  font-weight: 300 !important;
}
@media (max-width: 800px) {
  .SearchHotels .ArnLeftSearchContainer .sort-wrapper #sort-select {
    width: 100%;
    padding: 15px !important;
    margin: 20px 0 0 0;
    background-color: #EBEBEB;
  }
}
@media (max-width: 1100px) {
  .SearchHotels .ArnLeftSearchContainer .sort-wrapper hr {
    display: none;
  }
}
.SearchHotels .ArnLeftSearchContainer .mobile-filter-container h4 {
  display: none;
}
.SearchHotels .ArnLeftSearchContainer .ArnSecondarySearchOuterContainer span {
  font-weight: 300;
}
.SearchHotels .ArnLeftSearchContainer .ArnSecondarySearchOuterContainer h4, .SearchHotels .ArnLeftSearchContainer .ArnSecondarySearchOuterContainer #filter-by {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
}
.SearchHotels .ArnLeftSearchContainer .ArnSecondarySearchOuterContainer #filter-by {
  margin-top: 30px;
  font-weight: 700;
}
.SearchHotels .ArnLeftSearchContainer .ArnSecondarySearchOuterContainer .lblAmenities, .SearchHotels .ArnLeftSearchContainer .ArnSecondarySearchOuterContainer .lblPropertyType {
  font-weight: 500 !important;
}
.SearchHotels #currentPropertyPage {
  background-color: #fff;
  padding: 35px 24px;
  width: 55vw;
}
@media (max-width: 1100px) {
  .SearchHotels #currentPropertyPage {
    width: unset;
  }
}
.SearchHotels .ArnQuadSearchContainer {
  background-color: unset;
  color: #000000;
  font-weight: 300;
}
@media (max-width: 800px) {
  .SearchHotels .ArnQuadSearchContainer hr {
    display: none;
  }
}
@media (max-width: 600px) {
  .SearchHotels .ArnQuadSearchContainer {
    font-weight: 500;
  }
}
.SearchHotels .ArnQuadSearchContainer #theSearchBox #theCheckIn, .SearchHotels .ArnQuadSearchContainer #theSearchBox #theCheckOut, .SearchHotels .ArnQuadSearchContainer #theSearchBox #rooms, .SearchHotels .ArnQuadSearchContainer #theSearchBox #adults {
  font-weight: 300 !important;
}
.SearchHotels .ArnQuadSearchContainer #theSearchBox input, .SearchHotels .ArnQuadSearchContainer #theSearchBox select {
  padding: 12px !important;
}
.SearchHotels .ArnQuadSearchContainer .currencies-container {
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
}
.SearchHotels .ArnQuadSearchContainer .currencies-container .config-label {
  color: #000;
  width: unset;
  border-bottom: none;
}
.SearchHotels .ArnQuadSearchContainer .currencies-container .dropdown {
  right: unset;
  top: unset;
  z-index: 1;
}
@media (max-width: 800px) {
  .SearchHotels .ArnQuadSearchContainer .currencies-container .dropdown {
    width: 95%;
    right: 0;
    margin-top: 15px;
  }
}
.SearchHotels .ArnQuadSearchContainer .currencies-container {
  display: none !important;
}
.SearchHotels .ArnProperty .ArnPropThumb, .SearchHotels .ArnProperty .ArnPropThumb img {
  height: 225px;
}
@media (max-width: 600px) {
  .SearchHotels .ArnProperty .ArnLimitedAvail {
    text-align: center;
  }
}
.SearchHotels .ArnProperty .ArnPropName {
  height: 225px;
  padding: 0 12px 0 12px;
  justify-content: flex-start;
  width: 100%;
}
@media (max-width: 600px) {
  .SearchHotels .ArnProperty .ArnPropName .ArnPropNameLink {
    text-align: center;
    margin: 10px 0;
  }
}
@media (max-width: 700px) {
  .SearchHotels .ArnProperty .ArnPropName {
    height: unset;
  }
}
.SearchHotels .ArnProperty .ArnPropName .ArnTripAdvisorDetails {
  bottom: 0;
}
.SearchHotels .ArnProperty .ArnPropName .ArnTripAdvisorDetails .ratingCount {
  padding: 5px;
}
.SearchHotels .ArnProperty .ArnPropName .ArnTripAdvisorDetails .reviewCount {
  align-self: center;
}
.SearchHotels .ArnProperty .ArnPropName .ArnTripAdvisorDetails .reviewCount a {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
}
.SearchHotels .ArnProperty .ArnRateCell {
  display: none;
}
.SearchHotels .ArnProperty .ArnPropClass {
  display: none !important;
}
.SearchHotels .ArnProperty .percentSavings {
  display: none !important;
}
.SearchHotels .ArnProperty .ArnPropNameLink span {
  letter-spacing: 1px;
}
.SearchHotels .ArnProperty .ArnTripAdvisorDetails.HasReviews .ratingCount {
  background-color: #000;
}
.SearchHotels .ArnProperty .ArnRateButton {
  max-width: 130px;
}
@media (max-width: 600px) {
  .SearchHotels .ArnProperty .ArnRateButton {
    align-self: center;
    margin-bottom: 20px;
  }
}
.SearchHotels .ArnProperty #rc-avg-nightly {
  text-align: right;
  margin-top: 5px;
}
@media (max-width: 600px) {
  .SearchHotels .ArnProperty #rc-avg-nightly {
    text-align: center;
  }
}
.SearchHotels .ArnPages {
  display: flex;
  justify-content: center;
}
.SearchHotels .ArnProperty.no-roomCash-deal .ArnRateCell {
  display: flex;
}
@media (max-width: 600px) {
  .SearchHotels .ArnProperty.no-roomCash-deal .ArnRateCell {
    padding: 0 12px;
    justify-content: space-between;
    flex-direction: column;
  }
  .SearchHotels .ArnProperty.no-roomCash-deal .ArnRateCell .ArnPriceCell {
    text-align: center;
    align-self: center;
  }
  .SearchHotels .ArnProperty.no-roomCash-deal .ArnRateCell .ArnRateButton {
    margin-bottom: 0;
  }
}
@media (max-width: 800px) {
  .SearchHotels .ArnProperty.no-roomCash-deal .ArnRateCell {
    width: 50%;
  }
}

/* - - - - - - - - Property Detail - - - - - - - - */
.SinglePropDetail .RateRowHeader {
  display: none;
}
.SinglePropDetail .RateCalendarPopupAnchor {
  display: block;
  float: unset;
}
@media (max-width: 560px) {
  .SinglePropDetail .ArnRateCancelAnchor {
    align-self: unset;
  }
}
.SinglePropDetail .ArnRightListContainer {
  background-color: #fff;
}
.SinglePropDetail .ArnRightListContainer .ArnProperty {
  padding: 10px 0;
}
.SinglePropDetail .ArnRightListContainer .ArnProperty #moreRates .ArnNightlyRate {
  visibility: unset;
}
@media (max-width: 560px) {
  .SinglePropDetail .ArnRightListContainer .ArnProperty #moreRates .ArnNightlyRate {
    display: block !important;
    text-align: center;
    width: unset;
    margin-top: 20px;
  }
}
@media (max-width: 560px) {
  .SinglePropDetail .ArnRightListContainer .ArnProperty #moreRates .RateCalendarPopupAnchor {
    text-align: center;
  }
}
.SinglePropDetail .ArnRightListContainer .RoomDescription {
  font-weight: 300;
}
.SinglePropDetail .ArnLeftListContainer {
  margin: 0 40px 0 10px;
}
.SinglePropDetail .ArnLeftListContainer .translateMe {
  text-transform: uppercase;
}
.SinglePropDetail .ArnLeftListContainer .SimpleSearch {
  background-color: unset;
  color: #000;
  font-weight: 300;
  padding: 0;
}
.SinglePropDetail .ArnLeftListContainer .SimpleSearch input, .SinglePropDetail .ArnLeftListContainer .SimpleSearch select {
  padding: 12px !important;
  font-weight: 300 !important;
}
.SinglePropDetail .ArnLeftListContainer .SimpleSearch input.submit {
  font-weight: 500;
}
.SinglePropDetail .ArnLeftListContainer .ArnAmenityContainer {
  font-weight: 300 !important;
}
.SinglePropDetail .percentSavings {
  display: none !important;
}
@media (max-width: 560px) {
  .SinglePropDetail .bookRoomCell {
    display: unset;
  }
  .SinglePropDetail .bookRoomCell .ArnNightlyRate {
    display: none;
  }
  .SinglePropDetail .bookRoom {
    align-self: end;
  }
}
.SinglePropDetail .ArnNightlyRate {
  visibility: hidden;
  margin-bottom: 20px;
}
.SinglePropDetail .no-roomCash-deal .ArnNightlyRate {
  visibility: visible;
}
@media (max-width: 600px) {
  .SinglePropDetail .no-roomCash-deal .ArnNightlyRate {
    display: block !important;
    margin: 20px 0;
    width: unset;
    text-align: unset;
  }
}
@media (max-width: 600px) {
  .SinglePropDetail .no-roomCash-deal .RateCalendarPopupAnchor {
    text-align: center;
  }
}
.SinglePropDetail .prop-detail-lower {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .SinglePropDetail .prop-detail-lower {
    flex-direction: column;
  }
}
.SinglePropDetail .prop-detail-lower .book {
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 600px) {
  .SinglePropDetail .prop-detail-lower .book {
    margin-right: 0;
  }
}
.SinglePropDetail .prop-detail-lower .book .bookRoom {
  width: 150px;
}
.SinglePropDetail .prop-detail-lower .roomcash-scale-container {
  margin-top: 30px;
  width: 70%;
  padding: 0 20px;
}
.SinglePropDetail .prop-detail-lower .roomcash-scale-container .roomcash-amount {
  text-align: center;
}
.SinglePropDetail .prop-detail-lower .roomcash-scale-container .roomcash-amount .tooltip:hover span {
  top: -4em !important;
}
.SinglePropDetail .prop-detail-lower .roomcash-scale-container .your-cash-amount .tooltip:hover span {
  top: -3em !important;
}
@media (max-width: 800px) {
  .SinglePropDetail .prop-detail-lower .roomcash-scale-container {
    width: 85%;
  }
}
@media (max-width: 600px) {
  .SinglePropDetail .prop-detail-lower .roomcash-scale-container {
    width: 100%;
  }
}
.SinglePropDetail .prop-detail-lower .roomcash-scale-container .bar {
  margin-top: 10px;
}

/* - - - - - - - - Checkout Page - - - - - - - - */
.CheckOutForm .resConfirmationButton, .ConfirmationForm .resConfirmationButton {
  text-align: center;
}
.CheckOutForm #theBookingPage, .ConfirmationForm #theBookingPage {
  max-width: 1170px;
}
.CheckOutForm #theBookingPage .GuestForms, .ConfirmationForm #theBookingPage .GuestForms {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.CheckOutForm #theBookingPage input[type=checkbox], .ConfirmationForm #theBookingPage input[type=checkbox] {
  width: 50px !important;
}
.CheckOutForm #theBookingPage .PaymentPolicies, .ConfirmationForm #theBookingPage .PaymentPolicies {
  background-color: #fff;
  border: none;
}
.CheckOutForm #theBookingPage .PaymentPolicies .discount th, .ConfirmationForm #theBookingPage .PaymentPolicies .discount th {
  color: #CC9831;
}
.CheckOutForm #theBookingPage .PaymentPolicies .dueNowRow th, .ConfirmationForm #theBookingPage .PaymentPolicies .dueNowRow th {
  color: #1C8747;
}
@media (max-width: 1100px) {
  .CheckOutForm #footer-menu-container, .ConfirmationForm #footer-menu-container {
    align-items: flex-start;
  }
}

/* - - - - - - - - Confirmation Page - - - - - - - - */
.FinalConfirmation #theReservationFormContainer .discount th {
  color: #CC9831;
}
.FinalConfirmation #theReservationFormContainer .balanceDueRow th {
  color: #1C8747;
}
.FinalConfirmation #balance-container {
  display: none;
}
.FinalConfirmation .roomcash-earned {
  color: #000;
  border-top: 10px solid #CC9831;
  border-bottom: 10px solid #CC9831;
  text-align: center;
  margin: 40px 0;
  padding: 20px 0;
}
.FinalConfirmation .roomcash-earned .rc-earned-entries {
  margin: 15px 0;
  font-size: 17px;
}
.FinalConfirmation .roomcash-earned #book-another {
  display: block;
  padding: 10px 0;
  max-width: 200px;
  margin: 20px auto;
  text-decoration: none;
}
.FinalConfirmation .roomcash-earned strong, .FinalConfirmation .roomcash-earned a {
  color: #CC9831;
}
.FinalConfirmation .roomcash-earned #dont-forget a {
  font-size: 17px !important;
}

/* - - - - - - - - Support Page - - - - - - - - */
body.WBSupportForm {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body.WBSupportForm .ArnSupportChatTable {
  display: none;
}

.ArnSubPage.WBSupportForm h1 {
  display: none;
}
.ArnSubPage.WBSupportForm #support-page {
  display: flex;
  flex-direction: column;
}
.ArnSubPage.WBSupportForm #support-page #hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://dev-static.hotelsforhope.com/ares/site_configs/roomcash-63712/emails/img/welcome-hero-crop.jpg") no-repeat center center/cover;
  color: #fff;
  background-position: top;
  min-height: 300px;
}
.ArnSubPage.WBSupportForm #support-page #hero-image h1 {
  display: block !important;
}
.ArnSubPage.WBSupportForm #support-page #hero-image span {
  font-size: 17px;
  letter-spacing: 1px;
}
@media (max-width: 700px) {
  .ArnSubPage.WBSupportForm #support-page #hero-image span {
    padding: 0 10px;
  }
}
.ArnSubPage.WBSupportForm #support-page #support-lower {
  display: flex;
}
@media (max-width: 600px) {
  .ArnSubPage.WBSupportForm #support-page #support-lower {
    flex-direction: column;
  }
}
.ArnSubPage.WBSupportForm #support-page #support-lower #contact-details {
  width: 50vw;
  background: #fff;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .ArnSubPage.WBSupportForm #support-page #support-lower #contact-details {
    width: 100vw;
    padding: 20px 30px;
  }
}
.ArnSubPage.WBSupportForm #support-page #support-lower #contact-form {
  width: 50vw;
}
@media (max-width: 600px) {
  .ArnSubPage.WBSupportForm #support-page #support-lower #contact-form {
    width: 100vw;
  }
}
.ArnSubPage.WBSupportForm #support-page #support-lower .contact-item h4 {
  font-weight: 300;
  margin: 5px 0;
}
.ArnSubPage.WBSupportForm #support-page #support-lower .contact-item a {
  color: #CC9831;
  text-decoration: none;
}
.ArnSubPage.WBSupportForm #support-page #support-lower .contact-item a:hover {
  text-decoration: underline;
}
.ArnSubPage.WBSupportForm #support-page .WBSupportFormContainer {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.ArnSubPage.WBSupportForm #support-page .WBSupportFormContainer #theReasonForInquiryAjax select {
  color: #666;
}
.ArnSubPage.WBSupportForm #support-page .WBSupportFormContainer #theWBSupportFormBody {
  width: 100%;
}
.ArnSubPage.WBSupportForm .useCancelFormWarning {
  display: none;
}
.ArnSubPage.WBSupportForm input, .ArnSubPage.WBSupportForm select, .ArnSubPage.WBSupportForm textarea {
  background-color: #fff;
  border: none !important;
  width: 100%;
  padding: 12px !important;
  outline: 0;
}
.ArnSubPage.WBSupportForm .FormFields {
  margin: 15px 0;
}
.ArnSubPage.WBSupportForm .FormFields label {
  display: none;
}
.ArnSubPage.WBSupportForm .WBSupportFormActions {
  text-align: center;
}
.ArnSubPage.WBSupportForm .WBSupportFormActions input {
  border: 1px solid #CC9831 !important;
  width: 100%;
  padding: 15px !important;
  background-color: #CC9831;
}
.ArnSubPage.WBSupportForm .WBSupportFormActions input:hover {
  color: #000000 !important;
  background-color: #fff !important;
  border-color: #CC9831 !important;
}

/* - - - - - - - - Cancel/modify Page - - - - - - - - */
.WBResendOrCancelForm h1 {
  text-align: center;
}
.WBResendOrCancelForm .ArnSubPage {
  background: #fff;
  padding: 20px;
  margin: 40px auto;
}
.WBResendOrCancelForm .ArnSubPage .WBResendOrCancelFormFields #theEmailAddressAjax input, .WBResendOrCancelForm .ArnSubPage .WBResendOrCancelFormFields #theConfirmationNumberAjax input {
  width: 40% !important;
}
@media (max-width: 700px) {
  .WBResendOrCancelForm .ArnSubPage .WBResendOrCancelFormFields #theEmailAddressAjax input, .WBResendOrCancelForm .ArnSubPage .WBResendOrCancelFormFields #theConfirmationNumberAjax input {
    width: 80% !important;
  }
}
.WBResendOrCancelForm .ArnSubPage .emailWarning, .WBResendOrCancelForm .ArnSubPage .emailWarning2, .WBResendOrCancelForm .ArnSubPage #theConfirmationNumberAjax label, .WBResendOrCancelForm .ArnSubPage #theEmailAddressAjax label {
  font-weight: 300;
}
.WBResendOrCancelForm .ArnSubPage .emailWarningHeading {
  font-weight: 500;
}
.WBResendOrCancelForm .ArnSubPage .ArnSubPage.WBResendOrCancelForm h1 {
  font-weight: 700;
}
.WBResendOrCancelForm .ArnSubPage .emailWarning2 a {
  color: #CC9831;
}
.WBResendOrCancelForm .ArnSubPage .WBResendOrCancelFormActions {
  display: flex;
  justify-content: center;
}
.WBResendOrCancelForm .ArnSubPage .WBResendOrCancelFormActions input {
  padding: 15px !important;
}
@media (max-width: 700px) {
  .WBResendOrCancelForm .ArnSubPage .WBResendOrCancelFormActions {
    flex-direction: column;
  }
  .WBResendOrCancelForm .ArnSubPage .WBResendOrCancelFormActions input {
    margin: 10px 0;
  }
}

/* - - - - - - - - Login Page - - - - - - - - */
.WBLoginForm .WBLoginFormActions {
  display: flex;
  flex-direction: column;
}
.WBLoginForm .WBLoginFormActions .CreateAnAccountAction {
  margin: 18px 0;
}
.WBLoginForm .redeem-promocode-container {
  display: none;
}

/* - - - - - - - - Create an Account Page - - - - - - - - */
.WBValidatedRegistrationForm #thePassCodeAjax {
  display: none;
}
.WBValidatedRegistrationForm .return-to-login {
  color: #000;
}
.WBValidatedRegistrationForm .return-to-login:hover {
  text-decoration: underline;
}

/* - - - - Page width - - - - */
.ArnSubPage.WBSupportForm, .RootBody .ArnSearchContainerMainDiv, .ArnSubPage {
  max-width: 1440px;
  margin: 0 auto;
}

.WBResendOrCancelForm .ArnSubPage {
  margin: 40px auto;
}

/*# sourceMappingURL=63712.css.map*/