@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #000000;
$logo_flex_position: flex-start;
$logo_max_width: 200px;
$background_color: #E6E6E6;
$primary_color: #CC9831;
$secondary_color: #1C8747;
$primary_text_color: #fff;
$secondary_text_color: #000000;
$secondary_background_color: #000;
$border_color: #000;
$button_hover_background_color: #fff;
$button_hover_text_color: #000;
$button_hover_border_color: #CC9831;
$google_font_name: 'Montserrat';
$site_name: 'roomcash-63712';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
$heading_weight: 800;
$sub_heading_weight: 400;
$text_weight: 300;
$desktop: 1100px;
$tablet: 800px;
$tablet_small: 700px;
$mobile: 600px;

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin tablet-small {
    @media (max-width: #{$tablet_small}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@import '../../../styles/sass/config-styles/base-styles.config.scss';

/* - - - - - - - - Header - - - - - - - - */

header {
    justify-content: space-between;
    border-bottom: none;
    height: 110px;

    .logo img {
        padding: 0;
        margin-left: 30px;
        max-width: 190px;
    }

    #commands {
        display: none;
    }

    #admin-container {
        height: 100%;
        display: flex;
        color: $primary_text_color;

        @include tablet {
            display: none;
        }

        #balance-container {

            img {
                margin-right: 10px;
            }
            
            #balance {
                font-size: 30px;
            }
        }


        .header-link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            font-size: 16px;
            letter-spacing: 1px;

            @include desktop{
                padding: 30px;
            }

            a {
                color: $primary_text_color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        #balance {
            color: $primary_color;
        }

        #search-container {
            background-color: $primary_color;
        }
    }

    #AdminControlsContainer {
        margin-right: 10px;

        .hamburger .line {
            background-color: $primary_color;
        }
    }
}

/* - - - - - - - - Footer Bar - - - - - - - - */


.ArnSupportLinks.ArnSupportBottom {
    background-color: $header_background;
    margin: 0;

    .ARN_ServiceLinks, .pb-container, .dvd, .cookie-policy-link {
        display: none;
    }

    #footer {
        display: flex;
        flex-direction: column;

        #footer-title {
            display: flex;
            align-self: center;
            justify-content: center;
            color: #6E6F70;
            font-size: 20px;
            font-weight: 400;
            width: 100%;
    
            hr {
                height: 1px;
                width: 20%;
                margin: auto 40px;
                border-color: #6E6F70;
            }
        }

        #brand-logos {
            display: flex;
            justify-content: space-evenly;
            padding: 20px 0;

            @include tablet-small {
                flex-direction: column;
                
                a {
                    margin: 10px 0;
                }
            }
        }

    }

}

/* - - - - - - - - Footer Menu - - - - - - - - */

#footer-menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;

    @include desktop {
        flex-direction: column;
        align-items: flex-end;
    }

    @include tablet {
        align-items: center;
    }

    #links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding: 20px;

        @include desktop {
            justify-content: flex-start;
            width: 80%;
        }

        @include tablet {
            justify-content: center;
            width: 100%;
        }

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

        .links {
            display: flex;
            flex-direction: column;
            // margin: 0 60px;
            width: 180px;

            @include tablet {
                margin: 0;
                text-align: center;

                :first-child {
                    margin-left: 0;
                }
            }

            @include mobile {
                width: 100%;
            }

            li {
                list-style: none;
                margin: 5px 0;
            }

            a {
                color: $secondary_text_color;
                text-decoration: none;
                list-style: none;
                font-weight: $text_weight;

                &:hover {
                    text-decoration: underline;
                }
            }

            .links-header {
                color: $primary_color;
                font-weight: bold;
            }
        }

        :first-child {
            margin-left: 0;
        }
    }

    #policy-social {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: 300px;
        padding: 20px;

        @include desktop {
            align-items: flex-start;
            width: 80%;
        }

        @include tablet {
            align-items: center;
            width: 100%;
        }

        #social-container {
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;

            .social-icon {
                border: 2px solid $border_color;
                margin: 5px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-content: center;

                &:hover {
                    background-color: $primary_color;
                    border-color: $border_color;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 90%;
                        height: auto;
                    }
                }
            }
        }
        
        hr {
            border: 1px solid #ccc;
            width: 100%;
            margin: 0;

            @include desktop {
                width: 100%;
            }
        }

        #copyright {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-weight: $text_weight;

            @include desktop {
                align-items: unset;
            }

            p, #pipe {
                color: $secondary_text_color;
            }

            div {
                :first-child {
                    padding-right: 5px;
                }

                :last-child {
                    padding-left: 5px;
                }
            }

            a {
                color: $primary_color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* - - - - - - - - Buttons - - - - - - - - */

.SearchHotels .ArnShowRatesLink, .SearchHotels #theSubmitButton, .SearchHotels #theOtherSubmitButton, .bookRoom, .SinglePropDetail #moreRatesLink, .SinglePropDetail .CheckRates input, .holdRoom {
    color: $primary_text_color;
    background-color: $primary_color;
    border-color: $primary_color;
    text-transform: uppercase;

    &:hover {
        color: $secondary_text_color !important;
        background-color: $button_hover_background_color;
        border-color: $primary_color;
    }
}

/* - - - - - - - - Sub-Header - - - - - - - - */

#sub-header-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        display: none;
    }

    a {
        text-decoration: none;
        color: $secondary_text_color;
        font-size: 15px;
        font-weight: $sub_heading_weight;
        margin: 0 40px;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* - - - - - - - - RoomCash/Your Cash scale - - - - - - - - */

.roomcash-scale-container {
    display: flex;
    margin: 20px 0;

    .bar {
        height: 10px;
    }

    .roomcash {
        border-radius: 20px 0 0 20px;
        background: $primary_color;
    }

    .your-cash {
        border-radius: 0 20px 20px 0;
        background: $secondary_color
    }

    .cash-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p {
            margin: 0;
            font-weight: $sub_heading_weight;
        }

        :last-child {
            font-weight: $text_weight;
        }

        .rc-value {
            color: $primary_color;
            font-size: 20px;
        }

        .yc-value {
            color: $secondary_color;
            font-size: 20px;
        }
    }

    // should be dynamic
    .roomcash-amount {
        width: 50%;
    }
    // should be dynamic
    .your-cash-amount {
        width: 50%;
    }
}

/* - - - - - - - - Search Results - - - - - - - - */

.SearchHotels {

    .ArnRightListContainer {
        padding-top: 0;

        #ArnPropertyMap {
            width: 23vw;
        }
    }

    // Update Search container
    .ArnLeftSearchContainer {
        width: 20vw;
        padding: 0 10px;
        margin-left: 0;

        @include desktop {
            padding: 0;

            .ArnSearchHeader {
                margin-left: 10px;
            }
        }

        @include tablet {
            width: unset;
        }

        hr {
            background: #ccc;
            height: 1px;
            margin-top: 30px;
        }

        .ArnPrimarySearchOuterContainer {
            margin-top: 10px;
    
            .ArnSearchHeader {
                text-transform: uppercase;
    
            }
        }

        .ArnSecondarySearchOuterContainer {
            .sort-wrapper {

                #sort-select {
                    border: none;
                    padding: 15px !important;
                    margin-top: 10px;
                }

                @include desktop {
                    hr {
                        display: none;
                    }
                }
            }

            h4, #filter-by {
                text-transform: uppercase;
                margin: 0;
                font-size: 20px;
                letter-spacing: 1px;
            }

            #filter-by {
                margin-top: 30px;
                font-weight: $heading_weight;
            }

            .lblAmenities, .lblPropertyType {
                font-weight: 600 !important;
            }
        }
    }

    #currentPropertyPage {
        background-color: #fff;
        padding: 80px 24px;
        width: 55vw;

        @include desktop {
            width: unset;
        }
    }

    .ArnQuadSearchContainer.ArnPrimarySearchContainer {
        background-color: unset;
        color: $secondary_text_color;
        font-weight: $text_weight;
        
        #theSearchBox{
            #theCheckIn, #theCheckOut, #rooms, #adults {
                font-weight: $text_weight !important;
            }
            input, select {
                padding: 12px !important;
            }
        }
    }

    // Property Container
    .ArnProperty {

        .ArnPropThumb, .ArnPropThumb img {
            height: 280px;
        }

        .ArnPropName {
            height: 300px;
            padding: 20px 12px;
            justify-content: space-evenly;

            .ArnTripAdvisorDetails {
                bottom: 35px;

                .ratingCount {
                    padding: 5px;
                }

                .reviewCount {
                    align-self: center;
                }
            }
        }

        .ArnRateCell {
            display: none;
        }

        .percentSavings, .ArnPriceCell {
            display: none !important;
        }

        .ArnPropNameLink span {
            letter-spacing: 1px;
        }

        .ArnTripAdvisorDetails.HasReviews .ratingCount {
            background-color: $secondary_background_color;
        }

        .ArnRateButton {
            max-width: 130px;
        }

        .ArnPropName {
            width: 100%;
        }

    }

    // pagination
    .ArnPages {
        display: flex;
        justify-content: center;
    }
}

/* - - - - - - - - Property Detail - - - - - - - - */

.SinglePropDetail {

    .ArnRightListContainer {
        background-color: #fff;

        .ArnProperty {
            padding: 10px 0;
        }

        .RoomDescription {
            font-weight: $text_weight;
        }
    }

    .ArnLeftListContainer {
        margin: 0 40px 0 10px;

        .translateMe {
            text-transform: uppercase;
        }

        .SimpleSearch {
            background-color: unset;
            color: #000;
            font-weight: $text_weight;
            padding: 0;

            input, select {
                padding: 12px !important;
                font-weight: $text_weight !important;
            }

            input.submit {
                font-weight: $sub_heading_weight;
            }
        }

        .ArnAmenityContainer {
            font-weight: $text_weight !important;
        }
    }

    .percentSavings {
        display: none !important;
    }

    .roomcash-scale-container {
        margin-top: 30px;
        width: 60%;

        @include mobile {
            width: 100%;
        }
    
        .bar {
            margin-top: 10px;
        }

        // should be dynamic
        .roomcash-amount {
            width: 50%;
        }
        // should be dynamic
        .your-cash-amount {
            width: 50%;
        }
    }
}
