$header_background: #fff;
$logo_flex_position: flex-start;
$logo_max_width: 300px;
$background_color: #fff;
$secondary_background_color: '';
$primary_color: #9c6aad;
$secondary_color: #333;
$primary_text_color: #fff;
$secondary_text_color: #9c6aad;
$border_color: #9c6aad;
$button_hover_background_color: transparent;
$button_hover_text_color: #333;
$button_hover_border_color: #9c6aad;
$google_font_name: 'Montserrat';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

