/* ----- SASS STYLES -----*/

$primary-color: pink;

header {
    background-color: $primary-color !important;
    a {
        background: #ccc;
    }
    li {
        color: #000;
        text-transform: uppercase;
    }
}

a {
    color: $primary-color;
}