@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #f1daca;
$logo_flex_position: center;
$logo_max_width: 400px;
$background_color: #fff;
$primary_color: #07425c;
$secondary_color: #1e837d;
$primary_text_color: #fff;
$secondary_text_color: #1e837d;
$border_color: #1e837d;
$button_hover_background_color: #fff;
$button_hover_text_color: #1e837d;
$button_hover_border_color: #1e837d;
$google_font_name: 'Montserrat';
$site_name: 'high_water_22-70016';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.png) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';

.ArnRateButton .ArnShowRatesLink  {
  background: #1e837d;
  color: #fff;
  border-color: #1e837d;
  &:hover{
    border-color: #1e837d;
    background: #fff;
    color: #1e837d;
  }
}