
$i: 0;
@each $image in $bg-images {
    $i: $i +1;
    .event-#{$i} {
        background: $image;
    }
}

@function setUpEventColumns($bg-images) {
    @if (length($bg-images) == 1) {
        @return 1fr;
    }
    @if (length($bg-images) == 2) {
        @return 1fr 1fr;
    }
    
    @else {
        @return 1fr 1fr 1fr;
    }
}


.events {
    display: grid;
    grid-template-columns: setUpEventColumns($bg-images);
    max-width: 75vw;
}

.event-container {
    margin: 18px;
    padding: 18px;
    text-align: center;
    color: $primary_text_color;
    border: 1px solid $primary_text_color;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.event-container:hover::before{
    opacity: 1;
}

.event-container h2{
    font-weight: normal;
}

@media screen and (max-width: 800px){
    .events{
        grid-template-columns: 1fr;
    }
}


