.events{
    display: grid;
    max-width: 75vw;
}

.event-container{
    margin: 18px;
    padding: 18px;
    text-align: center;
    color: $primary_text_color;
    border: 1px solid $primary_text_color;
    position: relative;
    background: linear-gradient(to right, #{$secondary_color}c9,#{$secondary_color}c9);
    text-decoration: none;
    z-index: 1;
}
.event-container::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #{$secondary_color}c9, #{$primary_color}c9);
    z-index: -1;
    transition: opacity 0.45s ease-in-out;
    opacity: 0;
}

.event-container:hover::before{
    opacity: 1;
}

.event-container h2{
    font-weight: normal;
}

@media screen and (max-width: 800px){
    .events{
        grid-template-columns: 1fr;
    }
}