$header_background: #fff;
$logo_flex_position: flex-start;
$logo_max_width: 300px;
$background_color: #fff;
$secondary_background_color: '';
$primary_color: #4C9C2E;
$secondary_color: #1c4699;
$primary_text_color: #fff;
$secondary_text_color: #4C9C2E;
$border_color: #4C9C2E;
$button_hover_background_color: #fff;
$button_hover_text_color: #4C9C2E;
$button_hover_border_color: #4C9C2E;
$google_font_name: 'Montserrat#';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

@font-face {
    font-family: 'Futura-Bold';
    src: url('https://static.hotelsforhope.com/portals/child-portals/noLRG/53763/fonts/FuturaStd-Bold.eot?#iefix') format("embedded-opentype"), url("https://static.hotelsforhope.com/ares/site_configs/austin_marathon_21-59243/fonts/FuturaStd-Bold.ttf") format("truetype");
}

.event-dates {
    font-family: 'Futura-Bold', 'helvetica';
    margin-left: 18px;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
    .event-dates {
        margin: 0 0 15px 0;
    }
}