@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #000;
$logo_flex_position: center;
$logo_max_width: 275px;
$background_color: #000;
$primary_color: #FF47CD;
$secondary_color: #00AFFF;
$primary_text_color: #fff;
$secondary_text_color: #FF47CD;
$border_color: #FF47CD;
$button_hover_background_color: #fff;
$button_hover_text_color: #00AFFF;
$button_hover_border_color: #00AFFF;
$google_font_name: 'Montserrat';
$site_name: 'buku_22-66047';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.png) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';
