
#weekend-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 20vh;
    border: 2px solid $primary_color;
}

#close-popup {
    cursor: pointer;
}

#close-popup:hover {
    text-decoration: underline
}

#popup-modal.show-modal {
    z-index: 501;
    top: 0px;
}

#popup-modal .modal-header {
    width: 100%;
}