@font-face {
    font-family: 'Basetica-Black';
    src: url('https://static.hotelsforhope.com/portals/child-portals/noLRG/57830/fonts/Basetica_Black.otf') format('opentype');
}

@font-face {
    font-family: 'Basetica';
    src: url('https://static.hotelsforhope.com/portals/child-portals/noLRG/57830/fonts/Basetica.otf') format('opentype');
}

body {
    font-family: 'Basetica', 'Helvetica';
    font-size: 17px !important;
    font-weight: 300;
    background: #fff;
    color: #333;
    line-height: 1.4;
}

.ArnSubPage td {
    font-family: 'Basetica', 'Helvetica';
    font-size: 15px !important;
    font-weight: 300;
    color: #333;
}

body.RootBody {
    background: url(https://static.hotelsforhope.com/portals/child-portals/noLRG/57830/images/banner.jpg) no-repeat center center /cover !important;
}

header {
    background: url(https://static.hotelsforhope.com/portals/child-portals/noLRG/57830/images/design-element2.png) no-repeat center center /cover;
    border-bottom: 3px solid #fb48ed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
}

.modifySearch,
.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited,
legend,
.theHotelName,
.ArnNightlyRate strong,
.ArnPriceCell a,
.SinglePropDetail .OnSale .bestPrice .yourRateAmount,
.yourRateAmount,
.arnMapPopup h1,
.arnMapPopup .rate,
.arnMapPopup .ArnTripAdvisorDetails .reviewCount {
    font-family: 'Basetica-Black' !important;
}

#language {
    display: none;
}

.logo img {
    max-width: 585px;
    width: 100%;
    margin: 0;
}

.SearchHotels .ArnPropName a {
    letter-spacing: initial !important;
}

.confirmMessageContainer {
    display: none;
}

/* Buttons */
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #270a79 !important;
    transition: all .5s ease;
    color: #ecff21 !important;

}

.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.holdRoom {
    font-family: 'Basetica-Black' !important;
    text-transform: uppercase;
    font-size: 15px;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #270a79 !important;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-top: 1px solid #270a79 !important;
    border-bottom: 1px solid #270a79 !important;
    background: #270a79 !important;

}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    border: none !important;
    color: #270a79;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #270a79 !important;
    border-left: 1px solid #270a79 !important;
    border-right: 1px solid #270a79 !important;
}

.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #fb48ed !important;
    color: #fff !important;

}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active {
    background: #fb48ed !important;
    color: #fff !important;
}

.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus {
    background: #646464 !important;
}

.holdRoom {
    background: #858585 !important;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #270a79 !important;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #ecff21 !important;
    color: #000 !important;
}

.arn-leaflet-reset-button {
    background: #270a79 !important;
    font-family: 'Basetica';
}

.leaflet-top {
    top: 190px;
}

.arnMapMarker {
    background: #270a79 !important;
    border: #fff !important;
    font-family: 'Basetica';
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #270a79 !important;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #fb48ed !important;
    border: #fb48ed !important;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #fb48ed !important;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #270a79 !important;
}

.throbber {
    border-left: #270a79 !important;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px !important;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #270a79 !important;
}

#slideit section {
    border-bottom: #270a79 !important;
}

.ArnPropName div.ratingCount {
    background: #270a79 !important;
}

.sash {
    background: #270a79;
}

.sash .event-rate {
    font-family: 'Basetica-Black';
}

.arnPrice {
    font-family: 'Basetica-Black' !important;
}

.perNight {
    font-family: 'Basetica' !important;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #270a79 !important;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #270a79 !important;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100% !important;
    max-width: 205px !important;
}

@media only screen and (min-width: 800px) {
    .ArnSubPage .submit {
        max-width: unset;
    }

    #SortControls {
        padding: 0;
        top: 53px;
    }

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #270a79 !important;
    }
}

@media only screen and (max-width: 800px) {

    .bottomPager .ArnPages .pagesActive,
    .bottomPager .ArnPages .pagesPrev,
    .bottomPager .ArnPages a {
        padding: 2px 5px;
        font-size: 13px !important;
        text-transform: capitalize !important;

    }

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active {
        border-top: 4px solid #270a79 !important;
        border-bottom: 4px solid #270a79 !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #270a79 !important;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0 !important;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }
}

@media only screen and (max-width: 565px) {
    .logo+a {
        display: none;
    }

    .SinglePropDetail .ArnPropName div.ArnTripAdvisorDetails {
        display: flex !important;
        justify-content: center;
        width: 100%;
    }

    .SinglePropDetail .ArnPropName div.ratingCount {
        position: static;
        order: 0;
        margin-right: 3px;
    }

    .ArnPropName div.reviewCount {
        order: 1;
    }
}

#adults option:nth-child(n + 5) {
    display: block !important;
}

#adults option:nth-child(n + 7) {
    display: none !important;
}