$header_background: ;
$logo_flex_position: ;
$logo_max_width: ;
$background_color: ;
$secondary_background_color: ;
$primary_color: ;
$secondary_color: ;
$primary_text_color: ;
$secondary_text_color: ;
$border_color: ;
$button_hover_background_color: ;
$button_hover_text_color: ;
$button_hover_border_color: ;
$google_font_name: '';
