@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #fff;
$logo_flex_position: space-between;
$logo_max_width: 300px;
$background_color: #fff;
$secondary_background_color: #f0f0f0;
$primary_color: #da2128;
$secondary_color: #166497;
$primary_text_color: #fff;
$secondary_text_color: #333;
$border_color: #da2128;
$button_hover_background_color: #fff;
$button_hover_text_color: #da2128;
$button_hover_border_color: #da2128;
$google_font_name: 'Montserrat';
$site_name: 'hof_cug-63710';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../styles/sass/config-styles/resbeat.config.scss';

.SearchHotels .lblAmenities, .SearchHotels .lblRating, .SearchHotels .lblPropertyType, .SearchHotels .sort-wrapper h4,
.ArnSearchHeader, .SinglePropDetail .ArnLeftListContainer > span.translateMe{
    font-weight: 700;
}
