@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 200px;
$background_color: #fff;
$primary_color: #5b2d75;
$secondary_color: #c01c64;
$primary_text_color: #fff;
$secondary_text_color: #5b2d75;
$border_color: #5b2d75;
$button_hover_background_color: #fff;
$button_hover_text_color: #c01c64;
$button_hover_border_color: #c01c64;
$google_font_name: 'Montserrat';
$site_name: 'hive_23-86603';
$path: set-path($env);
$banner_image: linear-gradient(#5b2d75, #c01c64);

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';
