@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #5dc3ac;
$secondary_color: #7487dd;
$primary_text_color: #fff;
$secondary_text_color: #5dc3ac;
$border_color: #5dc3ac;
$button_hover_background_color: #fff;
$button_hover_text_color: #5dc3ac;
$button_hover_border_color: #5dc3ac;
$google_font_name: 'Montserrat';
$site_name: 'voodoo_22-70452';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';

