{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            },
            "@babel/polyfill"
        ]
    ],
    "plugins": ["@babel/plugin-transform-modules-commonjs", ["@babel/plugin-proposal-class-properties", {"loose": true}]]
}
