// @mixin append-header-images {
//     $i: 0;
//     @each $image in $header-images {
//         $i: $i +1;
//         .search-header-#{$i} {
//             background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), $image;
//         }
//     }
// }

// @include append-images();
// @if ($header-images != '') {
//     @include append-header-images();
// }

.ArnSupportBottom .searchLink, .ArnSupportBottom .dvd:first-of-type, .ArnSupportBottom .dvd:nth-of-type(2) {
    display: none;
}

h1 {
    display: none;
}

.RootBody .ArnSearchContainerMainDiv {
    margin-top: 0px;
}

.event-group-header-container{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// .event-group-header-left-box {
//     margin-top:30px;
// }

.event-group-header {
    font-family: 'UnitedSansReg-Heavy';
    font-size: 22px;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    text-transform: uppercase;
    color: #393939;
    margin: 20px 0;
}

// .event-group-header-right-box {
//     margin-top: 30px;
// }

// .event-group-header:before,
// .event-group-header:after {
//     top: 51%;
//     overflow: hidden;
//     width: 50%;
//     height: 1px;
//     content: '\a0';
//     background-color: #000;
// }

// .event-group-header:before {
//     margin-left: -50%;
//     text-align: right;
// }

.RootBody h3 {
    display: none;
}

.ArnSearchField {
    display: none;
}

.search-container-wrapper {
    width: 85vw;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 15px;
    border-radius: 8px;
}

.RootBody .ArnPrimarySearchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    padding-left:10px;
    background: none;
    margin-top: 20px;
    margin-bottom: 15px;
}

.RootBody input, .RootBody select {
    height: 28px !important;
    margin-top: 3px;
}

#CitySearchContainer {

    span {
        text-transform: uppercase;
        // font-size: 13px !important;
    }
}

.ArnIndividualSearchContainer span {
    text-transform: uppercase;
    // font-size: 13px !important;
}

.ArnRooms span {
    text-transform: uppercase;
    // font-size: 13px !important;
}

.events {
    display: flex;
    flex-direction: column;
    // grid-template-columns: setUpEventColumns($bg-images);
    // max-width: 75vw;
    min-width: none;
    min-height: none;
    width: 85vw;
}

.header-events {
    display: flex;
    // width: 100%;
}

.event-container {
    padding: 0;
    border-radius: 8px;
    text-align: center;
    color: $primary_text_color;
    border: 2px solid $primary_text_color;
    position: relative;
    text-decoration: none;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000;
    transition: all .3s ease-in-out;

    h2 {
        font-weight: normal;
    }
}

.event-container:hover {
    border: 2px solid $primary_color;
}

.event-details {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.display-date-location-container {
    display: flex;
    flex-direction: row;
}

.view-hotels {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    border-radius: $border-radius-general;
    margin-right: 15px;
    width: 200px;
    min-width: 200px;
}

.header-container {
    padding: 18px;
    text-align: center;
    color: $primary_text_color;
    border: 2px solid $primary_text_color;
    position: relative;
    text-decoration: none;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;

    .event-name {
        margin: unset;
    }

    h2 {
        font-weight: normal;
    }
}

.RootBody .ArnSecondarySearchOuterContainer {
    padding: 0px;
}

.RootBody #theOtherSubmitButton {
    max-width: none;
    max-height: none;
    width: 200px;
    min-width: 200px;
    margin: 0px;
    background: #c9920e;
}

.header-container:hover {
    border: 2px solid $primary_color;
}

.lucid-banner {
    width: 85vw;
}

@media screen and (min-width: 786px){

    .event-image-container{
        border-radius: $border-radius-general 0px 0px $border-radius-general;
        min-width: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        border-right: 4px solid #c9920e;
    }

    @mixin append-images {
        $i: 0;
        @each $image in $bg-images-desktop {
            $i: $i +1;
            .event-image-container-#{$i} {
                background: $image;
            }
        }
    }
    
    @include append-images();
    @if ($header-images != '') {
    @include append-header-images();
    }

}

@media screen and (max-width: 786px){

    .RootBody #theOtherSubmitButton {
            width: 100%;
            margin-top: 20px;
            font-size: 14px;
        }
    
    .event-image-container{
        border-radius: $border-radius-general 0px 0px $border-radius-general;
        min-width: 100px;
        min-height: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        border-right: 4px solid #c9920e;
    }

    @mixin append-images {
        $i: 0;
        @each $image in $bg-images-mobile {
            $i: $i +1;
            .event-image-container-#{$i} {
                background: $image;
            }
        }
    }

    @include append-images();
    @if ($header-images != '') {
    @include append-header-images();
    }

}
