@mixin append-images {
    $i: 0;
    @each $image in $bg-images {
        $i: $i +1;
        .event-#{$i} {
            background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), $image;
        }
    }
}

@mixin append-header-images {
    $i: 0;
    @each $image in $header-images {
        $i: $i +1;
        .search-header-#{$i} {
            background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), $image;
        }
    }
}

@include append-images();
@if ($header-images != '') {
    @include append-header-images();
}

.ArnSupportBottom .searchLink, .ArnSupportBottom .dvd:first-of-type, .ArnSupportBottom .dvd:nth-of-type(2) {
    display: none;
}

.RootBody .ArnSearchContainerMainDiv {
    justify-content: space-around;

    h1 {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #000;
        font-size: 50px;
        font-weight: 400;
        margin: 40px 0 ;
        text-align: center;
    }
}

.events {
    display: grid;
    // grid-template-columns: setUpEventColumns($bg-images);
    grid-gap: 15px;
    max-width: 75vw;
}

.header-events {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 50vw;
    width: 100%;
}

.event-container {
    padding: 18px;
    text-align: center;
    color: $primary_text_color;
    border: 2px solid $primary_text_color;
    position: relative;
    text-decoration: none;
    z-index: 1;
    height: 45vh;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;

    h2 {
        font-weight: normal;
    }
}

.event-container:hover {
    border: 2px solid $primary_color;
}

.event-details, .view-hotels {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.header-container {
    padding: 18px;
    text-align: center;
    color: $primary_text_color;
    border: 2px solid $primary_text_color;
    position: relative;
    text-decoration: none;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;

    .event-name {
        margin: unset;
    }

    h2 {
        font-weight: normal;
    }
}

.header-container:hover {
    border: 2px solid $primary_color;
}

@media screen and (max-width: 800px){
    .events{
        grid-template-columns: 1fr !important;
    }
}
