@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #84754e;
$logo_flex_position: center;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #a23833;
$secondary_color: #84754e;
$primary_text_color: #fff;
$secondary_text_color: #a23833;
$border_color: #a23833;
$button_hover_background_color: #fff;
$button_hover_text_color: #84754e;
$button_hover_border_color: #84754e;
$google_font_name: 'Montserrat';
$site_name: 'railbird_21-68382';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg?v2) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
