body, .ArnPropNameLink span, .CheckOutForm #theHotel, .CheckOutForm label, .CheckOutForm legend, .sort-wrapper a, .theHotelName, .CheckOutForm #theRateSummaryInfo div, .CheckOutForm #theConfirmCheckboxesAjax, .CheckOutForm #theConfirmCheckboxesAjax a, .CheckOutForm #theConfirmCheckboxesAjax span, .ConfirmationForm .PaymentPolicies, .ConfirmationForm .GuestForms, .ConfirmationForm a, #batch a, .emailWarning2 a, .eventRateGuarantee h2, .eventRateGuarantee span, #theConfirmationPoliciesAjax, .SinglePropDetail #exclusive-event-rate {
    color: #fff !important;
}

svg.arrow polyline {
    stroke: #fff;
}

.SinglePropDetail .ArnRateTableHeader {
    background: unset;
    border-bottom: 1px solid #fff;
}

.CheckOutForm .modal-container, .SinglePropDetail .ArnRateCancelPolicy, .SinglePropDetail .ArnRateCancelPolicyContainer .close, .HoldRoomsForm .success {
    color: #000;
}

.SearchHotels .custom-tag {
    background: rgba(255, 255, 255, .8);
    color: #000;
}

@media screen and (max-width: 800px) {
    .sort-filter-container {
    color: #000 !important;
    }

    .search-close svg polyline {
        stroke: #fff;
    }

    .SearchHotels .mobile-filter-container input.theOtherSubmitButton, .sort-wrapper a {
        color: #000 !important;
    }
}



/* ----- Dark css end -----*/
/* ----- Sass start ----- */
