@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:700&display=swap');

/* Elements with Colored BG */
body,
.SearchHotels .ArnSupportLinks.ArnSupportBottom,
.ArnGoAddressSearch,
.ArnGoAirportSearch,
.ArnGoCitySearch,
.ArnGoLandmarkSearch,
.ArnSearchContainerMainDiv,
.SinglePropDetail .ArnLeftListContainer,
.SinglePropDetail .ArnPropName,
.SinglePropDetail .SimpleSearch,
.SinglePropDetail .ArnContentGeneralInfo,
.SinglePropDetail .rateRow,
.SinglePropDetail .ArnRateTableHeader,
.SearchHotels .ArnLeftSearchContainer,
.SearchHotels .ArnProperty,
.SearchHotels .ArnProperty:hover,
.PropLimitedAvail .ArnContainer,
.SearchHotels .PropLimitedAvail .ArnPropName,
.SearchHotels #searchForm,
.ArnRateFiltersContainer,
.ArnSlider,
.ArnQuadSearchContainer.ArnPrimarySearchContainer,
.SearchHotels .ArnPrimarySearchOuterContainer,
.modifySearch {
    background: #000 !important;
    color: #fff !important;
}

.ArnPropNameLink span,
.ArnPropAddress span,
.perNight {
    color: #fff !important;
}

.hamburger {
    color: #000;
}

.ArnSortByVacationRental {
    border-radius: 5px 5px 0 0;
}

.ArnSortByClass {
    border-radius: 0 0 5px 5px;
}

@media only screen and (max-width: 800px) {

    .SinglePropDetail,
    .SearchHotels .subHeader .refineLink,
    .SearchHotels .ArnSortBy,
    .SearchHotels .ArnSortBy:hover,
    .SearchHotels .ArnSortByClass,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByDealAmount,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByDealPercent,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDistance,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByPrice,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByType,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDistance.active,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByVacationRental:hover,
    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink,
    .SinglePropDetail legend {
        background: #000 !important;
        color: #fff !important;
    }

}

.arnMapMarker,
.arnMapMarker:hover,
.highlight {
    border-color: #000;
}

.hamburger:after {
    border-top-color: #000;
}

body {
    font-family: 'Open Sans', 'Helvetica';
    font-size: 17px !important;
    font-weight: 300;
    background: #000;
    color: #fff;
    line-height: 1.4;
}

.ArnSubPage td {
    font-family: 'Open Sans', 'Helvetica';
    font-size: 15px !important;
    font-weight: 300;
    color: #fff;
}

body.RootBody {
    background: url(https://static.hotelsforhope.com/portals/child-portals/noLRG/57802/images/banner.jpg) no-repeat center center /cover !important;
}

header {
    background: #000;
    border-bottom: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
}

.modifySearch,
.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited,
legend,
.theHotelName,
.ArnNightlyRate strong,
.ArnPriceCell a,
.SinglePropDetail .OnSale .bestPrice .yourRateAmount,
.yourRateAmount,
.detailsTitle {
    font-family: 'Oswald' !important;
}

#language {
    display: none;
}

.logo img {
    max-width: 150px;
    margin: 12px;
}

.SearchHotels .ArnPropName a {
    letter-spacing: initial !important;
}

.distanceLabel {
    color: #fff;
    font-weight: 500;
}

/* Buttons */
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #da2128 !important;
    transition: all .5s ease;
    border-radius: 10px !important;

}

.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.holdRoom {
    font-family: 'Oswald' !important;
    text-transform: uppercase;
    font-size: 16px;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #da2128 !important;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    background: #112753 !important;
}

.ArnIndividualSearchContainer .ArnSearchField {
    padding: 0 15px;
}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    border: none !important;
    color: #112753;
    height: 30px;
    top: -2px;
    position: relative;
    border-radius: 10px;
    background: #fff;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #333 !important;
    border-left: 1px solid #333 !important;
    border-right: 1px solid #333 !important;
}

.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #333 !important;

}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active {
    background: #333 !important;
}

.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus {
    background: #646464 !important;
}

.holdRoom {
    background: #858585 !important;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #112753 !important;
}

.ArnAmenityContainer {
    margin-top: 15px;
}

.ArnRateCancelPolicy {
    color: #000;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #e1a30a !important;
    color: #000 !important;
}

.SinglePropDetail .ArnRateTableHeader th {
    color: #fff;
}

.arn-leaflet-reset-button {
    background: #112753 !important;
}

.leaflet-top {
    top: 190px;
}

.arnMapMarker {
    background: #112753 !important;
    border: #fff !important;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #112753 !important;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #333 !important;
    border: #333 !important;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #333 !important;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #112753 !important;
}

.throbber {
    border-left: #112753 !important;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px !important;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #112753 !important;
}

#slideit section {
    border-bottom: #112753 !important;
}

.ArnPropName div.ratingCount {
    background: #112753 !important;
}

.sash {
    background: #da2128;
}

.arnPrice {
    font-family: 'Oswald' !important;
}

.perNight {
    font-family: 'Open Sans' !important;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #112753 !important;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #112753 !important;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100% !important;
    max-width: 205px !important;
}

.ArnRateCalendar td {
    color: #000 !important;
}

@media only screen and (min-width: 800px) {
    #SortControls {
        padding: 0;
        top: 53px;
    }

    #SortControls,
    .SearchHotels .ArnSortContainer {
        height: 245px;
        border-radius: 5px;
    }

    .SinglePropDetail .ArnRateCalendar {
        background: rgba(255, 255, 255, .8);
    }

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #112753 !important;
    }
}

@media only screen and (max-width: 800px) {
    .ad-unit {
        display: none;
    }

    .bottomPager .ArnPages .pagesActive,
    .bottomPager .ArnPages .pagesPrev,
    .bottomPager .ArnPages a {
        padding: 2px 5px;
        font-size: 13px !important;
        text-transform: capitalize !important;

    }

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active {
        border-top: 2px solid #112753 !important;
        border-bottom: 2px solid #112753 !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 2px solid #fff !important;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0 !important;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }

    header {
        border-bottom: 1px solid #fff;
    }

    .SearchHotels .ArnPropThumb {
        border-radius: 10px 0 0 10px;
    }

    .SearchHotels .geoButton {
        filter: invert(1);
    }

    .SearchHotels .ArnSortBy,
    .SearchHotels .ArnSortBy:hover,
    .SearchHotels .ArnSortByClass,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByDealAmount,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByDealPercent,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDistance,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByPrice,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByType,
    .SearchHotels .ArnSortByType:hover {
        border-bottom: 2px solid #fff;
        border-top: 2px solid #fff;
    }

    .ArnSortByClass {
        border-radius: 0;
    }

    .SearchHotels .bottomPager .ArnPages .pagesActive {
        height: 26px;
        top: -1px;
        border-radius: 10px;
        display: inline-block;
        min-width: 0;
        width: 18px;
        padding: 5px 3px;
    }
}

@media only screen and (max-width: 565px) {
    .logo+a {
        display: none;
    }

    .SearchHotels .ArnPropThumb {
        border-radius: 10px;
    }
}

#adults option:nth-child(n + 5) {
    display: block !important;
}

#adults option:nth-child(n + 7) {
    display: none !important;
}

.RootBody .ArnSearchContainerMainDiv,
.RootBody .modifySearch {
    background: transparent !important;
}

.pushContainer span {
    color: #000;
}

#theUploadScreenShotAjax input,
.ArnSupportChatTable td {
    color: #fff;
}

.CheckOutForm td {
    color: #000;
}

.pb-h4h {
    display: none;
}

/* Root Page Additional Search */
.RootBody .ArnSecondarySearchOuterContainer {
    display: flex !important;
    background: rgba(0, 0, 0, .75);
    padding: 15px 15px 14px;
}

.RootBody #CitiesNearbyContainer,
.RootBody #theOtherSubmitButton {
    display: none;
}

.RootBody .ArnAmentitiesContainer,
.RootBody .ArnCitiesNearbyContainer,
.RootBody .ArnCurrenciesContainer,
.RootBody .ArnHotelSizeContainer,
.RootBody .ArnPriceContainer,
.RootBody .ArnPropertyClassesContainer,
.RootBody .ArnPropertyTypesContainer,
.RootBody .ArnRateFiltersContainer,
.RootBody .ArnSlider {
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .RootBody .ArnSecondarySearchOuterContainer {
        display: none !important;
    }
}

.SearchHotels .PropLimitedAvail .ArnRateCell {
    background: transparent;
}

.RootBody .ArnSearchContainerMainDiv {
    padding: 0 !important;
}

#theArnProperty857088,
#theArnProperty413515,
#theArnProperty209119,
#theArnProperty354993,
#theArnProperty42161 {
    display: none;
}

#exclusive-event-rate{
    color: #fff !important;
}

.GroupHoldForm .ArnContentContainer, .HoldRoomsForm .ArnContentContainer{
    background: #000;
}

.holdRoom{
    border-radius: 10px;
}

.success{
    color: #000;
}