@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #14141d;
$logo_flex_position: space-between;
$logo_max_width: 260px;
$background_color: #fff;
$primary_color: #e10600;
$secondary_color: #333;
$primary_text_color: #fff;
$secondary_text_color: #333;
$border_color: #e10600;
$button_hover_background_color: #fff;
$button_hover_text_color: #e10600;
$button_hover_border_color: #e10600;
$google_font_name: 'Titillium Web';
$header_font_name: 'F1-Regular';
$site_name: 'f1_dutch_promoters_22-75705';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)), url(#{$path}/clients/formula_1/images/f1-bg-1.jpg) no-repeat center center /cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';
@import '../../../styles/sass/f1.scss';

#popup-modal.show-modal {
    background: unset;
}

.show-mobile-nav {
    transform: translateY(410px) !important;
}

#tickets li:nth-child(2), #tickets li:nth-child(1), #races-contact li:first-child {
    display: none;
}

#theDatePrompt #datePromptContainer img {
    background: url(#{$path}/site_configs/#{$site_name}/img/email-logo.jpg) no-repeat center center;
}