$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 300px;
$background_color: #fff;
$secondary_background_color: '';
$primary_color: #5dc3ac;
$secondary_color: #7487dd;
$primary_text_color: #fff;
$secondary_text_color: #5dc3ac;
$border_color: #5dc3ac;
$button_hover_background_color: #fff;
$button_hover_text_color: #5dc3ac;
$button_hover_border_color: #5dc3ac;
$google_font_name: 'Montserrat';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

