$header_background: #fff;
$logo_flex_position: space-between;
$logo_max_width: 88px;
$background_color: #fff;
$secondary_background_color: '';
$primary_color: #23305a;
$secondary_color: #f7af1a;
$primary_text_color: #fff;
$secondary_text_color: #23305a;
$border_color: #23305a;
$button_hover_background_color: #465996 radial-gradient(circle,transparent 1%,#465996 0) 50%/15000%;
$button_hover_text_color: #fff;
$button_hover_border_color: #2589c6;
$google_font_name: 'Montserrat';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

/* Header */
header {
    box-shadow: 0 2px 4px rgba(55, 63, 67, 0.04);
    border-bottom: none;
}
.logo img {
    padding: 0 !important;
    margin: 15px !important;
}

/* Footer */
.ArnSupportBottom {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100px;
    margin: 48px 0 24px 0;
}

footer a {
    color: #23305a;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

footer a:hover,
footer a:focus,
footer a:active {
    color: #0056b3;
}

footer a + span {
    padding: 0 12px;
    color: #23305a;
}

/* Full stay toggle start */
.rs-toggle {
    position: relative;
    width: 65px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#rs-tax-inclusive {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9;
    position: relative;
    margin-right: 15px;
}

#rs-tax-inclusive > label {
    margin-right: 12px;
}

#rs-tax-inclusive label {
    color: #fff;
    font-weight: normal;
    margin-bottom: 0;
}

.rs-toggle-checkbox {
    display: none;
}

.rs-toggle-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #535c79;
    border-radius: 20px;
}

.rs-toggle-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.rs-toggle-inner:after,
.rs-toggle-inner:before {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
}

.rs-toggle-inner:before {
    content: 'On';
    padding-left: 10px;
    background: #23305a;
    color: #fff;
}

.rs-toggle-inner:after {
    content: 'Off';
    padding-right: 10px;
    background-color: #eee;
    color: #999;
    text-align: right;
}

.rs-toggle-switch {
    display: block;
    width: 21px;
    height: 21px;
    margin: 3px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 37px;
    border: 2px solid #999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.rs-toggle-checkbox {
    pointer-events: none;
}

.rs-toggle-checkbox:checked + .rs-toggle-label .rs-toggle-inner {
    margin-left: 0;
}

.rs-toggle-checkbox:checked + .rs-toggle-label .rs-toggle-switch {
    right: 0;
}

@media screen and (max-width: 600px) {
    #rs-tax-inclusive {
        width: 100%;
        justify-content: flex-start;
        margin: 10px 0 10px 0;
        order: 2;
    }
}

/* Single Prop Detail */
.SinglePropDetail .SimpleSearch{
    padding: 8px;
}