@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #000;
$logo_flex_position: center;
$logo_max_width: 350px;
$background_color: #fff;
$primary_color: #FF6700;
$secondary_color: #DCFA23;
$primary_text_color: #fff;
$secondary_text_color: #FF6700;
$border_color: #FF6700;
$button_hover_background_color: #fff;
$button_hover_text_color: #FF6700;
$button_hover_border_color: #FF6700;
$google_font_name: 'Montserrat';
$site_name: 'format_festival_23-83432';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';

.logo img {
    padding: 25px;
}

span.exclusive-rate {
    color: #000;
}

.arnMapMarkerSpan {
    color: #000;
}