@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #B61A20;
$secondary_color: #EA802B;
$primary_text_color: #fff;
$secondary_text_color: #B61A20;
$border_color: #B61A20;
$button_hover_background_color: #fff;
$button_hover_text_color: #B61A20;
$button_hover_border_color: #B61A20;
$google_font_name: 'Montserrat';
$site_name: 'arizona_bike_week_21-64812';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 4px;
  margin: 0px 0px 10px 0px;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 42px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% auto 20%;
}

.logo {
  align-self: center;
  justify-self: center;
  grid-column: 2;
}

.logo img {
  max-height: 16px;
}

.hero-container {
  background: 
    linear-gradient(
      rgb(255, 255, 255, 0.0) 55%,
      rgba(255, 255, 255, .9)
    ),
    $banner_image;
  background-size: cover;
  width: 100%px;
  height: 500px;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  border-bottom: 4px solid #7A9A9E;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* .hero-container img {
  position: relative;
  background-size: cover;
} */

/* .title-date-container {
  position: absolute;
  bottom: 12px;
  left: 35px;
  margin: 0;
} */

.trip-title {
  margin-left: 35px;
  margin-top: 12px;
}

.trip-date {
  margin-left: 35px;
  margin-bottom: 12px;
}

.body-article {
  display: flex;
  flex-direction: row;
}

.itinerary-section {
  width: 50vw;
}

.trips-section {
  width: 50vw;
}

.section-title {
  margin-top: 14px;
  margin-left: 35px;
  font-weight: 500;
  font-size: 36px;
  color: #7A9A9E;
}

.itinerary-item {
  margin: 35px;
}

.itinerary-text {
  display: flex;
  flex-direction: row;
}

.itinerary-day {
  font-size: 30px;
  font-weight: 500;
  width: 200px;
}

.trip-item {
  border: 1px solid #3276B140;
  box-shadow: 0px 4px 4px 0px #0000000D;
  border-radius: 10px;
  margin: 35px;
  display: flex;
  flex-direction: row;
}

.trip-item-name {
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
}

.trip-item-description {
  font-size: 18px;
  padding: 10px;
  margin: 0px;
}

hr {
  border-top: 1px solid #7a9a9e7a;
}

button {
  width: 120px;
  height: 42px;
  border-radius: 6px;
  border: none;
  color: #fff;
  margin: 10px;
  font-weight: 900;
}

.book-button {
  background: #3276B1;
  margin: 10px 10px 5px 20px ;
}

.hold-button {
  background: #3276b1b6;
  margin: 5px 10px 10px 20px ;
}

.trip-price-desktop {
  font-size: 34px;
  font-weight: 900;
  color: #7A9A9E;
  margin: 10px 0px 20px 20px ;
}

.trip-price-mobile {
  display: none;
}

.ArnSupportLinks {

    width: 100%;
    padding: 24px 0;
    margin: 24px auto 0 auto;
    text-align: center;
    background: #333;
    color: #fff;
    z-index: 9;
    position: relative;
    text-decoration: none;
}

.ArnSupportLinks a {
  color: #fff;
  text-decoration: none;
}

.pb-container {
  padding-top: 24px;
}

.pb-container img {
    width: 150px;
    cursor: pointer;
}

/* .bottom-carousel-article {
  margin: 35px;
  height: 250px;
} */

.carousel-container {
  margin: 35px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap:  15px;
  position: relative;
}

.carousel-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.gg-chevron-right {
    box-sizing: border-box;
    position: absolute;
    display: block;
    transform: scale(var(--ggs,1));
    width: 50px;
    height: 50px;
    border: 20px solid transparent;
    border-radius: 100px
}
.gg-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 50px;
    border-bottom: 15px solid;
    border-right: 15px solid;
    transform: rotate(-45deg);
    left: 300px;
    top: 125px;
}

@media only screen and (max-width: 600px) {

  .hero-container {
  background: 
    linear-gradient(
      rgb(255, 255, 255, 0.0) 10%,
      rgba(255, 255, 255, .9)
    ),
    $banner_image;
  background-size: cover;
  height: auto;
  min-height: 200px;
  /* position: relative; */
  /* float: left; */
  border-bottom: 4px solid #7A9A9E;
}

.logo img {
  max-height: 12px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 4px;
  margin: 0px 0px 10px 0px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

/* .title-date-container {
  position: absolute;
  bottom: auto;
  top: 12px;
  margin: 0;
} */

  .body-article {
  flex-direction: column;
}

.itinerary-section {
  width: 100%;
}

.trips-section {
  width: 100%;
}

.trip-item {
  border: 1px solid #3276B140;
  box-shadow: 0px 4px 4px 0px #0000000D;
  border-radius: 10px;
  margin: 35px;
  display: flex;
  flex-direction: column;
}

.trip-item-name {
  font-size: 24px;
  padding: 0;
}

.trip-mobile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.trip-price-mobile {
  display: block;
  font-size: 24px;
  font-weight: 900;
  color: #7A9A9E;
  margin: 0;
  margin-left: 10px;
}

.itinerary-text {
  display: flex;
  flex-direction: column;
}

.trip-price-desktop {
  display: none;
}

.itinerary-day {
  width: 100%;
  font-size: 24px;
}

.itinerary-description {

}

.trip-ctas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.book-button {
  background: #3276B1;
  margin: 0 ;
}

.hold-button {
  background: #3276b1b6;
  margin: 0 ;
}

.carousel-container {
  margin: 35px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
}


}
