@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 400px;
$background_color: #fff;
$primary_color: #f8c03d;
$secondary_color: #f8c03d;
$primary_text_color: #fff;
$secondary_text_color: #f8c03d;
$border_color: #222;
$button_hover_background_color: #fff;
$button_hover_text_color: #f8c03d;
$button_hover_border_color: #f8c03d;
$google_font_name: 'Montserrat';
$site_name: 'bj_landing_page-58196';
$path: set-path($env);
$banner_image: #fff;
$bg-images: url(#{$path}/site_configs/#{$site_name}/img/vegas/crowd.jpg), url(#{$path}/site_configs/#{$site_name}/img/scottsdale/banner2.jpg);
$header-images: '';

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/landing_page/landing-page.scss';

header {
    border: unset;
    box-shadow: 0px 5px 10px #f0f0f0;
}

.events {
    grid-gap: 50px;
}

.view-hotels {
    background: $primary_color;
    width: 55%;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
}

.view-hotels:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), $primary_color;
}

.event-container {
    h2 {
        font-weight: bold;
    }

    .display-date {
        font-weight: 400;
    }
}
