$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 400px;
$background_color: #fff;
$secondary_background_color: '';
$primary_color: #c8102e;
$secondary_color: #c8102e;
$primary_text_color: #fff;
$secondary_text_color: #c8102e;
$border_color: #222;
$button_hover_background_color: #fff;
$button_hover_text_color: #c8102e;
$button_hover_border_color: #c8102e;
$google_font_name: 'Montserrat';

@import '../../../styles/sass/config-styles/base-styles.config.scss';
