$header_background: #000;
$logo_flex_position: space-between;
$logo_max_width: 350px;
$background_color: #000;
$secondary_background_color: '';
$primary_color: #d01c1f;
$secondary_color: #d01c1f;
$primary_text_color: #fff;
$secondary_text_color: #d01c1f;
$border_color: #d01c1f;
$button_hover_background_color: #fff;
$button_hover_text_color: #d01c1f;
$button_hover_border_color: #d01c1f;
$google_font_name: 'Montserrat';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

