@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #000;
$logo_flex_position: space-between;
$logo_max_width: 350px;
$background_color: #000;
$primary_color: #d01c1f;
$secondary_color: #d01c1f;
$primary_text_color: #fff;
$secondary_text_color: #d01c1f;
$border_color: #d01c1f;
$button_hover_background_color: #fff;
$button_hover_text_color: #d01c1f;
$button_hover_border_color: #d01c1f;
$google_font_name: 'Montserrat';
$site_name: 'rot_rally_21-60512';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';

