@function set-path($env) {
    @if ($env == 'local') {
        $path: '../../..';
        @return $path;
    }
    @if ($env == 'develop') {
        $path: 'https://dev-static.#{$domain}/ares';
        @return $path;
    }
    @if ($env == 'production') {
        $path: 'https://static.#{$domain}.com/ares';
        @return $path;
    }
}

