$header_background: #000;
$logo_flex_position: center;
$logo_max_width: 500px;
$background_color: #000;
$secondary_background_color: '';
$primary_color: #ff48c5;
$secondary_color: #4bafff;
$primary_text_color: #fff;
$secondary_text_color: #ff48c5;
$border_color: #ff48c5;
$button_hover_background_color: #fff;
$button_hover_text_color: #4bafff;
$button_hover_border_color: #4bafff;
$google_font_name: 'Montserrat';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

