/* Fonts */
@font-face {
    font-family: 'nav_icons';
    src: url(//d3tw2v68rmxuj7.cloudfront.net/qng/icons/nav_icons-7580b0fe048a1ea461c1b86d24de323fe18260c158563a8055a17812434716d6.eot);
    src: url(//d3tw2v68rmxuj7.cloudfront.net/qng/icons/nav_icons-7580b0fe048a1ea461c1b86d24de323fe18260c158563a8055a17812434716d6.eot?#iefix) format("embedded-opentype"), url(//d3tw2v68rmxuj7.cloudfront.net/qng/icons/nav_icons-bc7d98d50886361ac7109ed632bfdad5530eaba67ea59c394d17b6877120e255.woff) format("woff"), url(//d3tw2v68rmxuj7.cloudfront.net/qng/icons/nav_icons-a39b3bbe7266a3636baa842f39b09ac63a1aee8fbfb8c3e05e72867178b23496.ttf) format("truetype"), url(//d3tw2v68rmxuj7.cloudfront.net/qng/icons/nav_icons-9eca34fc157862c151ae80d21a1189c63d284a2c61524ce077f7b98e466a2dfe.svg#nav_icons) format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'F1-Black';
    src: url('https://static.hotelsforhope.com/portals/child-portals/cug/56719/fonts/Formula1-Display-Black_web.eot?#iefix') format('embedded-opentype'),
        url('https://static.hotelsforhope.com/portals/child-portals/cug/56719/fonts/Formula1-Display-Black_web.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Bold';
    src: url('https://static.hotelsforhope.com/portals/child-portals/cug/56719/fonts/Formula1-Display-Bold_web.eot?#iefix') format('embedded-opentype'),
        url('https://static.hotelsforhope.com/portals/child-portals/cug/56719/fonts/Formula1-Display-Bold_web.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Regular';
    src: url('https://static.hotelsforhope.com/portals/child-portals/cug/56719/fonts/Formula1-Display-Regular_web.eot?#iefix') format('embedded-opentype'),
        url('https://static.hotelsforhope.com/portals/child-portals/cug/56719/fonts/Formula1-Display-Regular_web.ttf') format('truetype');
}

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGIVzY4SY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzYw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

[class*='icon-']::before {
    display: inline-block;
    font-family: 'nav_icons';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1
}

.icon-account::before {
    content: '\0041'
}

.icon-language::before {
    content: '\0042'
}

.icon-hamburger::before {
    content: '\0043'
}

.icon-basket::before {
    content: '\0044'
}

.icon-cart::before {
    content: '\0045'
}

.icon-search::before {
    content: '\0046'
}

.icon-phone::before {
    content: '\0047'
}

.icon-left-arrow::before {
    content: '\0048'
}

.icon-right-arrow::before {
    content: '\0049'
}

.icon-down-arrow::before {
    content: '\004a'
}

.MemberNotAuthenticated .icon-account {
    display: none;
}

.icon-account {
    color: #fff;
    float: right;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.user-account {
    list-style: none;
}

.user-account li {
    padding: 32px 18px;
    position: relative;
}

.profile-container {
    position: absolute;
    right: 0;
    top: 60px;
    background: #fff;
    opacity: 0;
    transition: all .4s ease;
    width: 175px;
    border-radius: 5px;
    pointer-events: none;
}

.show-profile {
    opacity: 1;
    pointer-events: initial !important;
}

#commands {
    float: none;
    text-align: left;
    width: 100%;
}

#commands a,
#commands form .logoutCommand.submit {
    color: #15151e;
    padding: 8px !important;
    width: 100%;
    text-align: left;
    line-height: 23.8px;
    border-bottom: 1px solid #ccc;
    transition: all .3s ease;
}

.profileCommand {
    border-radius: 5px 5px 0 0;
}

.logoutCommand,
#commands form {
    border-radius: 0 0 5px 5px;
}

#commands a:hover,
#commands form .logoutCommand.submit:hover,
#commands form:hover #commands a:active,
#commands form .logoutCommand.submit:active,
#commands form:active,
#commands a:focus,
#commands form .logoutCommand.submit:focus,
#commands form:focus {
    color: #fff;
    padding: 8px !important;
    line-height: 23.8px;
    background: #15151e;
}

#commands form .logoutCommand.submit:hover,
#commands form .logoutCommand.submit:active,
#commands form .logoutCommand.submit:focus {
    line-height: 23.8px !important;
}

#commands form {
    width: 100%;
}

#commands form:hover {
    padding: 0 !important;
}

@media screen and (max-width: 800px) {
    .user-account {
        position: absolute;
        top: -22px;
        right: 0;
    }

    #commands {
        background: #fff;
        border-radius: 5px;
    }

    #commands form {
        border-top: none;
    }

    #commands a,
    #userCommands a {
        border-top: none;
    }

    .adminContainer {
        display: none;
    }
}

/* Font Overrides */
/* Body Text */
.SearchHotels .ArnPropName div.originalPrice,
.SearchHotels .ArnPropName div.originalPrice:before,
.SinglePropDetail .bestPrice .originalPrice:before,
.SearchHotels .ArnPropName div.yourRateContainer span,
.ArnPriceCell>span,
.SinglePropDetail .OnSale .bestPrice .yourRateAmount,
.SearchHotels .ArnPriceCell>a>span,
.SearchHotels .ArnPriceCell>span:after,
.SinglePropDetail .bestPrice .yourRateAmount:after,
.SinglePropDetail .bestPrice .originalRateAmount,
.SinglePropDetail .bestPrice .percentSavings,
.SinglePropDetail legend {
    font-family: 'Titillium Web', 'sans-serif';
}

/* Headings */
.modifySearch,
.ArnPropNameLink,
.event-rate,
.OnSale .totalsTable .balanceDueRow td,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'F1-Regular', 'Helvetica' !important;
}

.detailsTitle,
#theBookingPage fieldset.WBGuestFormFields legend,
.ArnPropNameLink {
    font-family: 'F1-Bold' !important;
    letter-spacing: initial;
}

html,
body {
    background: #f7f4f1;
}

.SearchHotels #searchForm,
.ArnLeftSearchContainer,
.SearchHotels .modifySearch,
.SinglePropDetail .modifySearch,
.ArnGoAddressSearch,
.ArnGoAddressSearch:hover,
.ArnGoAirportSearch,
.ArnGoAirportSearch:hover,
.ArnGoCitySearch,
.ArnGoCitySearch:hover,
.ArnGoLandmarkSearch,
.ArnGoLandmarkSearch:hover,
.ArnAmentitiesContainer,
.ArnCitiesNearbyContainer,
.ArnCurrenciesContainer,
.ArnHotelSizeContainer,
.ArnPriceContainer,
.ArnPropertyClassesContainer,
.ArnPropertyTypesContainer,
.ArnRateFiltersContainer,
.ArnSlider {
    background: #f7f4f1;
}

/*Cug Specific */
.WBLoginFormContainer.ArnSubPage #theWBLoginForm .CreateAnAccountAction,
.ForgotPasswordAction+.loginDivider {
    display: none;
}

.IsAgent.addPromocode header {
    margin-top: 88px !important;
}

.IsAgent #userCommands {
    width: 100%;
}

.errors {
    display: block;
}

#user_lipoints {
    color: #fff;
    font-size: 17px;
    list-style: none;
    order: 2;
}

.leaflet-top {
    top: 175px;
}

#AdminControlsContainer {
    z-index: 10;
    position: relative;
    height: initial;
}

#commands form {
    padding: 0 !important;
}

#commands form .logoutCommand.submit {
    background: transparent;
    font-weight: normal !important;
    text-transform: capitalize;
    padding: 13px;
}

#commands form .logoutCommand.submit:hover,
#commands form .logoutCommand.submit:active,
#commands form .logoutCommand.submit:focus {
    box-shadow: none;
    color: #fff !important;
    background: transparent !important;
    line-height: 1.4;
}

#theWBLoginForm h2 {
    display: none;
}

#validPassCode,
#invalidPassCode,
#availableUser,
#unavailableUser {
    width: 100%;
}

#unavailableUser a {
    margin-left: 3px;
}

.WBValidatedRegistrationForm input[type="text"],
.WBValidatedRegistrationForm input[type="email"],
.WBValidatedRegistrationForm input[type="password"] {
    margin-bottom: 0 !important;
}

.WBLoginFormActions .submit,
.WBForgotPasswordFormActions .submit {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

.WBForgotPasswordFormActions .CancelAction {
    text-align: center;
    display: block;
}

.WBValidatedRegistrationForm .SSFormBody {
    border: none;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm .submit {
    max-width: none;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm .formField.checkbox {
    margin: 6px 0 0;
}


.WBForgotPasswordFormContainer.ArnSubPage,
.WBForgotPasswordFormInform,
.WBLoginFormContainer.ArnSubPage,
.WBValidatedRegistrationForm.ArnSubPage {
    overflow: initial;
}

.ArnSupportBottom {
    display: none !important;
}

.ArnSupportLinks.ArnSupportBottom {
    background: #15151e;
    display: none !important;
}

.ArnSupportBottom .lowRateLink,
.ArnSupportBottom .lowRateLink+.dvd {
    display: none !important;
}

body,
.ArnSubPage td,
.ArnRoomsOnHold,
.ArnRoomsOnHold td {
    font-family: 'Titillium Web', 'Helvetica';
}

#theConfirmationContainer h4,
#theConfirmationContainer .h4 {
    font-size: 14px;
    font-weight: 300;
}

.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited {
    font-weight: normal;
    font-size: 14px;
}

.RootBody .reserveHotel,
.RootBody .modifySearch {
    color: #15151e;
}

.SearchHotels .modifySearch,
.SinglePropDetail .modifySearch {
    font-family: 'F1-Bold' !important;
    font-size: 14px;
}

.SearchHotels .modifySearch {
    border-radius: 10px 10px 0 0;
}

.SearchHotels .PropLimitedAvail .ArnRateCell {
    background: transparent;
}

.SearchHotels .ArnLeftSearchContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
}

@media only screen and (min-width: 1150px) {
    .SearchHotels .ArnLeftSearchContainer {
        width: 22%;
    }
}

.RootBody .reserveHotel {
    font-family: 'F1-Bold';
    text-transform: capitalize;
    font-size: 21px;
    margin-bottom: 18px;
}

.RootBody .modifySearch {
    font-family: 'Titillium Web' !important;
    font-weight: 400;
}

.reserveHotel,
.modifySearch {
    font-size: 15px;
}

.SearchHotels .ArnRightListContainer {
    border-left: none;
}

.SearchHotels .ArnSearchHotelsImg {
    height: unset;
}

.SearchHotels .ArnSearchHotelsImg+br {
    display: none;
}

.SearchHotels .ArnAdults::before {
    font-size: 13px;
}

.ArnPrimarySearchContainer span,
.ArnLeftListContainer #simpleSearch td,
#theBookingPage label,
label,
.confirmationAgreement {
    font-size: 13px !important;
    letter-spacing: .5 !important;
    line-height: 15px;
    color: #fff;
}

.yui3-calendar-row td {
    color: #15151e !important;
}

#theBookingPage label,
label,
.confirmationAgreement {
    color: #15151e;
}

input,
.uneditable-input,
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
.RootBody #adults,
.RootBody #kids,
.RootBody #lengthOfStay,
.RootBody .ArnRadiusContainer select,
.RootBody .ArnRooms select,
.RootBody input {
    font-size: 15px;
    border-radius: 5px;
}

#theSmokingRoomAjax input {
    margin: 5px 5px 0 0;
}

.ArnPropAddress,
.distanceLabel {
    font-size: 13px;
}

.distanceLabel {
    font-weight: 600;
}

body.RootBody {
    background: #f7f4f1;
}

.RootBody .ArnSearchContainerMainDiv {
    background-color: transparent;
    padding: 42px !important;
}

.RootBody .ArnSearchContainerMainTable {
    margin: 0 auto;
}

.WBForgotPasswordFormContainer.ArnSubPage .SSFormBody,
.WBLoginFormContainer.ArnSubPage .SSFormBody {
    margin: 5% auto;
}

.WBForgotPasswordFormContainer.ArnSubPage,
.WBForgotPasswordFormInform,
.WBLoginFormContainer.ArnSubPage,
.WBValidatedRegistrationFormContainer.ArnSubPage {
    position: static;
    background: #f7f4f1 !important;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Registration */

.MemberAuthenticated.WBForgotPasswordForm #AdminControlsContainer,
.MemberAuthenticated.WBValidatedRegistrationForm #AdminControlsContainer {
    width: 100%;
    position: absolute;
    top: 0;
}

.WBValidatedRegistrationForm .ArnSubPage {
    margin: 0;
    max-width: 100%;
}

#theWBValidatedRegistrationFormBody {
    background: #fff;
    padding: 50px !important;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

#theWBValidatedRegistrationFormBody label {
    display: block !important;
}

.WBValidatedRegistrationForm #thePersonalInfoGroup legend {
    display: block !important;
    font-size: 36px;
    font-family: 'F1-Regular', 'Helvetica';
    font-weight: 500;
    color: #15151e;
}

.registrationText,
.registrationText h1 {
    color: #fff;
}

.lrgTip h3 {
    font-weight: initial;
}

.event-rate {
    text-transform: uppercase;
}

.hamburger {
    padding: 2px 43px 2px 20px !important;
    border-radius: 5px !important;
    border: 1px solid #e10600 !important;
    text-transform: uppercase;
    font-size: 14px !important;
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23e10600%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23e10600%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 89% center;
}

.hamburger:after,
.hamburger:before {
    display: none;
}

/* Buttons */
#theSubmitButton,
.selectedTab,
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.SinglePropDetail .bookRoom,
.SinglePropDetail .holdRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #e10600;
    transition: all 0.5s cubic-bezier(0.2, 0, 0.05, 1) !important;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
}

.submit,
#theConfirmationContainer .submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SinglePropDetail .bookRoom,
.SearchHotels .modifySearchButton,
.SinglePropDetail .holdRoom {
    border-radius: 4px;
}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active,
.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus,
.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #cc1800 !important;
    color: #fff !important;
}

#theSubmitButton:hover,
#theSubmitButton:focus,
#theSubmitButton:active {
    background: #cc1800;
    color: #fff !important;
}

#theSubmitButton,
#theOtherSubmitButton {
    height: unset;
    padding: 6px;
    position: relative;
}

#theSubmitButton+i,
#theOtherSubmitButton+i {
    position: relative;
    top: -45px;
    left: 74%;
    font-size: 11px;
    color: #fff;
}

@media screen and (max-width: 1200px) {

    #theSubmitButton+i,
    #theOtherSubmitButton+i {
        left: 80%;
    }
}

@media screen and (max-width: 990px) {

    #theSubmitButton+i,
    #theOtherSubmitButton+i {
        left: 85%;
    }
}

@media screen and (max-width: 800px) {

    #theSubmitButton+i,
    #theOtherSubmitButton+i {
        display: none;
    }
}

#theOtherSubmitButton+i {
    color: #e10600;
    top: -37px;
}

.RootBody #theSubmitButton {
    font-size: 17px;
}

.RootBody #theSubmitButton+i {
    top: -25px;
    left: 97%;
}

@media screen and (max-width: 960px) {
    .RootBody #theSubmitButton+i {
        top: -25px;
        left: 98%;
    }
}

.ArnShowRatesLink,
.ArnShowRatesLink,
.OnSale .ArnShowRatesLink {
    padding: 10px 12px !important;
}

.selectedTab {
    text-transform: initial;
}

.SinglePropDetail .holdRoom {
    background: #15151e;
    color: #fff;
}

.SinglePropDetail .holdRoom:hover,
.SinglePropDetail .holdRoom:focus,
.SinglePropDetail .holdRoom:active {
    background: #38383f;
    color: #fff !important;
    box-shadow: 0 0 0 2px transparent inset;
}

.SinglePropDetail .PropertyLinks img {
    display: none;
}

.SearchHotels .ArnPrimarySearchOuterContainer #theSubmitButton {
    margin: 20px 0 20px;
}

.SearchHotels .ArnPrimarySearchOuterContainer #theSubmitButton:hover {
    color: #fff !important;
}

.SearchHotels .bottomPager .ArnPages a[accesskey] {
    background: #e10600;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #e10600;
    border-radius: 5px;
    padding: 8px 4px;
    margin-left: -1px;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-bottom: 1px solid #e10600;
}

.SearchHotels .selectedTab,
.SearchHotels .ArnGoCitySearch:hover,
.SearchHotels .ArnGoAddressSearch:hover,
.SearchHotels .ArnGoLandmarkSearch:hover,
.SearchHotels .ArnGoAirportSearch:hover,
.SearchHotels .ArnGoCitySearch,
.SearchHotels .ArnGoAddressSearch,
.SearchHotels .ArnGoLandmarkSearch,
.SearchHotels .ArnGoAirportSearch {
    padding: 6px !important;
    font-size: 14px !important;
}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    color: #15151e;
    background: transparent;
    border: none;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.roomCount {
    display: none;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #e10600;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings,
.SinglePropDetail .bookRoomCell .percentSavings,
.SinglePropDetail.mobile .bookRoomCell .percentSavings {
    background: #fc0;
    color: #000;
    display: none !important;
}

.SearchHotels .ArnPropName div.percentSavings {
    margin: 8px auto;
}

.SinglePropDetail .ArnPropDescription {
    color: #fff;
}

.SinglePropDetail .PropertyLinks .OptionsPricing a img {
    left: -180px;
}

.SinglePropDetail .PropertyLinks .Details a img {
    left: 165px;
}

.SinglePropDetail .PropertyLinks .Map a img {
    left: -115px;
}

.SinglePropDetail .PropertyLinks .Reviews a img {
    left: -142px;
}

.arn-leaflet-reset-button {
    background: #15151e;
    border: 1px solid transparent !important;
    transition: all .2s linear;
}

.arn-leaflet-reset-button:hover,
.arn-leaflet-reset-button:focus,
.arn-leaflet-reset-button:active {
    background: #38383f;
    border: 1px solid transparent !important;
}

.arnMapMarker {
    background: #e10600;
    border: #fff;
}

.arnMapMarker.highlight {
    background: #15151e;
    border: 1px solid #15151e;
    z-index: 8001;
}

.arnMapMarker.highlight .arnMapMarkerTriangle {
    border-top-color: #15151e;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #e10600;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #e10600;
    border: #fff;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #e10600;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #e10600;
}

.SearchHotels .reserveHotel,
.SearchHotels .modifySearch {
    padding: 10px 18px 10px 10px;
}

.SearchHotels #searchForm {
    border-radius: 0 0 10px 10px;
}

.SearchHotels .ArnSecondarySearchOuterContainer {
    margin: 0;
}

.ArnQuadSearchContainer.ArnPrimarySearchContainer,
.SearchHotels .ArnPrimarySearchOuterContainer,
.SinglePropDetail .SimpleSearch {
    background-color: RGB(21, 21, 30);
    color: rgb(255, 255, 255) !important;
}

.SearchHotels .ArnPrimarySearchOuterContainer {
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 800px) {

    .SearchHotels .ArnPrimarySearchOuterContainer,
    .SearchHotels .ArnLeftSearchContainer {
        border-radius: 0;
        border: none;
    }
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #15151e;
}

#slideit section {
    border-bottom: #15151e;
}

#slideit label.open:hover,
#slideit label.open:focus {
    color: #fff;
}

#slideit label.open:hover,
#slideit label.open:focus {
    background: #38383f;
}

.ArnPropName div.ratingCount {
    background: #e10600;
}

.exclusiveRate {
    display: none;
}

.sash {
    background: #e10600;
}

.openMapBtn {
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #e10600;
    border-radius: 5px;
    padding: 2px 12px;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #e10600;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #e10600;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100%;
    max-width: 205px;
}

.pb-h4h {
    display: none !important;
}

.stayDates,
.perNight {
    color: #15151e !important;
    font-family: 'Titillium Web';
}

#SortControls {
    top: 31px;
    padding: 0;
    height: 166px;
}

@media screen and (min-width: 800px) {
    .navbar-header {
        width: 100%;
        max-width: 325px;
    }

    .ArnSortByAvailability.active,
    .ArnSortByAvailability:hover,
    .ArnSortByClass.active,
    .ArnSortByClass:hover,
    .ArnSortByDealAmount.active,
    .ArnSortByDealAmount:hover,
    .ArnSortByDealPercent.active,
    .ArnSortByDealPercent:hover,
    .ArnSortByDistance.active,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByName:hover,
    .ArnSortByPrice.active,
    .ArnSortByPrice:hover,
    .ArnSortByType.active,
    .ArnSortByType:hover,
    .ArnSortByVacationRental.active,
    .ArnSortByVacationRental:hover,
    .ArnSortByClass,
    .ArnSortByClass:hover,
    .ArnSortByDealAmount,
    .ArnSortByDealAmount:hover,
    .ArnSortByDealPercent,
    .ArnSortByDealPercent:hover,
    .ArnSortByDistance,
    .ArnSortByDistance:hover,
    .ArnSortByPrice,
    .ArnSortByPrice:hover,
    .ArnSortByType,
    .ArnSortByType:hover,
    .ArnSortByVacationRental,
    .ArnSortByVacationRental:hover,
    .ArnSortContainer a.active:hover {
        padding: 4px 0 4px 20px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    #SortControlsContainer .hamburger:before {
        border-top-color: #e10600;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-toggle {
        display: none;
    }

    .stayDates {
        margin-top: 8px !important;
    }

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #e10600;
    }

    .SearchHotels .ArnPropThumb,
    .SearchHotels .ArnPropThumb img {
        height: 200px;
        min-height: 0;
        max-height: 200px;
    }
}

@media only screen and (max-width: 800px) {

    .RootBody #theSubmitButton {
        width: unset !important;
    }

    .SearchHotels .ArnProperty {
        min-height: unset;
    }

    .SearchHotels .ArnPropThumb,
    .SearchHotels .ArnPropThumb img {
        border-radius: 10px 0 0 10px;
    }

    .SearchHotels .ArnPropThumb {
        overflow: unset;
    }

    .SearchHotels .subHeader .ArnSecondarySearchOuterContainerTop .submit {
        bottom: initial;
    }

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active,
    .ArnToggleMap {
        border-top: 4px solid #e10600;
        border-bottom: 4px solid #e10600 !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #e10600;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }

    .SearchHotels .ArnGoAirportSearch,
    .SearchHotels .ArnGoCitySearch,
    .SearchHotels .ArnGoLandmarkSearch {
        border-right: 1px solid transparent !important;
    }

    .SearchHotels .ArnGoCitySearch:hover,
    .SearchHotels .ArnGoLandmarkSearch:hover,
    .SearchHotels .ArnGoAirportSearch:hover {
        border-bottom: none;
        background: transparent;
    }

    .adminContainer span {
        background-color: #e10600;
    }

    .RootPage #city {
        width: 85%;
    }

    .RootPage .geoButton {
        width: 30px;
        margin: 0 0 0 3%;
    }

    .SearchHotels .percentSavings {
        background: #fc0;
        color: #15151e;
    }
}

@media only screen and (min-width: 420px) and (max-width: 800px) {
    .SearchHotels .percentSavings {
        left: initial;
        right: 0;
        top: 0;
        border-radius: 0 5px 0 5px;
    }
}

nav {
    margin-bottom: 36px;
}

.logo {
    margin-right: 12px;
}

.logo img {
    width: 100%;
    max-width: 385px;
    padding: 0;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h1,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h2,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h3,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron p,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron li {
    color: #fff;
    line-height: 1.4;
    font-family: 'Titillium Web', 'Helvetica';
    font-weight: 700;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h1 {
    font-size: 62px;
}

.btn-primary {
    background: #e10600;
    box-shadow: none;
    border-color: #e10600;
}

.btn-primary:hover {
    background: #fff;
    color: black;
    border-color: none;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h2,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron li {
    font-family: 'Titillium Web', 'Helvetica';
    font-weight: 400;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron li {
    list-style: none;
    line-height: 2;
    font-size: 1.2em;
    color: #fff;
    font-weight: 200;
}

ul {
    padding-left: 0;
}

.diag-bg {
    background: #fff;
    flex: 1;
    max-width: 2px;
    height: 450px;
    margin: 24px auto 0 auto;
}

.form-container h2 {
    font-family: 'Titillium Web', 'Helvetica';
}

.uppercase {
    text-transform: uppercase;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works {
    padding-bottom: 48px;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works h1,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works p,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works li,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works h3 {
    color: #000;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works h1 {
    margin-bottom: 18px;
    font-family: 'Titillium Web', 'Helvetica';
    font-weight: 700;
    font-size: 50px;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works h3 {
    font-family: 'Titillium Web', 'Helvetica';
    font-weight: 700;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works p {
    font-family: 'Titillium Web', 'Helvetica';
    margin: auto;
    max-width: 80%;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works img {
    display: block;
    max-width: 125px;
    margin: 36px auto 8px auto;
}

.steps {
    position: relative;
}

.steps h3 {
    width: 33.333%;
    margin: 0 15px;
}

.steps fieldset {
    position: absolute;
    width: 330px;
    left: -165px;
    top: -6px;
}

@media screen and (max-width: 1200px) {
    .steps fieldset {
        width: 260px;
        left: -130px;
    }
}

.WBValidatedRegistrationForm .steps fieldset legend {
    border-bottom: 2px dashed #7d7e81 !important;
}

@media screen and (min-width: 767px) {
    .col-md-12.flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .flex {
        display: flex;
    }
}

#greet {
    font-family: 'Titillium Web', 'Helvetica';
    font-weight: 700;
}

#subGreet {
    font-family: 'Titillium Web', 'Helvetica';
    font-weight: 200;
    font-size: 1em;
}

.step {
    width: 35px;
    color: #7d7e81;
    padding: 4px;
    font-size: 19px;
    display: block;
    background: #a7a9ac;
    border: 3px solid #6d6e71;
    border-radius: 100%;
    margin: 12px auto;
}

.relative {
    position: relative;
}

.col-md-4 img {
    padding-bottom: 10px;
    height: 97px;
}

@media only screen and (max-width: 800px) {
    #AdminControlsContainer {
        display: block;
    }

    .adminContainer {
        margin-left: auto;
        margin-right: 10px;
        height: 0;
        padding: 6px 0 0 0;
    }

    .adminContainer span {
        position: relative;
        top: -32px;
    }

    .adminMobile {
        height: 0;
        width: 100%;
    }

    .SearchHotels .geoButton {
        filter: invert(1);
    }

    .SearchHotels .ArnPropName div.yourRateContainer span,
    .ArnPriceCell>span,
    .SinglePropDetail .OnSale .bestPrice .yourRateAmount,
    .SearchHotels .ArnPriceCell>a>span,
    .ArnPriceCell a {
        font-family: inherit !important;
    }

    .ArnPriceCell {
        display: flex;
        flex-direction: column;
    }

    .SearchHotels .otherPrice+a {
        order: 3;
    }

    .SinglePropDetail .bestPrice .yourRateContainer {
        margin-top: 60px;
        font-weight: 700;
    }

    .logo img {
        max-width: 225px;
    }

    #user_lipoints {
        position: absolute;
        right: 8px;
        bottom: 0;
    }

    .mobile-toggle {
        color: #fff;
        border: 1px solid #fff;
        padding: 4px 12px;
        font-size: 17px;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        top: -12px;
    }

    .show-menu {
        display: block !important;
        position: absolute;
        top: 81px;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .SearchHotels .percentSavings {
        left: initial;
        right: 0 !important;
        width: 100%;
        top: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 1;
        color: #000;
        background: #ffcc00;
    }

    div.originalPrice span,
    .SearchHotels .ArnPropName div.originalPrice span {
        font-size: 17px !important;
    }

    .SearchHotels .ArnRateCell {
        bottom: 0;
    }

    .SinglePropDetail .ArnPropNameLink,
    .SinglePropDetail .ArnPropNameLink:active,
    .SinglePropDetail .ArnPropNameLink:visited {
        margin-top: 30px;
    }

    .SinglePropDetail .ArnRateCell {
        margin: 0;
    }

    .ArnTripAdvisorDetails .reviewCount {
        width: initial;
    }

    .SinglePropDetail .ArnPropName div.ratingCount {
        top: 6px;
    }

    .SinglePropDetail .bestPrice .yourRateContainer {
        margin-top: 8px;
    }

    .SearchHotels .ArnPropThumb {
        margin-bottom: 8px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
    }

    .adminContainer {
        padding: 0;
    }
}

@media only screen and (max-width: 315px) {
    .RootPage #city {
        width: 80%;
    }
}

#theMarketingOptInAjax {
    display: none;
}

@media screen and (min-width: 800px) {
    .ArnPropImageButtons {
        top: 80px;
    }

    .SearchHotels .ArnRateCell {
        height: 100%;
        bottom: 0;
        right: 0 !important;
    }

    .SearchHotels .percentSavings {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        border-radius: 0 5px 0 5px !important;
    }

    .SearchHotels .ArnPriceCell {
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 500px) {
    .SearchHotels .ArnPropThumb {
        width: 27%;
    }

    .SearchHotels .ArnRateCell {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.SearchHotels .arnPrice {
    order: 0;
}

.SearchHotels .lblAmenities,
.SearchHotels .lblCurrency,
.SearchHotels .lblHotelSize,
.SearchHotels .lblNearbyCities,
.SearchHotels .lblPropertyType,
.SearchHotels .lblRateTypes,
.SearchHotels .lblRating,
.SearchHotels .lblSortByPrice {
    text-transform: capitalize;
}

.SearchHotels input[type="text"],
.SearchHotels select,
.SearchHotels .ArnAcdParent {
    font-size: 14px;
    border-radius: 0;
    height: unset;
    padding: 4px 8px;
}

#theOtherSubmitButton {
    background: #fff;
    border: 1px solid #e10600;
    color: #15151e;
}

.ArnPriceCell .mainRate {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.originalRateContainer,
.bestPrice .originalRateAmount {
    display: none !important;
}

.SinglePropDetail .originalRateAmount {
    text-align: center;
}


.ArnAmentitiesContainer,
.ArnCitiesNearbyContainer,
.ArnCurrenciesContainer,
.ArnHotelSizeContainer,
.ArnPriceContainer,
.ArnPropertyClassesContainer,
.ArnPropertyTypesContainer,
.ArnRateFiltersContainer,
.ArnSlider {
    font-size: 13px;
    padding: 6px 0;
}

.RootPage .ArnQuadSearchContainer.ArnPrimarySearchContainer {
    background: #fff;
    border-radius: 10px 10px 0 0;
}

.RootBody .ArnPrimarySearchContainer span {
    color: #15151e;
    font-weight: 700;
    font-size: 13px !important;
}

.RootBody .ArnSecondarySearchOuterContainer {
    display: flex !important;
    background: #fff;
    padding: 0 15px 14px;
    border-radius: 0 0 10px 10px;
}

.RootBody #CitiesNearbyContainer,
.RootBody #theOtherSubmitButton {
    display: none;
}

.RootBody .ArnAmentitiesContainer,
.RootBody .ArnCitiesNearbyContainer,
.RootBody .ArnCurrenciesContainer,
.RootBody .ArnHotelSizeContainer,
.RootBody .ArnPriceContainer,
.RootBody .ArnPropertyClassesContainer,
.RootBody .ArnPropertyTypesContainer,
.RootBody .ArnRateFiltersContainer,
.RootBody .ArnSlider {
    background: transparent;
    color: #15151e;
    font-weight: 400;
}

.RootBody .lblAmenities,
.RootBody .lblCurrency,
.RootBody .lblHotelSize,
.RootBody .lblNearbyCities,
.RootBody .lblPropertyType,
.RootBody .lblRateTypes,
.RootBody .lblRating,
.RootBody .lblSortByPrice {
    text-transform: capitalize;
    cursor: unset;
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 14px !important;
}

.RootBody .ArnSecondarySearchOuterContainer .checkbox {
    width: 14px;
}

.RootBody input,
.RootBody select {
    border-radius: 0 !important;
    height: unset !important;
    padding: 4px 8px !important;
    margin-top: 8px !important;
    border: 1px solid #ccc !important;
    font-size: 14px !important;
}

.RootBody input {
    background-image: none !important;
}

.RootPage #city,
.RootPage .ArnCheckInDate,
.RootPage .ArnCheckOutDate,
.RootPage #rooms,
.RootPage #adults,
.lblCurrency+select {
    text-indent: 0;
    height: 33px !important;

}

.RootBody .ArnSecondarySearchOuterContainer span {
    margin-top: 6px !important;
    font-weight: 400
}

.RootBody #theSubmitButton {
    margin-top: 23px !important;
    padding: 8px !important;
    border: 1px solid #e10600 !important;
    font-weight: 100;
    font-size: 14px !important;
    text-transform: uppercase;
    border-radius: 5px !important;
    width: 12% !important;
}

@media screen and (min-width: 800px) {
    .RootBody .ArnSearchHolderBoth {
        width: 24%;
    }
}

@media screen and (max-width: 800px) {
    .RootBody .ArnSecondarySearchOuterContainer {
        display: none !important;
    }

    .RootBody #theSubmitButton {
        width: unset !important;
    }

    .RootBody .ArnPrimarySearchContainer span {
        margin-top: 0;
    }
}

/* Top Nav */

.top-menu-mobile ul li a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.top-menu-mobile ul li a svg,
.dynamic-nav li a svg {
    float: right;
    margin-right: 12px;
    opacity: .7;
}

.dynamic-nav li a svg {
    opacity: 1;
}

.top-menu {
    min-height: initial;
}

.navbar {
    border: 0 solid transparent;
    border-radius: 0;
}

.navbar-default {
    background: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #15151E;
    letter-spacing: .2px;
}

.top-menu,
.main-nav {
    margin-bottom: 0;
}

.top-menu .navbar-nav>li {
    padding: 8px;
}

.top-menu .navbar-nav>li>a {
    padding: 2px 0 0;
    margin: 0 6px;
    border-bottom: 3px solid transparent;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.top-menu .navbar-nav>li:last-child>a {
    margin-right: 0;
}

.top-menu .navbar-nav>li>a:hover,
.top-menu .navbar-nav>li>a:active,
.top-menu .navbar-nav>li>a:focus {
    color: #e10600;
    background: transparent !important;
    border-bottom: 3px solid #e10600;
}

.top-menu .left-nav li {
    padding: 8px 0;
}

.top-menu .left-nav li a {
    margin: 0;
}

/* Mobile Toggle */

.navbar-default .navbar-toggle {
    border: none;
    cursor: pointer;
    float: none;
    margin-top: 0;
    padding: 0 10px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: transparent;
}

.toggle-bar {
    display: block;
    height: 2px;
    background-color: #fff;
    position: relative;
    margin-top: 4px;
    border-top-right-radius: 4px;
}

.top-bar {
    width: 16px;
}

.middle-bar {
    width: 19px;
}

.bottom-bar {
    width: 22px;
}

/* Main Nav */
header>a {
    display: none;
}

#language {
    display: none;
}

.main-nav {
    background: #e10600;
}

.navbar-header {
    position: relative;
    top: 6px;
    margin-right: 18px !important;
}

@media screen and (min-width: 770px) {
    .main-nav .container-fluid {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
}

.navbar-default .navbar-nav.dynamic-nav>li>a {
    color: #fff;
    font-family: 'F1-Regular', 'Helvetica';
    font-weight: 400;
    padding: 32px 18px;
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .navbar-default .navbar-nav.dynamic-nav>li {
        padding: 0;
    }

    .navbar-default .navbar-nav.dynamic-nav>li>a {
        padding: 12px;
    }
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background: #15151e;
    transition: all .3s ease;
}

.navbar-brand {
    padding: 0 15px;
    height: initial;
    float: none;
    width: 100%;

}

@media screen and (max-width: 800px) {
    .navbar-brand {
        padding: 0;
        margin-left: 8px;
    }

    .navbar-header {
        margin-right: 0 !important;
    }
}

.navbar-brand img {
    width: 100%;
    max-width: 325px;
    margin-right: 20px;
    margin-left: 10px;
    display: block;
}

@media screen and (max-width: 850px) {
    .navbar-brand {
        max-width: 250px;
    }
}

@media screen and (max-width: 770px) {
    .main-nav .container-fluid {
        min-height: 90px;
        height: 90px;
    }

    .navbar-brand {
        max-width: 300px;
    }

    .navbar-header {
        min-height: initial;
        padding: 8px;
    }

    .dynamic-nav {
        background: #fff;
        margin: 0;
        z-index: 1;
        position: relative;
        float: none !important;
    }

    .navbar-default .navbar-nav.dynamic-nav>li>a:hover,
    .navbar-default .navbar-nav.dynamic-nav>li>a:active,
    .navbar-default .navbar-nav.dynamic-nav>li>a:focus {
        background: #e10600;
        color: #fff;
        transition: all .5s ease;
    }

    .dynamic-nav>li>a:before {
        height: 0;
    }

    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .dynamic-nav {
        background: #e10600;
    }

    .navbar-collapse {
        border-top: 0;
    }

    .navbar-default .navbar-nav.dynamic-nav>li>a {
        color: #fff;
        font-size: 15px;
        border-right: 1px solid #f08380;
        border-bottom: 1px solid #f08380;
        margin: 20px;
        border-bottom-right-radius: 15px;
    }

    .navbar-default .navbar-nav.dynamic-nav>li>a:after {
        float: right;
    }

    .top-menu-mobile {
        background: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .top-menu-mobile .navbar-nav {
        margin: 0;
    }

    .top-menu-mobile ul {
        list-style: none;
        padding: 0;
    }

    .top-menu-mobile ul li a {
        color: #15151e;
        display: block;
        font-size: 15px;
        margin: 20px;
        border-right: 1px solid #d0d0d2;
        border-bottom: 1px solid #d0d0d2;
        border-bottom-right-radius: 15px;
    }

    .top-menu-mobile ul li a:after {
        float: right;
        opacity: .7;
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        background: transparent;
    }
}

@media screen and (max-width: 460px) {
    .main-nav .container-fluid {
        min-height: 80px;
        height: 80px;
    }

    .navbar-brand img {
        width: 100%;
        max-width: 200px;
        margin-right: 0;
    }
}

/* Footer */
footer {
    width: 100% !important;
}

.footer-container {
    position: relative;
    z-index: 20;
}

.footer-top {
    background: #38383f;
    padding: 10px 0;
}

.footer-top p {
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: normal;
    max-width: 105px;
    float: left;
    margin: 4px 0;
}

.footer-top ul {
    margin: 0;
}

.footer-top ul li {
    display: inline;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
}

.app-store {
    width: 135px;
    height: 40px;
}

.social {
    float: right;
}

.social a {
    border: 1px solid #15151e;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    text-align: center;
    position: relative;
    margin-left: 10px;
}

.social a:hover,
.social a:focus,
.social a:active {
    background: #15151e;
    outline: none;
}

.social i {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background: #15151e !important;
    color: #949498;
    padding-top: 32px;
}

footer p {
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}

footer h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

footer img {
    width: 100%;
    max-width: 225px;
    margin-bottom: 8px;
}

ul.footer-nav {
    padding-left: 0;
    margin-top: 5px;
    margin-right: 0;
    padding-right: 10px;
}

footer li {
    list-style: none;
    padding: 4px 0;
}

footer a {
    color: #fff;
    border-bottom: 2px solid transparent;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

footer a:hover,
footer a:active,
footer a:focus {
    text-decoration: none;
}

footer a:hover span,
footer a:active span,
footer a:focus span {
    color: #fff;
    border-bottom: 2px solid #e10600;
}

.policy-links {
    padding-left: 0;
}

.policy-links li,
.policy-links li a p {
    display: inline;
    padding-right: 8px;
}

.policy-links a {
    display: inline;
}

.f1-border {
    border-right: 10px solid #38383f;
    border-bottom: 10px solid #38383f;
    border-bottom-right-radius: 25px;
    padding-bottom: 130px;
    margin-right: -8px;
    margin-bottom: 10px;
}

hr.f1-divider {
    background: #38383f;
    border: 0;
    margin: 15px auto;
    width: 100%;
    height: 1px;
}

@media screen and (max-width: 768px) {
    .footer-top {
        text-align: center;
    }

    .footer-top .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-top p {
        max-width: initial;
        float: none;

    }

    .footer-top ul {
        padding: 0;
    }

    .footer-top ul li:last-child {
        margin-right: 0;
    }

    .app-store {
        width: 120px;
        height: 36px;
    }

    hr.f1-divider {
        background: #15151e;
        margin-bottom: 15px 0;
    }

    .social {
        float: none;
        margin: 0 auto;
    }

    .social a {
        display: inline-block;
        float: none;
    }

    .footer-nav li {
        border-bottom: 1px solid #38383f;
    }

    .policy-links li {
        display: block;
        border-bottom: 1px solid #38383f;
    }

    .policies .f1-divider {
        display: none;
    }

    .f1-border-top-right-bottom {
        padding-right: 10px;
    }

}

/* slide it fixed to bottom */
#slideit input#close-item:checked~label.open,
#slideit input#open-item:checked~label.open {
    bottom: -6px;
    top: unset;
    right: 8px;
    transform: rotateX(45deg);
    border-radius: 5px 5px 0 0;
    border: none;
}

#slideit input#open-item:checked~label.open {
    bottom: -36px;
}

#slideit input#open-item:checked~section {
    bottom: 200px;
    top: unset;
}

#slideit input#close-item:checked~section {
    top: unset;
    bottom: -200px;
}

#slideit label.open {
    min-width: 135px;
    text-transform: initial;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #e10600;
}

.panel-default {
    border: none;
    border-bottom: 1px solid #38383f;
}

.panel-default>.panel-heading {
    background: #15151e;
    padding: 0;
    border-radius: 0;
}

.panel-title a {
    font-family: 'F1-Regular';
    font-weight: normal;
    color: #fff;
    font-size: 13px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    background: #15151e;
    border-top-color: #38383f;
    padding: 0;
}

footer .panel-body p {
    padding: 6px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #38383f;
}

footer .panel-body p a {
    font-size: 11px;
    font-weight: 400;
    padding-left: 25px;
}

footer .panel-body p a:hover {
    color: #fff;
}

@media screen and (max-width: 800px) {
    .f1-border {
        padding-bottom: initial;
        padding-right: 12px;
    }

    footer .container {
        max-width: 576px;
    }

    .panel-title a {
        text-transform: capitalize;
    }
}

@media screen and (min-width: 1150px) {
    .SearchHotels .ArnSearchContainerMainTable>tbody>tr {
        display: flex;
    }

    .SearchHotels .ArnProperty {
        width: 96% !important;
    }

    .SearchHotels .ArnRightExtraContainer {
        width: 29%;
        position: sticky;
        right: 0;
        left: unset;
        transform: unset;
        height: 100vh;
        margin-left: 15px;
    }
}