@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #E7E5D3;
$logo_flex_position: center;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #CD3C3E;
$secondary_color: #3677BE;
$primary_text_color: #fff;
$secondary_text_color: #CD3C3E;
$border_color: #CD3C3E;
$button_hover_background_color: #fff;
$button_hover_text_color: #CD3C3E;
$button_hover_border_color: #CD3C3E;
$google_font_name: 'Montserrat';
$site_name: 'sotx_fall_classic_bocce_softball_21-68888';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.png) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
