{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets":
                {
                    "browsers": [
                        "IE 11"
                      ]
                },
                "exclude": [],
                "useBuiltIns": "usage",
                "corejs":
                {
                    "version": 2,
                    "proposals": true
                }
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-transform-modules-commonjs"],
        ["@babel/plugin-proposal-class-properties",{ "loose": false }]
    ]
}
