@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px !important;
    font-weight: 400;
    background: #fff;
    color: #15151E;
    line-height: 1.4;
    background-image: none;
}

.ArnSubPage td {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px !important;
    font-weight: 400;
    color: #15151E;
}

body.RootBody {
    background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526); 
    background: linear-gradient(to right, #414345, #232526);
}

header {
    background: #000;
    border-bottom: 3px solid #ff4e63;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px 12px;
}

header a {
    color: #444;
}

#language {
    position: static;
    display: block;
}

.logo {
    margin-right: auto;
}

.logo img {
    max-width: 250px;
    margin: 0;
    width: 100%;
}

.SearchHotels .ArnPropName a {
    letter-spacing: initial !important;
}

.lrgTip h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-weight: initial !important;
}

.arnCurrency {
    vertical-align: initial;
}

/* Button Colors */
.selectedTab,
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #5A4DFF !important;
    transition: all .5s ease;
}

.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.holdRoom {
    font-family: 'PT Sans' !important;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #5A4DFF !important;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-top: 1px solid #5A4DFF !important;
    border-bottom: 1px solid #5A4DFF !important;

}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    color: #fff !important;
    background: #189183 !important;
    border: 1px solid #189183 !important;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #55d6be !important;
    border-left: 1px solid #55d6be !important;
    border-right: 1px solid #55d6be !important;
}

.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #55d6be !important;

}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active {
    background: #55d6be !important;
}

.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus {
    background: #646464 !important;
}

.holdRoom {
    background: #858585 !important;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #5A4DFF !important;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #fc0 !important;
    color: #000 !important;
}

.arn-leaflet-reset-button {
    background: #5A4DFF !important;
}

.arnMapMarker {
    background: #5A4DFF !important;
    border: #c899ff !important;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #5A4DFF !important;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #55d6be !important;
    border: #55d6be !important;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #55d6be !important;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #5A4DFF !important;
}

.throbber {
    border-left: #5A4DFF !important;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px !important;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #5A4DFF !important;
}

#slideit section {
    border-bottom: #5A4DFF !important;
}

.ArnPropName div.ratingCount {
    background: #5A4DFF !important;
}

.sash {
    background: #5A4DFF !important;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #5A4DFF !important;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #5A4DFF !important;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100% !important;
    max-width: 205px !important;
}

@media only screen and (min-width: 800px) {

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #5A4DFF !important;
    }
}

@media only screen and (max-width: 800px) {

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active {
        border-top: 4px solid #5A4DFF !important;
        border-bottom: 4px solid #5A4DFF !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #5A4DFF !important;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0 !important;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }
}