/* Fonts */
@font-face {
   font-family: 'Square Serif Medium';
   src: url("https://static.hotelsforhope.com/portals/child-portals/noLRG/51440/fonts/squareserif-medium.ttf") format("truetype");
}
@font-face {
   font-family: 'Square Serif Book';
   src: url("https://static.hotelsforhope.com/portals/child-portals/noLRG/51440/fonts/squareserif-book.ttf") format("truetype");
}

body {
    background-image: url("https://static.hotelsforhope.com/portals/child-portals/noLRG/51440/images/afw-bg.jpg");
    font-size: 17px !important;
    font-weight: 300;
    color: #15151E;
    line-height: 1.4;
}

.ArnSubPage td {
    font-size: 15px !important;
    font-weight: 300;
    color: #15151E;
}

body.RootBody {
    background-size: initial !important;
}

.RootBody .ArnSearchContainerMainDiv {
    background: transparent !important;
    padding-top: 15rem;
}

.RootBody .reserveHotel {
    color: #1a1a1a !important;
    font-family: "Square Serif Medium";
}

.modifySearch {
    color: #1a1a1a !important;
    font-family: "Square Serif Medium";
}

header {
    background: #fff !important;
    border-bottom: 3px solid #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 12px;
}

.header-info {
    padding: 8px 28px;
    line-height: 1;
}

.header-info span {
    display: block;
    text-align: center;
    color: #1a1a1a;
    font-size: 24px;
    font-family: "Square Serif Medium";
}

header a {
    color: #1a1a1a;
}

#language {
    display: none;
}

.logo img {
    max-width: 150px;
    margin: 0;
}

.SearchHotels .ArnPropName a {
    letter-spacing: initial !important;
}

.lrgTip h3 {
    font-family: 'Square Serif Medium';
    font-weight: initial !important;
}

.arnCurrency {
    vertical-align: initial;
}

/* Button Colors */
.selectedTab,
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #1a1a1a !important;
    transition: all .5s ease;
}

.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.SinglePropDetail .bookRoom,
.SearchHotels .modifySearchButton,
.SinglePropDetail .holdRoom {
    font-family: 'Square Serif Medium' !important;
    border: 2px solid #1a1a1a;

}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #1a1a1a !important;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-top: 1px solid #1a1a1a !important;
    border-bottom: 1px solid #1a1a1a !important;

}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    color: #000 !important;
    background: #fff !important;
    border: 1px solid #fff !important;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #ac8d45 !important;
    border-left: 1px solid #ac8d45 !important;
    border-right: 1px solid #ac8d45 !important;
}

.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #ac8d45 !important;

}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active {
    background: #fff !important;
    border: 2px solid #1a1a1a !important;
    color: #1a1a1a !important;
}

.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus {
    background: #646464 !important;
}

div.autocomplete ul li.selected {
    background-color: #1a1a1a !important;
}

.holdRoom {
    background: #858585 !important;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #1a1a1a !important;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #fc0 !important;
    color: #000 !important;
}

.arn-leaflet-reset-button {
    background: #1a1a1a !important;
}

.arnMapMarker {
    background: #1a1a1a !important;
    border: #c899ff !important;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #1a1a1a !important;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #1a1a1a !important;
    border: #1a1a1a !important;
    transition: all .3s ease;
    z-index: 8001;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #1a1a1a !important;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #1a1a1a !important;
}

.throbber {
    border-left: #1a1a1a !important;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px !important;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #1a1a1a !important;
}

#slideit section {
    border-bottom: #1a1a1a !important;
}

.ArnPropName div.ratingCount {
    background: #1a1a1a !important;
}

.sash {
    background: #1a1a1a !important;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #1a1a1a !important;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #1a1a1a !important;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100% !important;
    max-width: 205px !important;
}



@media only screen and (min-width: 800px) {

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #1a1a1a !important;
    }
}

@media only screen and (max-width: 800px) {

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active {
        border-top: 4px solid #1a1a1a !important;
        border-bottom: 4px solid #1a1a1a !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #1a1a1a !important;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0 !important;
    }

    .SearchHotels {
        background-image: url("https://static.hotelsforhope.com/portals/child-portals/noLRG/51440/images/afw-bg.jpg") !important;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }

    .RootBody {
        background-image: url("https://static.hotelsforhope.com/portals/child-portals/noLRG/51440/images/afw-bg.jpg") !important;
    }

    .header-info span {
        display: none;
    }

    .ArnPriceCell span {
        font-size: 25px !important;
    }
}