@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #CD6C4C;
$logo_flex_position: center;
$logo_max_width: 200px;
$background_color: #fff;
$primary_color: #313133;
$secondary_color: #CD6C4C;
$primary_text_color: #fff;
$secondary_text_color: #313133;
$border_color: #313133;
$button_hover_background_color: #fff;
$button_hover_text_color: #CD6C4C;
$button_hover_border_color: #CD6C4C;
$google_font_name: 'Montserrat';
$site_name: 'moon_river_festival_21-68381';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';
