@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #fff;
$logo_flex_position: flex-start;
$logo_max_width: 300px;
$background_color: #fff;
$primary_color: #4c9c2e;
$secondary_color: #1c4699;
$primary_text_color: #fff;
$secondary_text_color: #4c9c2e;
$border_color: #4c9c2e;
$button_hover_background_color: #fff;
$button_hover_text_color: #4c9c2e;
$button_hover_border_color: #4c9c2e;
$google_font_name: 'Montserrat';
$site_name: 'austin_marathon_21-59243';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';

@font-face {
    font-family: 'Futura-Bold';
    src: url('https://static.#{domain}/portals/child-portals/noLRG/53763/fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://static.#{domain}/ares/site_configs/austin_marathon_21-59243/fonts/FuturaStd-Bold.ttf') format('truetype');
}

.event-dates {
    font-family: 'Futura-Bold', 'helvetica';
    margin-left: 18px;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
    .event-dates {
        margin: 0 0 15px 0;
    }
}
