@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #F5C0C0;
$logo_flex_position: center;
$logo_max_width: 400px;
$background_color: #fff;
$primary_color: #516BEB;
$secondary_color: #516BEB;
$primary_text_color: #fff;
$secondary_text_color: #516BEB;
$border_color: #FF79CD;
$button_hover_background_color: #fff;
$button_hover_text_color: #FF79CD;
$button_hover_border_color: #FF79CD;
$google_font_name: 'Montserrat';
$site_name: 'sueno_22-71766';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';

.ArnRateButton .ArnShowRatesLink  {
  background: #FF79CD;
  color: #fff;
  border-color: #FF79CD;
  &:hover{
    border-color: #FF79CD;
    background: #fff;
    color: #FF79CD;
  }
}

.lucid-banner {
  background-color: #FF79CD;
}

.lucid-banner .lucid-button a {
  color: #FF79CD;
}