/* Header */
header {
    box-shadow: 0 2px 4px rgba(55, 63, 67, 0.04);
    border-bottom: none;
}

/* Footer */
.ArnSupportBottom {
    display: none;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    text-align: center;
    height: 100px;
    margin: 48px 0 24px 0;
}

footer a{
    color: #23305a;
    text-decoration: none;
    font-size: 16px;
    transition: all .3s ease;
}

footer a:hover,
footer a:focus,
footer a:active{
    color: #0056b3;
}

footer a+span{
    padding: 0 12px;
    color: #23305a;
}