    .outer-modal {
        background: white;
        border-radius: 18px;
        box-sizing: border-box;
        width: 600px;
        max-height: 75%;
        overflow: hidden;
        padding: 15px;
        flex-direction: column;
        align-self: center;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 995;
        transform: translate(-50%, -50%);
        display: none;
    }

    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 995;
        background: rgba(0,0,0,0.40);
        display: none;
    }

    #x-button {
        border: none;
        color: #a1a1a1;
        display: inline-block;
        padding: 0px;
        margin-right: 16px;
        margin-top: 8px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap
    }

    .upper-right {
        position: absolute;
        right: 0;
        top: 0
    }

    #modal-title {
        margin-top: 8px;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    hr .solid{
        border-top: 3px solid black;
    }

    .modal-body-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .modal-confirm-btn-container {
        display: flex;
        align-content: center;
        justify-content: center;
        width: inherit;
        border-radius: inherit;
        height: 60px;
        border:none;
        background: inherit;
    }

    .modal-confirm-btn {
        align-self: center;
        margin: 16px;
        padding: 8px;
        min-width: 180px;
        font-weight: bold;
        color: #fff;
        background: black;
        height: 36px;
        border-radius: 18px;
        border: none;
        &:hover {
            border: 3px solid black;
            color: black;
            background: #fff;
        }
    }