header {
    border-bottom: 3px solid #C40000;
}

.logo img {
    max-width: 150px;
}

.arnCurrency {
    font-size: .5em !important;
}

#theConfirmationContainer h4,
#theConfirmationContainer .h4 {
    font-size: 14px;
    font-weight: 300;
}

.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited {
    font-weight: normal;
    font-size: 14px;
}

.reserveHotel,
.modifySearch {
    font-size: 17px;
}

.SearchHotels .ArnPriceCell>span:after,
.SinglePropDetail .bestPrice .yourRateAmount:after {
    content: 'per night';
}

.ArnPrimarySearchContainer span,
.ArnLeftListContainer #simpleSearch td,
#theBookingPage label,
label,
.confirmationAgreement {
    font-size: 13px !important;
    letter-spacing: .5 !important;
    line-height: 15px;
    color: #fff;
}

.yui3-calendar-row td {
    color: #15151e !important;
}

#theBookingPage label,
label,
.confirmationAgreement {
    color: #15151e;
}

input {
    font-size: 15px;
}

#theSmokingRoomAjax input {
    margin: 5px 5px 0 0;
}

.ArnPropAddress,
.distanceLabel {
    font-size: 13px;
}

.distanceLabel {
    font-weight: 600;
}


body.RootBody {
    background: url(https://static.hotelsforhope.com/portals/child-portals/cug/52342/images/banner.jpg) no-repeat center center /cover !important;
}

.lrgTip h3 {
    font-family: 'Titillium Web';
    font-weight: initial;
}

.event-rate {
    text-transform: uppercase;
}

/* Buttons */

.selectedTab,
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.SinglePropDetail .bookRoom,
.SinglePropDetail .holdRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #C40000 !important;
    transition: all 0.5s cubic-bezier(0.2, 0, 0.05, 1) !important;
    font-family: 'Titillium Web';
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 15px;
    text-transform: uppercase;
    padding: 12px 15px 12px 15px !important;
}

.submit,
#theConfirmationContainer .submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.SinglePropDetail .bookRoom,
.SearchHotels .modifySearchButton,
.SinglePropDetail .holdRoom {
    border-radius: 5px;
}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active,
.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus,
.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: transparent !important;
    color: #15151e !important;
    box-shadow: 0 0 0 2px rgb(225, 6, 0) inset;
}

.selectedTab {
    text-transform: initial;
}

.SinglePropDetail .holdRoom {
    background: #15151e;
    color: #fff;
}

.SinglePropDetail .holdRoom:hover,
.SinglePropDetail .holdRoom:focus,
.SinglePropDetail .holdRoom:active {
    background: #38383f;
    color: #fff !important;
    box-shadow: 0 0 0 2px transparent inset;
}

.SearchHotels .ArnPrimarySearchOuterContainer #theSubmitButton {
    margin: 20px 0 20px;
}

.SearchHotels .ArnPrimarySearchOuterContainer #theSubmitButton:hover {
    color: #fff !important;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #C40000;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-bottom: 1px solid #C40000;

}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    color: #fff;
    background: #C40000;
    border: 1px solid #C40000;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #C40000;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #fc0;
    color: #000;
}

.SinglePropDetail .ArnPropDescription {
    color: #fff;
}


.arn-leaflet-reset-button {
    background: #15151e;
    border: 1px solid transparent !important;
    transition: all .2s linear;
}

.arn-leaflet-reset-button:hover,
.arn-leaflet-reset-button:focus,
.arn-leaflet-reset-button:active {
    background: #38383f;
    border: 1px solid transparent !important;
}

.arnMapMarker {
    background: #C40000;
    border: #fff;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #C40000;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #C40000;
    border: #fff;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #15151e;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #C40000;
}

.SearchHotels .reserveHotel,
.SearchHotels .modifySearch {
    padding: 18px 18px 18px 10px;
}

.SearchHotels .ArnSecondarySearchOuterContainer {
    margin: 0;
}

.ArnQuadSearchContainer.ArnPrimarySearchContainer,
.SearchHotels .ArnPrimarySearchOuterContainer,
.SinglePropDetail .SimpleSearch {
    background-color: RGB(21, 21, 30);
    color: rgb(255, 255, 255) !important;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #15151e;
}

#slideit section {
    border-bottom: #15151e;
}

#slideit label.open:hover,
#slideit label.open:focus {
    color: #fff;
}

#slideit label.open:hover,
#slideit label.open:focus {
    background: #38383f;
}

.ArnPropName div.ratingCount {
    background: #C40000;
}

.exclusiveRate {
    display: none;
}

.sash {
    background: #C40000;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #C40000;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #C40000;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100%;
    max-width: 205px;
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    #SortControlsContainer .hamburger:before {
        border-top-color: #C40000;
    }
}

@media only screen and (min-width: 800px) {

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #C40000;
    }
}

@media only screen and (max-width: 800px) {

    .SearchHotels .subHeader .ArnSecondarySearchOuterContainerTop .submit {
        bottom: initial;
    }

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active,
    .ArnToggleMap {
        border-top: 4px solid #C40000;
        border-bottom: 4px solid #C40000 !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #C40000;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }

    .SearchHotels .ArnGoCitySearch:hover,
    .SearchHotels .ArnGoLandmarkSearch:hover,
    .SearchHotels .ArnGoAirportSearch:hover {
        border-bottom: 1px solid #C40000;
        background: #C40000;
    }
}