@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap');

* {
    font-family: 'Montserrat', 'Helvetica' !important;
}

html,
body {
    height: 100%;
}


/*Cug Specific */
.RootPage #city,
.RootPage .ArnCheckInDate,
.RootPage .ArnCheckOutDate {
    text-indent: 32px;
}

.leaflet-top {
    top: 67px;
}

#AdminControlsContainer {
    z-index: 10;
    position: relative;
    background: #23305a;
    height: 100px;
}

#commands {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#commands a,
#commands form button {
    margin: 0 18px !important;
    line-height: 1.4;
    padding: 0;
}

#commands form .logoutCommand.submit {
    background: transparent;
    font-weight: 500 !important;
    text-transform: capitalize;
}

#commands a,
#commands button {
    position: relative;
    color: #fff;
    color: #fff;
    text-decoration: none;
    /*margin: 0 12px;*/
    font-weight: 500;
}

#commands a:hover,
#commands button:hover,
#commands form:hover {
    background: transparent !important;
}

#commands a:before,
#commands button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#commands a:hover:before,
#commands button:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


#commands button {
    background: transparent;
    border: none;
    font-family: 'Montserrat', 'Helvetica';
    font-size: 15px;
}

#commands form .logoutCommand.submit:hover,
#commands form .logoutCommand.submit:active,
#commands form .logoutCommand.submit:focus {
    box-shadow: none;
    color: #fff !important;
    background: transparent !important;
}

#theWBLoginForm h2 {
    display: none;
}

#commands .profileCommand {
    display: none;
}

.WBLoginFormActions .submit,
.WBForgotPasswordFormActions .submit {
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}

.WBForgotPasswordFormActions .CancelAction {
    text-align: center;
    display: block;
}

.WBValidatedRegistrationForm .SSFormBody {
    border: none;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm .submit {
    max-width: none;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm .formField.checkbox {
    margin: 6px 0 0;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm .CreateAnAccountAction,
.loginDivider {
    display: none;
}

.WBForgotPasswordFormContainer.ArnSubPage,
.WBForgotPasswordFormInform,
.WBLoginFormContainer.ArnSubPage {
    overflow: initial;
}

.WBForgotPasswordForm .ArnSupportLinks.ArnSupportBottom,
.WBLoginForm .ArnSupportLinks.ArnSupportBottom {
    z-index: 9;
    position: relative;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
}

.ArnSupportBottom .lowRateLink,
.ArnSupportBottom .lowRateLink+.dvd,
.searchLink,
.searchLink+.dvd,
.faqLink,
.faqLink+.dvd,
.cancelLink,
.cancelLink+.dvd,
.cookie-policy-link,
.cookie-policy-link+.dvd,
.privacyLink+.dvd+.no-brand {
    display: none !important;
}

body,
.ArnSubPage td,
.ArnRoomsOnHold,
.ArnRoomsOnHold td {
    font-family: 'Montserrat', 'Helvetica';
}

#AdminControlsContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 60px;
}

header .room-steals {
    margin-top: 5px;
    display: inline-block;
}

header {
    display: none;
}

.room-steals {
    color: #fff;
    font-size: 20px;
    align-self: center;
    order: -1;
    padding-left: 10px;
    transition: all .5s ease;
}

.room-steals img {
    height: 44px;
}

#theConfirmationContainer h4,
#theConfirmationContainer .h4 {
    font-size: 14px;
    font-weight: 300;
}

.SearchHotels .ArnRightListContainer {
    border-left: none;
}

.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited {
    font-weight: 700 !important;
    font-size: 17px;
}

.SearchHotels .ArnPropThumb {
    width: 25%;
}

.SearchHotels .ArnRateCell {
    width: 27% !important;
}

.SearchHotels .ArnPropName {
    width: 48%;
}

.ArnAvailability .ArnLimitedAvail {
    display: none;
}

.SearchHotels .PropLimitedAvail .ArnRateCell {
    background: transparent;
}

.SinglePropDetail .PropLimitedAvail .OptionsPricing a {
    cursor: default;
    background: #a9a9a9;
    color: #515164;
}

.SinglePropDetail .PropLimitedAvail .OptionsPricing a:hover,
.SinglePropDetail .PropLimitedAvail .OptionsPricing a:active,
.SinglePropDetail .PropLimitedAvail .OptionsPricing a:focus {
    background: #a9a9a9;
    color: #515164;
}

.SinglePropDetail .ArnAvailability,
.SinglePropDetail .ArnLimitedAvail {
    border: none;
}

.reserveHotel,
.modifySearch {
    font-size: 15px;
}

.SearchHotels .ArnAdults::before {
    font-size: 13px;
}

.perNight {
    display: none;
}

.ArnPrimarySearchContainer span,
.ArnLeftListContainer #simpleSearch td,
#theBookingPage label,
label,
.confirmationAgreement {
    font-size: 13px !important;
    letter-spacing: .5 !important;
    line-height: 15px;
    color: #fff;
}

.yui3-calendar-row td {
    color: #15151e !important;
}

#theBookingPage label,
label,
.confirmationAgreement {
    color: #15151e;
}

input,
.uneditable-input,
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
.RootBody #adults,
.RootBody #kids,
.RootBody #lengthOfStay,
.RootBody .ArnRadiusContainer select,
.RootBody .ArnRooms select,
.RootBody input {
    font-size: 15px;
    border-radius: 5px;
}

#theSmokingRoomAjax input {
    margin: 5px 5px 0 0;
}

.ArnPropAddress,
.distanceLabel {
    font-size: 13px;
}

.distanceLabel {
    font-weight: 600;
}

body.RootBody {
    background: #665fee;
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%) !important;
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%) !important;
    background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%) !important;
    background: linear-gradient(45deg, #665fee 0%, #27c2de 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#665fee', endColorstr='#27c2de', GradientType=1);
}

.RootBody .ArnSearchContainerMainDiv {
    background-color: transparent;
}

body.WBLoginForm,
body.WBForgotPasswordForm {
    display: grid;
    grid-template-rows: 45px 1fr auto;
    min-height: 100%;
}

header {
    background: #333;
    grid-row-start: 1;
}

.WBForgotPasswordFormContainer.ArnSubPage .SSFormBody,
.WBLoginFormContainer.ArnSubPage .SSFormBody {
    margin: 5% auto;
}

.WBForgotPasswordFormContainer.ArnSubPage,
.WBForgotPasswordFormInform,
.WBLoginFormContainer.ArnSubPage {
    position: static;
    background: transparent;
    grid-row-start: 2;
    background: #665fee;
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%) !important;
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%) !important;
    background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%) !important;
    background: linear-gradient(45deg, #665fee 0%, #27c2de 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#665fee', endColorstr='#27c2de', GradientType=1);
}

.lrgTip h3 {
    font-weight: initial;
}

.event-rate {
    text-transform: uppercase;
}

.SearchHotels .PropLimitedAvail .ArnContainer,
.ArnProperty.PropLimitedAvail {
    background: #fff !important;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.SearchHotels .PropLimitedAvail {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 0;
}

.SearchHotels .PropLimitedAvail .ArnPropName {
    width: 65%;
}

.SearchHotels .PropLimitedAvail .ArnContainer .ArnPropThumb,
.SearchHotels .PropLimitedAvail .ArnContainer .ArnPropThumb img {
    height: 110px;
    background: #23305a;
    margin-bottom: 0 !important;
}

.SearchHotels .PropLimitedAvail .ArnContainer .ArnPropThumb img {
    opacity: .25;
    filter: blur(1px;
    );
}

.SearchHotels .PropLimitedAvail .ArnRateCell,
.SearchHotels .PropLimitedAvail .ArnPropName {
    background: transparent;
}

.SearchHotels .PropLimitedAvail .detailsOrNearbyLabel .propertiesNearbyLink,
.SearchHotels .PropLimitedAvail .ArnPropName div.ArnTripAdvisorDetails,
.SearchHotels .PropLimitedAvail .ArnPropImageButtons {
    display: none !important;
}

.SearchHotels .PropLimitedAvail .ArnAvailability {
    position: static;
    width: 20%;
    order: 3;
    font-weight: 500;
}

@media screen and (max-width: 500px) {

    .SearchHotels .PropLimitedAvail .ArnContainer,
    .ArnProperty.PropLimitedAvail {
        flex-direction: column;
    }

    .SearchHotels .PropLimitedAvail {
        flex-direction: column;
    }

    .SearchHotels .PropLimitedAvail .ArnAvailability {
        width: 100%;
    }

    .SearchHotels .PropLimitedAvail .ArnPropName {
        width: 100%;
    }
}


@media screen and (min-width: 800px) {

    .hamburger:after,
    .hamburger:before {
        left: 225px;
    }

    #SortControlsContainer {
        width: 260px;
    }

    #SortControls {
        height: 240px;
        width: 100%;
        border-right: none;
        border-bottom: none;
        border-left: none;
        top: 46px;
        background: transparent;
    }

    .ArnSortContainer .ArnSortByClass {
        border-radius: 0 0 5px 5px;
        border-bottom: 1px solid #ccc;
    }

    .ArnSortContainer .ArnSortByDealPercent {
        border-radius: 5px 5px 0 0;
    }

    .ArnSortByClass,
    .ArnSortByClass:hover,
    .ArnSortByDealAmount,
    .ArnSortByDealAmount:hover,
    .ArnSortByDealPercent,
    .ArnSortByDealPercent:hover,
    .ArnSortByDistance,
    .ArnSortByDistance:hover,
    .ArnSortByPrice,
    .ArnSortByPrice:hover,
    .ArnSortByType,
    .ArnSortByType:hover,
    .ArnSortByVacationRental,
    .ArnSortByVacationRental:hover,
    .ArnSortContainer a.active {
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        width: 245px;
    }

    .SearchHotels .ArnPropImageButtons {
        top: 85px;
    }

    .SinglePropDetail .SimpleSearch .CheckRates {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {

    #SortControlsContainer .hamburger::after,
    #SortControlsContainer .hamburger::before {
        left: 225px;
    }

    .SearchHotels .ArnPropName {
        width: 42%;
    }

    .SearchHotels .ArnRateCell {
        right: 0 !important;
    }

    .SearchHotels .OnSale .ArnPropThumb {
        height: auto;
    }

    .ArnGoAddressSearch,
    .ArnGoAddressSearch:hover,
    .ArnGoAirportSearch,
    .ArnGoAirportSearch:hover,
    .ArnGoCitySearch,
    .ArnGoCitySearch:hover,
    .ArnGoLandmarkSearch,
    .ArnGoLandmarkSearch:hover {
        padding: 15px 9px;
    }
}

/* Buttons */
#theSubmitButton,
.selectedTab,
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.SinglePropDetail .bookRoom,
.SinglePropDetail .holdRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #23305a;
    transition: all 0.5s cubic-bezier(0.2, 0, 0.05, 1) !important;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: initial;
}

.submit,
#theConfirmationContainer .submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SinglePropDetail .bookRoom,
.SearchHotels .modifySearchButton,
.SinglePropDetail .holdRoom {
    border-radius: 5px;
}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active,
.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus,
.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #faaf18 !important;
    color: #23305a !important;
}

#theSubmitButton {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

#theSubmitButton:hover,
#theSubmitButton:focus,
#theSubmitButton:active {
    background: #faaf18;
    color: #23305a !important;
    border: 1px solid #faaf18;
}

.RootBody #theSubmitButton {
    font-size: 17px;
}

.ArnPropDescription {
    display: none;
}

.SearchHotels .ArnPropName div.ArnPropClass,
.ArnPropName div.ArnPropClass {
    display: block !important;
}

.SearchHotels .ArnPropName div.ArnPropClass {
    margin: 0 0 0 2%;
}

.imageDisclaimer,
.noImagesFound {
    display: none !important;
}

.ArnLimitedAvail {
    display: block;
}

.selectedTab {
    text-transform: initial;
    background: #faaf18;
    color: #23305a !important;
}

.SinglePropDetail .holdRoom {
    background: #15151e;
    color: #fff;
}

.SinglePropDetail .holdRoom:hover,
.SinglePropDetail .holdRoom:focus,
.SinglePropDetail .holdRoom:active {
    background: #38383f;
    color: #fff !important;
    box-shadow: 0 0 0 2px transparent inset;
}

.SearchHotels .ArnPrimarySearchOuterContainer #theSubmitButton {
    margin: 20px 0 20px;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #23305a;
    border-radius: 5px;
}

.ArnPropThumb {
    min-height: 0;
}

.ArnPropThumb img {
    height: 225px;
}

.ArnGoAddressSearch,
.ArnGoAirportSearch,
.ArnGoCitySearch,
.ArnGoLandmarkSearch {
    background: #23305a;
    color: #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff !important;
    border-top: none;
}

.ArnGoAirportSearch,
.ArnGoAirportSearch:hover {
    border-right: none !important;
    /*border-top-right-radius: 5px;*/
}

.selectedTab {
    background: #faaf18 !important;
    color: #23305a;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #faaf18 !important;
    color: #23305a;
    border-top: none;
    border-right: 1px solid #fff;


}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    color: #23305a;
    background: #faaf17;
    border: 1px solid #faaf17;
    border-radius: 5px;
    line-height: 15px;
    font-size: 13px;
}

.pagesNext,
.pagesPrev {
    color: #fff;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #23305a;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #faaf18;
    padding: 8px !important;
}

.SinglePropDetail .modifySearch {
    background: #23305a;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.SinglePropDetail .bestPrice .percentSavings {
    top: -4px;
    font-weight: 500;
    border-radius: 0 5px 0 5px;
}

.SinglePropDetail .ArnPropDescription {
    color: #fff;
}

.SinglePropDetail .PropertyLinks a {
    font-weight: 500;
    background: #23305a;
    color: #fff;
}

.SinglePropDetail .PropertyLinks a:hover {
    background: #faaf18;
    color: #23305a;
}

.SinglePropDetail .PropertyLinks .OptionsPricing a img {
    left: -180px;
    filter: brightness(0) invert(1);
}

.SinglePropDetail .PropertyLinks .Details a img {
    left: 165px;
    filter: brightness(0) invert(1);
}

.SinglePropDetail .PropertyLinks .Map a img {
    left: -115px;
    filter: brightness(0) invert(1);
}

.SinglePropDetail .PropertyLinks .Reviews a img {
    left: -142px;
    filter: brightness(0) invert(1);
}

.arn-leaflet-reset-button {
    background: #23305a;
    border: 1px solid transparent !important;
    transition: all .2s linear;
}

.arn-leaflet-reset-button:hover,
.arn-leaflet-reset-button:focus,
.arn-leaflet-reset-button:active {
    background: #38383f;
    border: 1px solid transparent !important;
}

.arnMapMarker {
    background: #23305a;
    border: #fff;
}

.arnMapMarker.highlight {
    background: #faaf18;
    border: 1px solid #faaf18;
    z-index: 8001;
    color: #23305a;
}

.arnMapMarker.highlight .arnMapMarkerTriangle {
    border-top-color: #faaf18;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #23305a;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #23305a;
    border: #fff;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #23305a;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #23305a;
}

.SearchHotels .reserveHotel,
.SearchHotels .modifySearch {
    padding: 18px 18px 18px 10px;
}

.SearchHotels .ArnSecondarySearchOuterContainer {
    margin: 0;
    border-top: none;
}

.ArnQuadSearchContainer.ArnPrimarySearchContainer,
.SearchHotels .ArnPrimarySearchOuterContainer,
.SinglePropDetail .SimpleSearch {
    color: rgb(255, 255, 255) !important;
}

.SinglePropDetail .SimpleSearch {
    background: #23305a;
}

.SinglePropDetail .submit {
    border: 1px solid #fff;
}

.SinglePropDetail .submit:hover {
    border: 1px solid #faaf18 !important;
}

.ArnQuadSearchContainer.ArnPrimarySearchContainer {
    background: #23305a;
    border-bottom-right-radius: 5px;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #15151e;
}

#slideit section {
    border-bottom: #15151e;
}

#slideit label.open:hover,
#slideit label.open:focus {
    color: #fff;
}

#slideit label.open:hover,
#slideit label.open:focus {
    background: #38383f;
}

.ArnPropName div.ratingCount {
    background: #23305a;
}

.exclusiveRate {
    display: none;
}

.sash {
    background: #23305a;
}

.SearchHotels .percentSavings {
    display: block !important;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #23305a;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #23305a;
}

.ArnGoAirportSearch {
    border-top-right-radius: 5px;
}

.ArnGoAdvancedSearch+p {
    display: none;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100%;
    max-width: 205px;
}

.pb-h4h {
    display: none !important;
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    #SortControlsContainer .hamburger:before {
        border-top-color: #23305a;
    }
}

.SearchHotels .ArnRateCell {
    margin-top: 0 !important;
}

@media only screen and (min-width: 800px) {

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #23305a !important;
    }
}

@media only screen and (max-width: 800px) {
    .SearchHotels .subHeader .ArnSecondarySearchOuterContainerTop .submit {
        bottom: initial;
    }

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active,
    .ArnToggleMap {
        border-top: 4px solid #23305a;
        border-bottom: 4px solid #23305a !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #23305a;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }

    .SearchHotels .ArnGoCitySearch:hover,
    .SearchHotels .ArnGoLandmarkSearch:hover,
    .SearchHotels .ArnGoAirportSearch:hover {
        border-bottom: 1px solid #23305a;
        background: #23305a;
    }

    .adminContainer span {
        background-color: #23305a;
    }
}

@media only screen and (min-width: 420px) and (max-width: 800px) {
    .SearchHotels .percentSavings {
        left: initial;
        right: 45px;
    }
}

/* Registration Page */
.WBValidatedRegistrationForm header {
    border-bottom: none;
    background: transparent;
    height: 0;
}

.WBValidatedRegistrationForm header img {
    margin: 50px;
}

.WBValidatedRegistrationForm .ArnSubPage {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.72)), color-stop(100%, rgba(56, 56, 56, 0.83)), to(rgba(8, 8, 8, 0.68))), url(https://static.hotelsforhope.com/portals/child-portals/cug/52342/images/banner.jpg) no-repeat center center /cover;
    padding-top: 220px;
}

nav {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.logo {
    margin-right: 12px;
}

.logo img {
    max-width: 300px;
    width: 100%;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h1,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h2,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h3,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron p,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron li {
    color: #fff;
    line-height: 1.4;
    font-family: 'Montserrat', 'Helvetica';
    font-weight: 700;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h1 {
    font-size: 62px;
}

.btn-primary {
    background: #23305a;
    box-shadow: none;
    border-color: #23305a;
}

.btn-primary:hover {
    background: #fff;
    color: black;
    border-color: none;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron h2,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron li {
    font-family: 'Montserrat', 'Helvetica';
    font-weight: 400;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .jumbotron li {
    list-style: none;
    line-height: 2;
    font-size: 1.2em;
    color: #fff;
    font-weight: 200;
}

ul {
    padding-left: 0;
}

.diag-bg {
    background: #fff;
    flex: 1;
    max-width: 2px;
    height: 450px;
    margin: 24px auto 0 auto;
}

.form-container h2 {
    font-family: 'Montserrat', 'Helvetica';
}

.uppercase {
    text-transform: uppercase;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works {
    padding-bottom: 48px;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works h1,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works p,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works li,
.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works h3 {
    color: #000;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works h1 {
    margin-bottom: 18px;
    font-family: 'Montserrat', 'Helvetica';
    font-weight: 700;
    font-size: 50px;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works h3 {
    font-family: 'Montserrat', 'Helvetica';
    font-weight: 700;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works p {
    font-family: 'Montserrat', 'Helvetica';
    margin: auto;
    max-width: 80%;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer .how-it-works img {
    display: block;
    max-width: 125px;
    margin: 36px auto 8px auto;
}

legend {
    color: #fff !important;
    background: #23305a !important;
    padding: 12px !important;
}

.SinglePropDetail .PropertyAmenities legend {
    background: transparent !important;
    color: #23305a !important;
    font-weight: 400;
}

#theBookingPage fieldset legend {
    font-weight: 400;
    border-radius: 5px 5px 0 0 !important;
}

#mainHotelImage {
    border-radius: 5px 5px 0 0;
}

.theHotelName {
    background: #23305a;
    color: #fff;
    border-radius: 0 0 5px 5px;
}

.recommendedProperty {
    display: none;
}

.savingsTable .savings td,
.savingsTable .savings th {
    border-bottom: none;
}

.steps {
    position: relative;
}

.steps h3 {
    width: 33.333%;
    margin: 0 15px;
}

.steps fieldset {
    position: absolute;
    width: 330px;
    left: -165px;
    top: -6px;
}

@media screen and (max-width: 1200px) {
    .steps fieldset {
        width: 260px;
        left: -130px;
    }
}

.WBValidatedRegistrationForm .steps fieldset legend {
    border-bottom: 2px dashed #7d7e81 !important;
}

@media screen and (min-width: 767px) {
    .col-md-12.flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .flex {
        display: flex;
    }
}

#greet {
    font-family: 'Montserrat', 'Helvetica';
    font-weight: 700;
}

#subGreet {
    font-family: 'Montserrat', 'Helvetica';
    font-weight: 200;
    font-size: 1em;
}

.step {
    width: 35px;
    color: #7d7e81;
    padding: 4px;
    font-size: 19px;
    display: block;
    background: #a7a9ac;
    border: 3px solid #6d6e71;
    border-radius: 100%;
    margin: 12px auto;
}

.relative {
    position: relative;
}

.col-md-4 img {
    padding-bottom: 10px;
    height: 97px;
}

.SearchHotels .percentSavings {
    position: absolute !important;
    margin-top: 3px !important;
    right: 0;
    border-radius: 0 10px 0 10px !important;
}

.percentSavings {
    display: initial !important;
    background: #faaf18;
    color: #23305a !important;
    width: 100% !important;
}

.SearchHotels .ArnRateCell {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: unset;
}

.SinglePropDetail .ArnContentGeneralInfo {
    border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 800px) {
    #AdminControlsContainer {
        display: flex;
    }

    .adminContainer {
        margin-left: auto;
        margin-right: 10px;
        height: 0;
        padding: 6px 0 0 0;
    }

    .adminContainer span {
        position: relative;
        top: -32px;
    }

    .adminMobile {
        height: 0;
        width: 100%;
    }

    #AdminControls {
        display: flex !important;
    }

    #commands {
        background: #faaf18;
    }

    #commands form,
    #commands form .logoutCommand.submit:hover,
    #commands form .logoutCommand.submit:active,
    #commands form .logoutCommand.submit:focus,
    #commands form .logoutCommand.submit,
    #commands a {
        border-top: none;
        color: #23305a !important;
    }

    #commands a:before,
    #commands button:before {
        background: #23305a;
    }

    .SearchHotels .ArnPrimarySearchOuterContainer {
        border: none;
    }

    .SearchHotels .geoButton {
        filter: invert(1);
    }

    .ArnPrimarySearchOuterContainer .selectedTab {
        line-height: 1.7;
        font-size: 14px;
    }

    .ArnGoAddressSearch,
    .ArnGoAirportSearch,
    .ArnGoCitySearch,
    .ArnGoLandmarkSearch {
        transition: all .3s ease-out;
    }

    .ArnGoCitySearch:hover,
    .ArnGoAddressSearch:hover,
    .ArnGoLandmarkSearch:hover,
    .ArnGoAirportSearch:hover {
        color: #23305a !important;
    }

    .ArnGoAirportSearch {
        border-radius: 0;
    }

    .ArnSortByClass:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDistance:hover,
    .ArnSortByPrice:hover,
    .ArnSortByVacationRental:hover {
        width: initial;
    }

    #theSubmitButton {
        border-radius: 5px !important;
    }

    .SearchHotels .percentSavings {
        background: #faaf18;
        width: 23% !important;
        top: 0;
        margin-top: 0 !important;
        padding: 7px;
    }

    .SearchHotels .ArnPropThumb img {
        border-radius: 10px 0 0 0;
        margin: 0;
    }

    .SearchHotels .ArnPropThumb {
        margin-bottom: -6px !important;
    }

    .ArnShowRatesLink,
    .ArnShowRatesLink,
    .OnSale .ArnShowRatesLink {
        padding: 10px 8px !important;
    }

    .SinglePropDetail .OnSale .bestPrice .yourRateAmount {
        font-weight: 500 !important;
        font-size: 24px !important;
    }

    .SinglePropDetail legend {
        margin-bottom: 0;
    }

    .SinglePropDetail .ArnRateTableHeader {
        background: #23305a;
    }

    .SinglePropDetail .ArnContentGeneralInfo.GeneralInfo,
    .SinglePropDetail .ArnContentGeneralInfo.PropertyMap,
    .SinglePropDetail .ArnContentGeneralInfo.PropertyReviews {
        padding: 0;
    }

    .SinglePropDetail .ArnContentGeneralInfo p {
        padding: 10px;
    }

    .SinglePropDetail .OnSale .bookRoomCell .yourRateAmount {
        font-size: 24px !important;
    }

    .SinglePropDetail .SimpleSearch .CheckRates .submit {
        border: 1px solid #fff;
        border-radius: 5px;
    }

    .PropertyAmenities:before,
    .PropertyAmenities:after {
        left: 250px;
        top: 27px;
    }

    .SinglePropDetail .PropertyAmenities {
        padding: 12px 0;
    }

    #theConfirmationContainer .submit {
        font-size: 17px;
        padding: 12px 0;
    }

    #theAjaxPaymentPolicies {
        margin-bottom: 18px;
    }

    .theHotelName {
        padding: 12px;
        margin-top: 12px;
    }

    #theBookingPage fieldset legend,
    .detailsTitle,
    .theHotelName {
        border-radius: 0 !important;
        background: #fff !important;
        border-top: 2px solid #23305a !important;
        border-bottom: 2px solid #23305a !important;
        color: #23305a !important;
        font-weight: 700;
        letter-spacing: .5px;
    }

    .hotelBox,
    #theHotelAddress {
        background: #fff;
    }

    .SearchHotels .bottomPager .ArnPages a,
    .SearchHotels .bottomPager .ArnPages .not_page {
        padding: 4px 8px;
    }
}

@media only screen and (max-width: 565px) {
    .SinglePropDetail .PropLimitedAvail .ArnAvailability {
        width: 100%;
    }

    .SinglePropDetail .ArnLimitedAvail {
        text-align: center;
    }

}

@media only screen and (max-width: 500px) {

    .SearchHotels .ArnPropName {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 18px 0 0 0;
        padding: 0 4px;
    }

    .SearchHotels .ArnPropNameLink {
        margin-top: 0;
        width: 100%;
    }

    .SearchHotels .ArnPropNameLink+br {
        display: none;
    }

    .SearchHotels .percentSavings {
        left: initial;
        right: 0 !important;
        width: 100% !important;
        top: 0;
        border-radius: 10px 10px 0 0 !important;
        z-index: 1;
        color: #000;
        background: #faaf18;
    }

    .SearchHotels .ArnRateCell {
        position: static !important;
        width: 100% !important;
    }

    .SearchHotels.mobile .ArnTripAdvisorDetails {
        display: flex !important;
        justify-content: center;
        height: unset;
    }

    .SearchHotels .ArnPropName div.reviewCount {
        overflow: visible;
        order: 2;
        max-width: 125px;
    }

    .SearchHotels.mobile .roomCount {
        text-align: center !important;
    }

    .perNight {
        margin: 2px 0 5px 0;
    }

    .SearchHotels .ArnPropThumb,
    .SearchHotels .ArnPropThumb img {
        height: 160px;
        width: 100%;
    }

    .SearchHotels .bottomPager .ArnPages a,
    .SearchHotels .bottomPager .ArnPages .not_page {
        padding: 4px 6px;
    }

    .SearchHotels.mobile .roomCount {
        text-align: left;
        margin-bottom: 0 !important;
    }

    .arnUnit,
    .arnCurrency {
        font-weight: 500 !important;
    }
}

.SinglePropDetail .bookRoomCell .percentSavings,
.SinglePropDetail.mobile .bookRoomCell .percentSavings {
    display: inline-block !important;
    max-width: 75px;
    margin: 0px auto 8px auto;
    border: none;
    background: #faaf18;
    color: #333;
    padding: 3px 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .SinglePropDetail .bestPrice .yourRateContainer {
        margin-top: 60px;
        font-weight: 700;
    }
}

@media only screen and (max-width: 500px) {

    .SinglePropDetail .ArnPropNameLink,
    .SinglePropDetail .ArnPropNameLink:active,
    .SinglePropDetail .ArnPropNameLink:visited {
        margin-top: 30px;
    }

    .SinglePropDetail .PropLimitedAvail .ArnPropNameLink,
    .SinglePropDetail .PropLimitedAvail .ArnPropNameLink:active,
    .SinglePropDetail .PropLimitedAvail .ArnPropNameLink:visited {
        margin-top: 0;
    }


    .SinglePropDetail .ArnRateCell {
        margin: 0;
    }

    .ArnTripAdvisorDetails .reviewCount {
        width: initial;
    }

    .SinglePropDetail .ArnPropName div.ratingCount {
        top: 6px;
    }

    .SinglePropDetail .bestPrice .yourRateContainer {
        margin-top: 8px;
    }
}

.supportLink,
.supportLink+.dvd,
#slideit {
    display: none;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://roomsteals.com/fonts/fontawesome/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('https://roomsteals.com/fonts/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://roomsteals.com/fonts/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://roomsteals.com/fonts/fontawesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://roomsteals.com/fonts/fontawesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://roomsteals.com/fonts/fontawesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-fw {
    width: 1.28571429em;
    text-align: center
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.fa-ul>li {
    position: relative
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center
}

.fa-li.fa-lg {
    left: -1.85714286em
}

.fa-border {
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right {
    margin-left: .3em
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.fa.pull-left {
    margin-right: .3em
}

.fa.pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
    filter: none
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #fff
}

.fa-external-link:before {
    content: "\f08e"
}

.fa-external-link-square:before {
    content: "\f14c"
}

.fa-external-link:before {
    content: "\f08e"
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

@media screen and (max-width: 1250px) {

    .SinglePropDetail .SimpleSearch .ArnCheckInDate,
    .SinglePropDetail .SimpleSearch .ArnCheckOutDate {
        width: 100% !important;
    }
}

.ArnRateCell {
    margin-right: -4px !important;
}

.SearchHotels .ArnPropName div.percentSavings {
    right: -4px;
}