$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 250px;
$background_color: #fff;
$secondary_background_color: '';
$primary_color: #dd695c;
$secondary_color: #0b1a46;
$primary_text_color: #fff;
$secondary_text_color: #dd695c;
$border_color: #dd695c;
$button_hover_background_color: #fff;
$button_hover_text_color: #dd695c;
$button_hover_border_color: #dd695c;
$google_font_name: 'Montserrat';

@import '../../../styles/sass/config-styles/base-styles.config.scss';

