#exclusive-rates-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 22vh;
    border: 5px solid $primary_color;
    border-radius: 20px;
    
    .modal-header {
        border-bottom: 3px solid $secondary_color;
        justify-content: center;
        
        h3 {
            font-size: 20px;
            font-family: $google_font_name, 'Helvetica';
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
    }
}

#header-text {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#popup-modal.show-modal {
    z-index: 501;
    top: 0px;
}

#popup-modal .modal-header {
    width: 100%;
}

@media screen and (max-width: 600px) {
    #exclusive-rates-popup {
        width: 90vw;
        height: auto;
    }
}