/* Fonts */
@font-face {
    font-family: 'Avenir';
    src: url('https://static.hotelsforhope.com/portals/child-portals/cug/60831/fonts/Avenir-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir-Black';
    src: url('https://static.hotelsforhope.com/portals/child-portals/cug/60831/fonts/Avenir-Black.ttf') format('truetype');
}

/* Font Overrides */
/* Body Text */
body,
.ArnSubPage td,
.ArnRoomsOnHold,
.ArnRoomsOnHold td,
.SearchHotels .ArnPropName div.originalPrice,
.SearchHotels .ArnPropName div.originalPrice:before,
.SinglePropDetail .bestPrice .originalPrice:before,
.SearchHotels .ArnPropName div.yourRateContainer span,
.ArnPriceCell > span,
.SinglePropDetail .OnSale .bestPrice .yourRateAmount,
.SearchHotels .ArnPriceCell > a > span,
.SearchHotels .ArnPriceCell > span:after,
.modifySearch,
.arnMapPopup,
.arnMapMarker {
    font-family: 'Avenir', 'Helvetica';
}

.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited,
.arnPrice,
.yourRateAmount,
legend,
#theWBLoginForm h1,
#theWBForgotPasswordFormBody h1,
.arnMapPopup h1 {
    font-family: 'Avenir-Black', 'Helvetica' !important;
}

#theWBForgotPasswordFormBody h1{
    margin: 0 0 10px;
}

.WBLoginFormContainer {
    flex-direction: column;
}
#register-button {
    margin: 0 auto 30px auto;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.CreateAnAccountAction {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600!important;
}

.CreateAnAccountAction:hover {
    text-decoration: underline;
    color: #333;
}

.WBValidatedRegistrationFormContainer {
    display: flex;
    flex-direction: column;
}

#already-member-container {
    margin: 30px auto 30px auto;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
    padding: 35px;
}

.loginLink {
    text-decoration: none;
}

.loginLink:hover {
    text-decoration: underline;
    color: #333;
}

.loginDivider {
    display: none;
}

.detailsTitle,
#theBookingPage fieldset.WBGuestFormFields legend {
    letter-spacing: initial;
}

html,
body {
    height: 100%;
}

/*Cug Specific */
.IsAgent.addPromocode header {
    margin-top: 88px !important;
}

.IsAgent #userCommands {
    display: none;
}

.errors {
    display: block;
}

.errors li {
    list-style: none;
}

#user_lipoints {
    color: #fff;
    font-size: 17px;
    list-style: none;
    order: 2;
}

.MemberNotAuthenticated #user_lipoints {
    display: none;
}

.leaflet-top {
    top: 175px;
}

#AdminControlsContainer,
header {
    z-index: 10;
    position: relative;
    height: auto;
    background: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F0F1F2;
}

#commands {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 1;
}

#commands a,
#commands form button {
    margin: 0 18px !important;
    line-height: 1.4;
    padding: 0;
}

#commands form .logoutCommand.submit {
    background: transparent;
    font-weight: 500 !important;
    color: #fff !important;
    font-family: inherit;
}

#commands a,
#commands button {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

#commands a:hover,
#commands button:hover,
#commands form:hover {
    background: transparent;
}

#commands a:before,
#commands button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#commands a:hover:before,
#commands button:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#commands button {
    background: transparent;
    border: none;
    font-family: 'Avenir', 'Helvetica';
    font-size: 15px;
}

#commands form .logoutCommand.submit:hover,
#commands form .logoutCommand.submit:active,
#commands form .logoutCommand.submit:focus {
    box-shadow: none;
    color: #fff !important;
    background: transparent !important;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm h1{
    text-align: left;
}

#theWBLoginForm h2 {
    display: none;
}

#validPassCode,
#invalidPassCode,
#availableUser,
#unavailableUser {
    width: 100%;
}

#validPassCode,
#invalidPassCode {
    display: none !important;
}

.invalidPassCode input {
    box-shadow: 0px 0px 3px 1px #ff0a0a !important;
}

#unavailableUser a {
    margin-left: 3px;
}

.WBValidatedRegistrationForm input[type='text'],
.WBValidatedRegistrationForm input[type='email'],
.WBValidatedRegistrationForm input[type='password'] {
    margin-bottom: 0 !important;
}

.WBLoginFormActions .submit,
.WBForgotPasswordFormActions .submit {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
}

.WBForgotPasswordFormActions .CancelAction {
    text-align: center;
    display: block;
}

.WBValidatedRegistrationForm .SSFormBody {
    border: none;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm .submit {
    max-width: none;
    margin-top: 25px;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm .formField.checkbox {
    margin: 6px 0 0;
}

.WBForgotPasswordFormContainer.ArnSubPage,
.WBForgotPasswordFormInform,
.WBLoginFormContainer.ArnSubPage,
.WBValidatedRegistrationForm.ArnSubPage {
    overflow: initial;
}

.WBForgotPasswordForm .ArnSupportLinks.ArnSupportBottom,
.WBLoginForm .ArnSupportLinks.ArnSupportBottom,
.WBValidatedRegistrationForm .ArnSupportLinks.ArnSupportBottom {
    z-index: 9;
    position: relative;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    display: block !important;
}

.ArnSupportLinks.ArnSupportBottom {
    background: #15151e;
}

.ArnSupportBottom .lowRateLink,
.ArnSupportBottom .lowRateLink + .dvd {
    display: none !important;
}

#theConfirmationContainer h4,
#theConfirmationContainer .h4 {
    font-size: 14px;
    font-weight: 300;
}

.ArnPropNameLink,
.ArnPropNameLink:active,
.ArnPropNameLink:visited {
    font-weight: 600 !important;
    font-size: 17px;
}

.reserveHotel,
.modifySearch {
    font-size: 15px;
}

.RootBody .ArnSearchHotelsImg {
    color: #fff;
}

.search-messaging{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-messaging img{
    margin-right: 24px;
    max-width: 125px;
}

.RootBody .ArnSearchHotelsImg h1 {
    font-family: 'Avenir-Black';
    font-size: 48px;
    color: #333;
}

.RootBody .ArnSearchHotelsImg h4 {
    font-size: 21px;
    color: #333;
}

.RootBody .reserveHotel {
    display: none !important;
}

.RootBody .modifySearch {
    display: none;
}

.SearchHotels .ArnSearchHotelsImg,
.RootBody .ArnSearchHotelsImg {
    height: auto;
}

.SearchHotels .ArnSearchHotelsImg + br {
    display: none;
}

.SearchHotels .ArnAdults::before {
    font-size: 13px;
}

.perNight {
    display: none;
}

.ArnPrimarySearchContainer span,
.ArnLeftListContainer #simpleSearch td,
#theBookingPage label,
label,
.confirmationAgreement {
    font-size: 13px !important;
    letter-spacing: 0.5 !important;
    line-height: 15px;
    color: #333;
}

#simpleSearch input,
#simpleSearch select {
    margin-bottom: 4px;
}

@media screen and (max-width: 1225px) {
    .SinglePropDetail #theCheckIn,
    .SinglePropDetail #theCheckOut {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) {
    .RootBody .ArnPrimarySearchContainer span {
        margin-top: 0px!important;
        }
}

.RootBody .ArnPrimarySearchContainer span {
    color: #fff;
}

.yui3-calendar-row td {
    color: #15151e !important;
}

.yui3-skin-sam .yui3-calendar-content {
    border-color: #215853 !important;
}

.yui3-skin-sam .yui3-calendar-day:hover {
    background: #215853 !important;
}

.yui3-skin-sam .yui3-calendarnav-nextmonth:hover,
[dir='rtl'] .yui3-skin-sam .yui3-calendarnav-prevmonth:hover,
.yui3-skin-sam [dir='rtl'] .yui3-calendarnav-prevmonth:hover {
    border-left-color: #215853 !important;
}

.yui3-skin-sam .yui3-calendarnav-prevmonth:hover,
[dir='rtl'] .yui3-skin-sam .yui3-calendarnav-nextmonth:hover,
.yui3-skin-sam [dir='rtl'] .yui3-calendarnav-nextmonth:hover {
    border-right-color: #215853 !important;
}

#theBookingPage label,
label,
.confirmationAgreement {
    color: #15151e;
}

div.autocomplete ul li.selected {
    background: #215853 !important;
}

input,
.uneditable-input,
input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='datetime'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea,
.RootBody #adults,
.RootBody #kids,
.RootBody #lengthOfStay,
.RootBody .ArnRadiusContainer select,
.RootBody .ArnRooms select,
.RootBody input {
    font-size: 15px;
    /* border-radius: 5px; */
}

#theSmokingRoomAjax input {
    margin: 5px 5px 0 0;
}

.ArnPropAddress,
.distanceLabel {
    font-size: 13px;
}

.distanceLabel {
    font-weight: 600;
}

body.RootBody {
    background: #fff
}

.RootBody .ArnSearchContainerMainDiv {
    background-color: transparent;
    display: flex;
    align-items: center;
}

body.WBLoginForm,
body.WBForgotPasswordForm,
body.WBValidatedRegistrationForm {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background: #fff;
    grid-row-start: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.WBForgotPasswordFormContainer.ArnSubPage .SSFormBody,
.WBLoginFormContainer.ArnSubPage .SSFormBody {
    margin: 5% auto;
    max-width: 500px;
    width: 100%;
}

.WBForgotPasswordFormContainer.ArnSubPage,
.WBForgotPasswordFormInform,
.WBLoginFormContainer.ArnSubPage,
.WBValidatedRegistrationFormContainer.ArnSubPage {
    position: static;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.WBForgotPasswordFormContainer.ArnSubPage,
.WBForgotPasswordFormInform,
.WBLoginFormContainer.ArnSubPage,
.WBValidatedRegistrationFormContainer.ArnSubPage {
    background: #fff;
    /* background: url(https://static.hotelsforhope.com/portals/child-portals/cug/60831/images/banner.png) no-repeat center center / cover !important; */
}

/* Registration */

.MemberAuthenticated.WBForgotPasswordForm #AdminControlsContainer,
.MemberAuthenticated.WBValidatedRegistrationForm #AdminControlsContainer {
    width: 100%;
    position: absolute;
    top: 0;
}

#thePersonalInfoGroup legend{
    display: block !important;
    font-size: 36px;
    font-family: 'Avenir-Black', 'Helvetica';
    color: #333;
}

.WBValidatedRegistrationForm .SSFormBody #theUserNameAjax{
    width: 100%;
}

.MemberAuthenticated.WBValidatedRegistrationForm header {
    margin-top: 45px;
}

.WBValidatedRegistrationForm .ArnSubPage {
    margin: 0;
    max-width: 100%;
    padding: 0;
}

#theWBValidatedRegistrationForm{
    background: #Fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
    padding: 50px;
}

#theWBValidatedRegistrationForm .submit{
    font-size: 15px;
}

#theWBValidatedRegistrationFormBody {
    background: transparent;
    padding: 50px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#theWBValidatedRegistrationFormBody form{
    max-width: 600px;
}

.register-container{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(https://static.hotelsforhope.com/images/stock_photos/hamburg.jpg) no-repeat center center / cover !important;
}

#theWBValidatedRegistrationFormBody label {
    display: block !important;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer h1 {
    display: block !important;
    font-size: 36px;
    font-family: 'Avenir-Black', 'Helvetica';
    color: #fff;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer p{
    color: #fff;
}

.WBValidatedRegistrationForm .WBValidatedRegistrationFormContainer button{
    background: transparent;
    border: 1px solid #e2ad37;
    color: #fff;
}

.registrationText,
.registrationText h1 {
    color: #fff;
}

.WBValidatedRegistrationForm .loginLink{
    display: inline-block !important;
}

/* Registration End */

.lrgTip h3 {
    font-weight: initial;
}

.event-rate {
    text-transform: uppercase;
}

.hamburger:after,
.hamburger:before {
    left: 225px;
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    #SortControlsContainer .hamburger::after,
    #SortControlsContainer .hamburger::before {
        left: 225px;
    }
}

/* Buttons */
#theSubmitButton,
.submit,
.submit:focus,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.ArnShowRatesLink:focus,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.SinglePropDetail .bookRoom,
.SinglePropDetail .bookRoom:focus,
.holdRoom,
.holdRoom:focus,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow, 
#theSubmitButton:focus{
    background: #215853;
    color: #fff !important;
    transition: all 0.5s cubic-bezier(0.2, 0, 0.05, 1) !important;
    font-size: 14px;
    line-height: 15px;
    font-weight: 900 !important;
}

.submit,
#theConfirmationContainer .submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SinglePropDetail .SinglePropDetail .bookRoom,
.SearchHotels .modifySearchButton,
.SinglePropDetail .holdRoom {
    border-radius: 4px;
}

.submit:hover,
.submit:active,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.SinglePropDetail .bookRoom:hover,
.bookRoom:active,
.holdRoom:hover,
.holdRoom:active,
.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #215853 !important;
    color: #fff !important;
}

#theSubmitButton:hover,
#theSubmitButton:active {
    background: #215853;
    color: #fff !important;
}

.RootBody #theSubmitButton {
    font-size: 17px;
}

.selectedTab {
    text-transform: initial;
}

.SinglePropDetail .holdRoom {
    background: #15151e;
    color: #fff;
}

.SinglePropDetail .holdRoom:hover,
.SinglePropDetail .holdRoom:focus,
.SinglePropDetail .holdRoom:active {
    background: #38383f;
    color: #fff !important;
    box-shadow: 0 0 0 2px transparent inset;
}

.SearchHotels .ArnPrimarySearchOuterContainer #theSubmitButton {
    margin: 20px 0 20px;
}

.SearchHotels .ArnPrimarySearchOuterContainer #theSubmitButton:hover {
    color: #fff !important;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #e2ad37;
    border-radius: 5px;
    padding: 3px 3px;
    font-size: 14px !important;
}

.SearchHotels .selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    color: #fff;
    border-bottom: 1px solid #ccc;
    background-color: #215853;
    transition: all 0.3s ease;
}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    color: #333;
    background: transparent;
    border: 1px solid #e2ad37;
    border-radius: 5px;
    font-size: 14px !important;
    padding: 3px 4px;
    line-height: 1.2;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #215853;
}

.SinglePropDetail .ArnPropDescription {
    color: #fff;
}

.SinglePropDetail .PropertyLinks .OptionsPricing a img {
    left: -180px;
}

.SinglePropDetail .PropertyLinks .Details a img {
    left: 165px;
}

.SinglePropDetail .PropertyLinks .Map a img {
    left: -115px;
}

.SinglePropDetail .PropertyLinks .Reviews a img {
    left: -142px;
}

.arn-leaflet-reset-button {
    background: #e2ad37;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid transparent !important;
    transition: all 0.2s linear;
}

.arn-leaflet-reset-button:hover,
.arn-leaflet-reset-button:focus,
.arn-leaflet-reset-button:active {
    background: #215853;
    color: #fff;
    border: 1px solid transparent !important;
}

.arnMapMarker {
    background: #215853;
    border: #fff;
}

.arnMapMarker.highlight {
    background: #15151e;
    border: 1px solid #15151e;
    z-index: 8001;
}

.arnMapMarker.highlight .arnMapMarkerTriangle {
    border-top-color: #15151e;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #215853;
    transition: all 0.3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #215853;
    border: #fff;
    transition: all 0.3s ease;
}

.highlight > .arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #215853;
    transition: all 0.3s ease;
}

.specialEventRate,
.hostHotel {
    background: #215853;
}

.SearchHotels .reserveHotel,
.SearchHotels .modifySearch {
    padding: 18px 18px 18px 10px;
}

.SearchHotels .ArnSecondarySearchOuterContainer {
    margin: 0;
}

.ArnQuadSearchContainer.ArnPrimarySearchContainer,
.SearchHotels .ArnPrimarySearchOuterContainer,
.SinglePropDetail .SimpleSearch {
    background-color: #fff;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #215853;
}

#slideit section {
    border-bottom: #215853;
}

#slideit label.open:hover,
#slideit label.open:focus {
    color: #fff;
}

#slideit label.open:hover,
#slideit label.open:focus {
    background: #215853;
}

.ArnPropName div.ratingCount {
    background: #215853;
}

.exclusiveRate {
    display: none;
}

.sash {
    background: #215853;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #215853;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #215853;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100%;
    max-width: 205px;
}

.pb-h4h {
    display: none !important;
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    #SortControlsContainer .hamburger:before {
        border-top-color: #215853;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-toggle {
        display: none;
    }

    #SortControls {
        height: 284px;
        background: transparent;
        top: 40px;
        border: none;
    }
    .ArnSortContainer {
        height: unset;
    }

    .ArnSortByClass {
        border-bottom: 1px solid #ccc;
    }

    .ArnSortByClass,
    .ArnSortByClass:hover,
    .ArnSortByDealAmount,
    .ArnSortByDealAmount:hover,
    .ArnSortByDealPercent,
    .ArnSortByDealPercent:hover,
    .ArnSortByDistance,
    .ArnSortByDistance:hover,
    .ArnSortByPrice,
    .ArnSortByPrice:hover,
    .ArnSortByType,
    .ArnSortByType:hover,
    .ArnSortByVacationRental,
    .ArnSortByVacationRental:hover {
        width: 220px;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #215853;
    }

    .SearchHotels .ArnPropThumb,
    .SearchHotels .ArnPropThumb img {
        height: 200px;
        min-height: 0;
        max-height: 200px;
    }
}

@media only screen and (max-width: 800px) {
    .SearchHotels .ArnProperty {
        min-height: unset;
    }

    .arnPrice + .perNight {
        display: none !important;
    }

    .SearchHotels .ArnPropThumb,
    .SearchHotels .ArnPropThumb img {
        border-radius: 10px 0 0 10px;
    }

    .SearchHotels .ArnPropThumb {
        overflow: unset;
    }

    .SearchHotels .subHeader .ArnSecondarySearchOuterContainerTop .submit {
        bottom: initial;
    }

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active,
    .ArnToggleMap {
        border-top: 4px solid #215853;
        border-bottom: 4px solid #215853 !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #215853;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0;
    }

    #theDatePrompt > img {
        max-width: 300px;
        margin-bottom: 36px;
    }

    .SearchHotels .selectedTab,
    .SearchHotels .ArnGoCitySearch:hover,
    .SearchHotels .ArnGoLandmarkSearch:hover,
    .SearchHotels .ArnGoAirportSearch:hover {
        background: #215853;
        line-height: 24px;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
    }

    .adminContainer span {
        background-color: #e2ad37;
    }

    .RootPage #city {
        width: 85%;
    }

    .RootPage .geoButton {
        width: 30px;
        margin: 0 0 0 3%;
    }

    .adminContainer span {
        position: absolute;
        top: 30px;
        right: 18px;
    }

    #AdminControlsContainer > #AdminControlsContainer  {
        border-bottom: none;
    }

    #commands {
        flex-direction: column;
    }

    #commands a,
    #commands form button {
        margin: 0 !important;
    }

    #commands a:hover,
    #commands form:hover,
    #commands form:hover .logoutCommand.submit {
        background: #215853 !important;
        color: #fff !important;
        border-top-color: transparent;
    }

    #commands a,
    #commands form {
        width: 100%;
        padding: 12px 0;
    }

    #commands a:before,
    #commands form:before {
        background: transparent;
    }

    #theWBValidatedRegistrationFormBody {
        padding: 14px !important;
    }

    .WBValidatedRegistrationForm #thePersonalInfoGroup legend {
        line-height: 1.4;
    }
}

nav {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.logo {
    margin-right: 12px;
}

.logo img {
    max-width: 300px;
    width: 100%;
    padding: 0;
}

.btn-primary {
    background: #215853;
    box-shadow: none;
    border-color: #215853;
}

.btn-primary:hover {
    background: #fff;
    color: black;
    border-color: none;
}

ul {
    padding-left: 0;
}

.diag-bg {
    background: #fff;
    flex: 1;
    max-width: 2px;
    height: 450px;
    margin: 24px auto 0 auto;
}

.form-container h2 {
    font-family: 'Avenir', 'Helvetica';
}

.uppercase {
    text-transform: uppercase;
}

#greet {
    font-family: 'Avenir', 'Helvetica';
    font-weight: 700;
}

#subGreet {
    font-family: 'Avenir', 'Helvetica';
    font-weight: 200;
    font-size: 1em;
}

.SearchHotels .ArnPropName div.yourRateContainer span,
.ArnPriceCell > span,
.SinglePropDetail .OnSale .bestPrice .yourRateAmount,
.SearchHotels .ArnPriceCell > a > span,
.ArnPriceCell a,
.SinglePropDetail .SB16 .yourRateAmount,
.SinglePropDetail .yourRateAmount,
.SinglePropDetail .SB16 .exclusiveRate + strong,
.SinglePropDetail .SB20 .yourRateAmount,
.SinglePropDetail .SB20 .exclusiveRate + strong,
.SinglePropDetail .ArnNightlyRate strong {
    color: #215853 !important;
    font-family: 'Avenir-Black', 'Helvetica' !important;
}

.SinglePropDetail .ArnNightlyRate .brand-message strong{
    color: #fff !important;
    font-size: 15px !important;
    display: inline;
}

@media only screen and (max-width: 800px) {
    #AdminControlsContainer {
        display: block;
    }

    .adminContainer {
        margin-left: auto;
        margin-right: 10px;
        height: 0;
        padding: 6px 0 0 0;
    }

    .adminMobile {
        height: 0;
        width: 100%;
    }

    .SearchHotels .geoButton {
        filter: invert(1);
    }

    .ArnPriceCell {
        display: flex;
        flex-direction: column;
    }

    .SearchHotels .otherPrice + a {
        order: 3;
    }

    .SinglePropDetail .bestPrice .yourRateContainer {
        font-weight: 700;
    }

    .SearchHotels .ArnPropName div.memberSavings {
        display: none !important;
        margin: 0 0 6px 0 !important;
    }

    .SearchHotels .ArnPropName div.memberSavings span {
        display: none;
    }

    .SearchHotels .ArnPropName div.memberSavings .creditsLabel {
        margin-right: 3px;
    }

    #user_lipoints {
        position: absolute;
        right: 8px;
        bottom: 0;
    }

    .mobile-toggle {
        color: #fff;
        border: 1px solid #fff;
        padding: 4px 12px;
        font-size: 17px;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        top: -12px;
    }

    .show-menu {
        display: block !important;
        position: absolute;
        top: 81px;
        width: 100%;
    }

    .SearchHotels .ArnRateCell {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        align-content: center;
    }

    .SearchHotels .percentSavings {
        right: 0;
        width: 100%;
        left: unset;
        top: 0;
        border-radius: 0 5px 0 5px;
        background: #215853;
    }

    .SearchHotels .originalRateAmount {
        font-size: 15px !important;
        font-family: 'Avenir';
    }

    .SearchHotels .ArnRateButton,
    .SearchHotels .OnSale .ArnRateButton {
        width: initial !important;
    }
}

@media only screen and (max-width: 500px) {
    .search-messaging img{
        display: none;
    }
    
    .logo img{
        max-width: 225px;
    }
    
    .SearchHotels .ArnPropName div.memberSavings {
        margin: 0 !important;
    }

    .SearchHotels .ArnPropName div.memberSavings {
        margin: 0 !important;
    }

    .SearchHotels .ArnRateCell {
        bottom: 12px;
        height: initial !important;
        justify-content: flex-end;
    }

    .SinglePropDetail .ArnPropNameLink,
    .SinglePropDetail .ArnPropNameLink:active,
    .SinglePropDetail .ArnPropNameLink:visited {
        margin-top: 30px;
    }

    .SinglePropDetail .ArnRateCell {
        margin: 0;
    }

    .ArnTripAdvisorDetails .reviewCount {
        width: initial;
    }

    .SinglePropDetail .ArnPropName div.ratingCount {
        top: 6px;
    }

    .SinglePropDetail .bestPrice .yourRateContainer {
        margin-top: 8px;
    }

    .SearchHotels .ArnPropThumb {
        margin-bottom: 8px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
    }

    .adminContainer {
        padding: 0;
    }

    .ArnPropName div.ArnTripAdvisorDetails {
        display: flex !important;
        margin-bottom: 12px;
    }

    .ArnPropName div.reviewCount {
        order: 1;
        margin-left: 6px !important;
    }

    .SearchHotels .ArnPropAddress {
        margin: 6px 0 12px 0 !important;
    }
}

@media only screen and (max-width: 360px) {
    .RootPage #city {
        width: 80%;
    }

    .ArnPropName div.ArnTripAdvisorDetails {
        justify-content: center;
        width: initial !important;
        margin: 0 auto !important;
        max-width: fit-content;
    }

    .SearchHotels .reviewCount,
    .SearchHotels .ratingCount {
        width: initial !important;
        max-width: fit-content;
    }
}

#theMarketingOptInAjax {
    display: none;
}

.savingsTable .savings td, .savingsTable .savings th{
    color: #215853;
    font-weight: 700;;
}

@media screen and (min-width: 800px) {
    .RootBody .ArnSearchContainerMainDiv {
        padding: 0;
    }

    .ArnPropImageButtons {
        top: 80px;
    }

    .SearchHotels .ArnRateCell {
        height: 100%;
        top: 0;
        right: 0 !important;
    }

    .SearchHotels .ArnPriceCell {
        margin-top: 56px !important;
    }
}

@media screen and (min-width: 500px) {
    .SearchHotels .ArnPropThumb {
        width: 25%;
    }
}

.percentSavings {
    display: none;
}

.SinglePropDetail .creditsLabel {
    margin-right: 3px;
}

div.originalPrice span,
.SearchHotels .ArnPropName div.originalPrice span {
    text-decoration: line-through !important;
    line-height: 1;
}

.SearchHotels .arnPrice {
    order: 1;
}

.originalPrice:before {
    display: none;
}

.ArnPriceCell .mainRate {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.originalRateContainer,
.bestPrice .originalRateAmount {
    display: none;
}

.SinglePropDetail .originalRateAmount {
    text-align: center;
}

.RootBody .ArnSecondarySearchOuterContainer {
    display: flex !important;
    background: rgba(0, 0, 0, 0.75);
    padding: 15px 15px 14px;
}

.RootBody #CitiesNearbyContainer,
.RootBody #theOtherSubmitButton {
    display: none;
}

.RootBody .ArnAmentitiesContainer,
.RootBody .ArnCitiesNearbyContainer,
.RootBody .ArnCurrenciesContainer,
.RootBody .ArnHotelSizeContainer,
.RootBody .ArnPriceContainer,
.RootBody .ArnPropertyClassesContainer,
.RootBody .ArnPropertyTypesContainer,
.RootBody .ArnRateFiltersContainer,
.RootBody .ArnSlider {
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .RootBody .ArnSecondarySearchOuterContainer {
        display: none !important;
    }
}

.SearchHotels .PropLimitedAvail .ArnRateCell {
    background: transparent;
}

#thePassCodeAjax {
    display: none;
}

div.originalPrice span,
.SearchHotels .ArnPropName div.originalPrice span {
    text-decoration: line-through !important;
    padding: 6px;
}

.originalPrice,
.originalRateAmount,
.SearchHotels .ArnPropName div.originalPrice span,
.SinglePropDetail .RoomDescription .originalRateAmount {
    display: inline-block !important;
    font-size: 15px;
}

.SearchHotels .ArnPropName div.originalPrice .originalRateContainer {
    display: none !important;
}

.SearchHotels .ArnRateCell {
    max-width: 185px;
}

.SinglePropDetail .originalRateAmount {
    font-size: 15px !important;
}

.SearchHotels .percentSavings {
    font-family: 'Avenir', 'Helvetica';
    padding: 6px 4px;
}

@media screen and (min-width: 800px) {
    .SearchHotels .percentSavings,
    .SinglePropDetail .bestPrice .percentSavings {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        border-radius: 0 5px 0 5px !important;
        background: #215853 !important;
        display: inline-block;
        padding: 6px 10px;
        font-size: 15px !important;
    }
}

.SinglePropDetail .bookRoomCell .percentSavings,
.SinglePropDetail.mobile .bookRoomCell .percentSavings {
    display: block !important;
    border: none;
    background: #215853;
    color: #fff;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    line-height: 1.6;
}

.SinglePropDetail .ArnContentContainer .originalRateContainer,
.SinglePropDetail .bestPrice .originalRateAmount {
    display: none !important;
}

.SearchHotels .roomCount {
    display: none;
}

.SinglePropDetail .SimpleSearch .CheckIn {
    display: inline;
    float: left;
    width: 50% !important;
    margin-right: 2%;
}

.SinglePropDetail .SimpleSearch .CheckOut {
    position: static;
    width: 50% !important;
}

.SinglePropDetail .SimpleSearch .ArnCheckOutDate,
.SinglePropDetail .SimpleSearch .ArnCheckInDate {
    width: 100% !important;
}

.WBLoginFormFields  #theUserNameAjax label, .WBLoginFormFields  #thePasswordAjax label  {
    display: none !important;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm .formField {
    margin-top: 15px;
}

div #theRememberMeAjax {
    margin-top: 20px;
}

div #theRememberMeAjax label {
    margin-left: 5px !important;
}

.ArnSupportLinks.ArnSupportBottom {
    background-color: #F0F1F2;
    color: #6D6E6F;
}
.ArnSupportLinks.ArnSupportBottom a {
    color: #6D6E6F;
}

.WBLoginFormFields input {
    border: unset !important;
}

.WBLoginFormContainer.ArnSubPage #theWBLoginForm .submit {
    height: 40px;
}

.WBValidatedRegistrationFormContainer #thePersonalInfoGroup label {
    display: none !important;
}

.WBValidatedRegistrationFormContainer #thePersonalInfoGroup input {
    margin-top: 20px
}

.WBValidatedRegistrationForm .SSFormBody .WBValidatedRegistrationFormActions.FormActions {
    width: 100%;
    max-width: 300px;
}

.WBValidatedRegistrationForm .SSFormBody .WBValidatedRegistrationFormActions.FormActions .submit {
    border-radius: 40px
}

@media screen and (max-width: 800px) {
    .SearchHotels .percentSavings {
        display: block;
        max-width: 190px;
        z-index: 1;
    }

    .SinglePropDetail .SimpleSearch .ArnRooms,
    .SinglePropDetail .SimpleSearch .CheckIn {
        margin-right: 2%;
        width: 48% !important;
    }

    .SinglePropDetail #adults {
        max-width: none;
        width: 100% !important;
    }

    .SinglePropDetail .ArnPropDescription {
        display: none;
    }

    .CheckRates .submit {
        border-radius: 5px !important;
    }
}

@media screen and (max-width: 500px) {
    .SearchHotels .ArnRateCell {
        max-width: 175px;
    }

    .SearchHotels .percentSavings {
        max-width: 100%;
        border-radius: 5px 5px 0 0;
    }

    .SinglePropDetail .ArnPropName div.ArnTripAdvisorDetails {
        justify-content: center;
        width: 100%;
    }

    .SinglePropDetail .ArnPropName div.ratingCount {
        position: static;
    }

    .RootBody .ArnSearchContainerMainDiv {
        padding-top: 0!important;
    }

    .message-content h1 {
        line-height: 2;
    }
}

@media screen and (max-width: 420px) {
    .SearchHotels .ArnRateCell {
        position: static !important;
        max-width: none;
    }

    .SearchHotels .ArnPropName {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .SearchHotels .ArnRateCell {
        max-width: 100%;
    }
}

@media screen and (max-width: 325px) {
    .SinglePropDetail .SimpleSearch .CheckIn,
    .SinglePropDetail .SimpleSearch .CheckOut {
        width: 100% !important;
        display: block !important;
    }
}

@media screen and (max-width: 375px) {
    body.RootBody, body.WBLoginForm, body.WBForgotPasswordForm, body.WBValidatedRegistrationForm {
        display: block;
        height: unset;
    }

    .WBLoginFormContainer.ArnSubPage .SSFormBody {
        margin: 10px;
    }

}





