
/* * {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   } */
   html,
   body {
    height: 100%;
    position: relative;
    font-family: 'Raleway', sans-serif;

   }
   
/* - - - - - Header - - - - -  */

hr {
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.logo-container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.main-header .logo-container {
    display: flex;
	align-items: center;
	justify-content: flex-start;
    margin: 0;
}

img {
	max-width: 100%;
    height: auto;
    
}

/* - - - - - Property - - - - -  */

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.event-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: #9C6AAD;
    color: #fff;
    padding: 10px;
}

h1#event-name {
    font-size: 30px;
    font-weight: 100;
}

#dates {
    font-size: 15px;
}

.exclusive-properties-header {
    width: 90vw;
    margin: 3%;
}

.exclusive-properties-header p {
    margin: 0;
}

.prop-content {
    display: flex;
    flex-direction: column;
    background-color: #e6edf5;
    border-radius: 0 0 10px 10px;
}

.prop-description-container {
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 15px;
}

.prop-description  {
    height: auto;
    width: auto;
}

.prop-description p {
    margin: 0;
}

.card {
    width: 90vw;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

p.card-text.prop-text  {
    font-size: 15px;
    font-weight: 70;
}

.card-header:first-child {
    background-color: #D6D7D8;
    border-radius: 10px 10px 0 0;
}

.address {
    display: flex;
    flex-direction: column;
}

.address span {
    font-weight: 700;
}

.address h5 {
    font-size: 20px;
    font-weight: 20;
}

svg.star {
    margin: 3px;
}

.card-body.prop-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20px 20px 20px;

}

.prop-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    height: 10%;
    font-size: 40px;
    margin: 3px;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35vw;
    height: auto;
    padding: 3px;
    margin: 12px 6px 6px 6px;
}

.container-right {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: auto;
    margin: 10px;
}

.card.room {
    margin: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 0;
}

.card-body.room {
    display: flex ;
    flex-direction: column;
    width: 95%;
    height: auto;
    padding: 10px;
    margin-left: 10px;
}

h5.card-title {
    font-weight: 800;
    margin-bottom: 5px;
}

.card-body.room .per-night {
    font-size: 13px;
    font-weight: 80;
    margin-bottom: 5px;
}

.book-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 10px;

}

.card-header {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.btn-default {
    background-color: #9C6AAD;
    color: #fff;
    border-color: #9C6AAD;
}

.btn-default:hover {
    background-color: #fff;
    color: #9C6AAD;
}

.stay22-header {
    width: 90vw;
    margin: 30px;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stay22-map {
    width: 90vw;
    height: 80vh;
    margin: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;  
}

#stay22-widget {
    width: 100%;
    height: 100%; 
    border-radius: 9px;
}

.footer { 
    width: 100vw;
    height: 100px;
    background-color: #999;
    border-top: 4px solid #9C6AAD;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

/* screens that are 450px wide or less */
@media only screen and (max-width: 770px){

    .exclusive-properties-header {
        text-align: center;
    }

    .card-header {
        flex-direction: column;
    }

    .address {
        text-align: center;
    }

    .card-body.prop-body {
        flex-direction: column;
        align-items: center;
    }
    
    .container-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .container-right {
        align-items: center;
    }

    .rooms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: none;
    }

    .card.room {
        flex-direction: column;
    }

    .card-body .room {
        align-items: center;
    }

    div.card-body.room {
        margin-left: 0;
    }

    p.card-text {
        text-align: center;
    }

    .stay22-header {
        text-align: center;
    }

    .footer {
        flex-direction: column;
        height: auto;
    }
}
