
* {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }
   html,
   body {
    height: 100%;
    position: relative;
    font-family: 'Raleway', sans-serif;

   }
   
/* - - - - - Header - - - - -  */

header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 4px solid #9C6AAD;
}

.logo-container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.main-header .logo-container {
    display: flex;
	align-items: center;
	justify-content: flex-start;
    margin: 0;
}

img {
	max-width: 100%;
    height: auto;
    
}

/* - - - - - Property - - - - -  */

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.event-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#dates {
    font-size: 25px;
}

.exclusive-properties-header {
    width: 90vw;
    margin: 10px;
}

.prop-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: auto;
    padding: 3px;
    margin: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #777;

}

.prop-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    height: 10%;
    font-size: 40px;
    margin: 3px;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    height: auto;
    padding: 3px;
    margin: 6px;
}

.carousel {
    border: 2px solid #ccc;
}

.disclaimer {
    margin: 20px;
    color: #55555A;
    font-size: 15px;
    width: 97%;
}

.container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.prop-info {
    width: 100%;
    height: auto;
}

.rooms {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 280px;
    overflow: auto;
    margin: 10 0 10 0;
    border-radius: 10px;
    cursor: pointer;
}

.card {
    margin: 10px;
}

.card-header {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.stars {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.btn-default {
    background-color: #9C6AAD;
    color: #fff;
    border-color: #9C6AAD;
}

.btn-default:hover {
    background-color: #fff;
    color: #9C6AAD;
}

.stay22-header {
    width: 90vw;
    margin: 10px;
}

.stay22-map {
    width: 90vw;
    height: 80vh;
    margin: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

#stay22-widget {
    width: 100%;
    height: 100%; 
    border-radius: 9px;

}

.footer { 
    width: 100vw;
    height: 100px;
    background-color: #999;
    border-top: 4px solid #9C6AAD;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

/* screens that are 400px wide or less */
@media only screen and (max-width: 450px){

    .prop-container {
        display: flex;
        flex-direction: column;
    }

    .container-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
       
    }

    .rooms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: none;
        
    }

    .footer {
        flex-direction: column;
        height: auto;
    }
    .carousel {
        margin-right: 14px;
    }
}