@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #fff;
$logo_flex_position: center;
$logo_max_width: 350px;
$background_color: #fff;
$primary_color: #008eb9;
$secondary_color: #008eb9;
$primary_text_color: #fff;
$secondary_text_color: #008eb9;
$border_color: #008eb9;
$button_hover_background_color: #fff;
$button_hover_text_color: #f7901e;
$button_hover_border_color: #f7901e;
$google_font_name: 'Montserrat';
$site_name: 'farm_aid_22-78568';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.jpg) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';

// #2d3192 url(https://static.hotelsforhope.com/portals/child-portals/noLRG/51821/images/pattern.png) repeat;

.ArnRateButton .ArnShowRatesLink  {
  border-width: 2px;
  background: #f7901e;
  border-color: #f7901e;
  font-weight: bold;
  &:hover{
    background: #fff;
    border-width: 2px;
    color: #f7901e;
    border-color: #f7901e;
  }
}

.lucid-banner .lucid-button {
  background: #fff;
  border: 2px solid #fff;
  &:hover{
    background: #f7901e;
    border-width: 2px;
    color: #fff;
  }
}

#lucid-link {
  color: #f7901e;
  &:hover{
    color: #fff;
  }

}

.lucid-banner {
  background: #f7901e;
}

.GroupHoldForm .ArnLeftSearchContainer {
    display: none;
}

// .lucid-content #desktop {
//   color: #000;
// }

