@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #fff;
$logo_flex_position: space-between;
$logo_max_width: 230px;
$background_color: #fff;
$secondary_background_color: #f0f0f0;
$primary_color: #215853;
$secondary_color: #e2ad37;
$primary_text_color: #fff;
$secondary_text_color: #215853;
$border_color: #215853;
$button_hover_background_color: #fff;
$button_hover_text_color: #215853;
$button_hover_border_color: #215853;
$google_font_name: 'Avenir';
$site_name: 'retail_resbeat_public-51474';
$path: set-path($env);
$banner_image: #fff;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../styles/sass/config-styles/resbeat.config.scss';

/* Fonts */
@font-face {
    font-family: 'Avenir';
    src: url('https://static.#{domain}/portals/child-portals/cug/62011/fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://static.#{domain}/portals/child-portals/cug/62011/fonts/Avenir-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://static.#{domain}/portals/child-portals/cug/62011/fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://static.#{domain}/portals/child-portals/cug/60831/fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.logo svg{
    min-width: 200px;
}

.WBLoginFormActions input,
#register-btn a,
.WBValidatedRegistrationFormActions input,
#theOtherSubmitButton,
#theSubmitButton,
.ArnShowRatesLink,
.SinglePropDetail .bookRoom,
.SinglePropDetail #moreRatesLink,
.CheckOutForm #theConfirmationButton,
.WBSupportFormActions input,
.WBForgotPasswordFormActions input, #theSubmitButton,
#theOtherSubmitButton,
.SinglePropDetail .CheckRates .submit,
.CheckOutForm #theConfirmationButton, .total-points-earned th,
.total-points-earned td,
.discount th,
.discount td, .WBValidatedRegistrationForm .WBValidatedRegistrationFormActions input, #commands,
#commands .logoutCommand, .ArnSubPage h1, .RootBody .search-messaging #user-name, .RootBody .lblAmenities,
.RootBody .lblRating,
.RootBody .lblPropertyType, .SearchHotels .ArnPropNameLink, .SinglePropDetail .ArnPropName, .modal-header h3, #lightbox, #lightbox .WBChangePasswordFormActions .ChangePasswordAction, #lightbox .dialog-button-ok input, .ArnSupportLinks, .MemberNotAuthenticated .LoginAction,
.SendMeNewPasswordAction.submit,
.ArnShowRatesLink,
.bookRoom,
.holdRoom,
#moreRatesLink,
.GuestForms legend,
.WBSupportFormActions .SendRequestAction, .ArnSearchHeader, .SinglePropDetail .ArnLeftListContainer > span.translateMe, .sort-filter-header h3,
.mobile-filter-container h4,
.mobile-sort-container .sort-wrapper h4, .SearchHotels .lblAmenities,
.SearchHotels .lblRating,
.SearchHotels .sort-wrapper h4, .arnMapPopup h1, .support-details h3,
#theHotel legend, .SearchHotels .lblPropertyType, .WBConfirmedBooking .submit, .WBChangePasswordFormInform .dialog-button-ok input.submit {
    text-transform: uppercase !important;
}

.WBLoginFormActions input,
#register-btn a,
.WBValidatedRegistrationFormActions input,
#theOtherSubmitButton,
#theSubmitButton,
.ArnShowRatesLink,
.SinglePropDetail .CheckRates .submit,
.SinglePropDetail .bookRoom,
.SinglePropDetail #moreRatesLink,
.CheckOutForm #theConfirmationButton,
.WBSupportFormActions input,
.WBForgotPasswordFormActions input, #theSubmitButton,
#theOtherSubmitButton,
.SinglePropDetail .CheckRates .submit,
.CheckOutForm #theConfirmationButton, .WBValidatedRegistrationForm #theUserNameAjax input,
.WBValidatedRegistrationForm #theFirstNameAjax input,
.WBValidatedRegistrationForm #theLastNameAjax input,
.WBValidatedRegistrationForm #theEditablePasswordAjax input,
.WBValidatedRegistrationForm #theEditableConfirmPasswordAjax input,
input[type='email'].email-mask,
.WBLoginFormFields input, .WBValidatedRegistrationForm .WBValidatedRegistrationFormActions input, .return-to-login,
.CancelAction,
#theRememberMeAjax label, #commands,
#commands .logoutCommand, .RootBody .search-messaging, .SearchHotels .ArnPropNameLink, .SinglePropDetail .ArnPropName, .modal-header h3, .reviewCount, .MemberNotAuthenticated #theUserNameAjax input,
.MemberNotAuthenticated #thePasswordAjax input,
.MemberNotAuthenticated #new-user-text,
.MemberNotAuthenticated #theWBLoginFormBody h1,
.MemberNotAuthenticated .ForgotPasswordAction, #lightbox .WBChangePasswordFormActions .ChangePasswordAction, #lightbox .dialog-button-ok input, .ArnSupportLinks, .MemberNotAuthenticated #new-user-text strong,
.MemberNotAuthenticated #theWBLoginFormBody strong,.MemberNotAuthenticated .CreateAnAccountAction, .MemberNotAuthenticated .LoginAction,
.SendMeNewPasswordAction.submit,
.ArnShowRatesLink,
.bookRoom,
.holdRoom,
#moreRatesLink,
.GuestForms legend,
.WBSupportFormActions .SendRequestAction, .ArnSearchHeader, .SinglePropDetail .ArnLeftListContainer > span.translateMe, .SearchHotels .lblAmenities,
.SearchHotels .lblRating,
.SearchHotels .sort-wrapper h4, .arnMapPopup h1, .CheckOutForm #theStayPolicies h4, .SearchHotels .lblPropertyType, .WBConfirmedBooking .submit, .WBResendOrCancelFormActions input, .WBChangePasswordFormInform .dialog-button-ok input.submit {
    letter-spacing: 1px !important;
}

.WBLoginFormActions input,
#register-btn a,
.WBValidatedRegistrationFormActions input,
#theOtherSubmitButton,
#theSubmitButton,
.ArnShowRatesLink,
.SinglePropDetail .CheckRates .submit,
.SinglePropDetail .bookRoom,
.SinglePropDetail #moreRatesLink,
.CheckOutForm #theConfirmationButton,
.WBSupportFormActions input,
.WBForgotPasswordFormActions input, #lightbox .WBChangePasswordFormActions .ChangePasswordAction:hover, .WBConfirmedBooking .submit, .WBResendOrCancelFormActions input, .WBForgotPasswordFormActions input, .WBChangePasswordFormInform .dialog-button-ok input.submit {
    transition-duration: 0.8s;
}

.SearchHotels .ap-input-icon {
    background-color: #f0f0f0;
}

.MemberNotAuthenticated header {
    display: flex !important;
}

.ArnSupportLinks.ArnSupportBottom .searchLink + .dvd {
    display: inline !important;
}

header .supportLink {
    margin-right: 40px;
    color: #666;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.SinglePropDetail .save-more {
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 7px 0;
    // position: absolute;
    bottom: 42px;
    background: #215853;
    border-radius: 25px;

    .points {
        padding: 0;
    }

    span {
        padding: 10px;
    }

    a {
        font-weight: bold;
        color: #e2ad37 !important;
    }
}

.SinglePropDetail .earn-points-cta {
    display: flex;
    flex-direction: row;
    grid-row: 1/2;
    align-items: center;
    grid-column: 1/3;
    text-align: left;
    color: #666;
    font-size: 15px;

    a {
        font-weight: bold;
        color: #e2ad37 !important;
        margin-left: 5px;
    }
}

.CheckOutForm {
    .total-points-earned {
        display: none;
    }
}

.SearchHotels .beat-em {
    a {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.RootBody .search-messaging {
    h1 {
        display: block !important;
        font-weight: 200;
        font-size: 36px;
        text-transform: uppercase !important;
        color: #666;
    }
}

.ConfirmationForm {
    .points-earned, .discount, .beat-em-value {
        display: none;
    }
    
    .confirmation-sign-up.points-earned {
        display: flex;
        background: #e2ad37 !important;

        a {
            font-weight: bold;
            color: #fff;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 800px){
    .config-label{
        background: transparent;
    }
}

@media screen and (max-width: 600px){
    .MemberNotAuthenticated .info-banner {
        display: flex !important;
    }
}

@media screen and (max-width: 400px){
    header {
        justify-content: center;
        flex-direction: column;

        .supportLink {
            margin-right: unset;
        }
    }
}
