@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #000;
$logo_flex_position: center;
$logo_max_width: 200px;
$background_color: #fff;
$secondary_background_color: #f0f0f0;
$primary_color: #c9920e;
$secondary_color: #000;
$primary_text_color: #fff;
$secondary_text_color: #000;
$border_color: none;
$button_hover_background_color: #fff;
$button_hover_text_color: #c9920e;
$button_hover_border_color: none;
$google_font_name: 'Graphik-Regular';
$site_name: 'test_cfp_landing-104135';
$path: set-path($env);
$banner_image: url(#{$path}/site_configs/#{$site_name}/img/banner.png) no-repeat;
$logo_bg: url(#{$path}/site_configs/#{$site_name}/img/logo_bg.svg)  top left / 117% 150% no-repeat;
$bg-images: url(#{$path}/site_configs/#{$site_name}/img/atlanta_stadium.jpg), url(#{$path}/site_configs/#{$site_name}/img/trophy_bg.png), url(#{$path}/site_configs/#{$site_name}/img/miami_2023.jpg);
$header-images: '';
$border-radius-general: 8px;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../js/components/landing_page/landing-page_bar_design.scss';
@import '../../../js/components/lucid_banner/lucid-banner.scss';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Fonts */
@font-face {
    font-family: 'Graphik-Bold';
    src: url('https://static.#{$domain}/ares/site_configs/cfp_21-60797/fonts/Graphik-Bold.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('https://static.#{$domain}/ares/site_configs/cfp_21-60797/fonts/Graphik-Regular.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Graphik-Thin';
    src: url('https://static.#{$domain}/ares/site_configs/cfp_21-60797/fonts/Graphik-Thin.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Graphik-RegularItalic';
    src: url('https://static.#{$domain}/ares/site_configs/cfp_21-60797/fonts/Graphik-RegularItalic.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'UnitedSansReg-Heavy';
    src: url('https://static.#{$domain}/ares/site_configs/cfp_21-60797/fonts/UnitedSansReg-Heavy.otf') format('truetype');
    font-style: normal;
}

h2.search-container-header-text {
    font-family: "UnitedSansReg-Heavy", "Graphik-Regular", "Helvetica";
    font-size: 30px;
    text-align: center;
}

// .RootBody .ArnSearchContainerMainDiv h1 {
//     display: none;
// }

// .RootBody h3 {
//     display: none;
// }

.RootBody .ArnPrimarySearchContainer {
    background: #272427;
    border-radius: $border-radius-general;
}

.ArnSupportLinks.ArnSupportBottom {
    background-color: #000 !important;
}

select#rooms,
select#adults {
    border-radius: 8px;
}

// .event-1 {

//     .display-date {
//         margin-bottom: -25px;
//     }
// }


.event-container {

    margin-top: 5px;
    margin-bottom: 5px;
    border: none;

    h2 {
        font-size: 24px;
        text-align: left;
    }

    .view-hotels {
        background-color: #c9920e;
        font-family: "UnitedSansReg-Heavy", "Graphik-Regular", "Helvetica";
    }

    &:hover {
        border: none;
        outline: 3px solid #c9920e; 
    }
}

.logo img {
    padding: 0px;
}

.event-details-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.event-image-container{
    border-radius: $border-radius-general 0px 0px $border-radius-general;
    min-width: 200px;
}

.event-details {
    font-size: 13px;
    margin-left: 15px;
}

.event-name {
    font-family: "UnitedSansReg-Heavy", "Graphik-Regular", "Helvetica";
    margin: 0;
    margin-bottom: 7px;
}

.display-date-location-container {
    margin-top: 7px;
}

.display-location {
    margin-left: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.display-date {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.lucid-banner {
    margin-top: 20px;
    border-radius: 8px;
}

.lucid-banner .lucid-content {
    text-align: left;
}

#lucid-link {
    background-color: black;
    color: white;
    border-radius: 8px;
}

.RootBody .ArnSecondarySearchOuterContainer {
    padding: 0px;
}

.RootBody #theOtherSubmitButton {
    font-family: "UnitedSansReg-Heavy", "Graphik-Regular", "Helvetica";
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    max-width: none;
    min-height: 46px;
}

input {
    border: 1px solid #c9920e;
    border-radius: 8px;
}

#address-input {
    border: 1px solid #c9920e;
    border-radius: 8px; 
}

#theCheckIn,
#theCheckOut,
#rooms,
#adults {
    border: 1px solid #c9920e;
    border-radius: 8px;
}

@media screen and (min-width: 960px) {
    .lucid-banner{
        width: 85vw;
    }

    .lucid-content {
    padding-top: 10px;
    padding-bottom: 10px;

    .span {
        font-size: 14px;
    }
}
}

@media screen and (max-width: 960px) {
    .event-image-container {
        min-width: 100px;
        min-height: 200px;
    }

    .event-container {
        
        h2 {
            font-size: 18px;
            text-align: center;
        }
    
        .view-hotels {
            font-size: 14px;
            margin-right: 0px;
        }
    }

    .event-details-and-button {
        flex-direction: column;
    }

    .event-details {
        margin-left: 0px;
    }

    .display-date-location-container {
        margin-top: 0px;
        margin-bottom:10px;
        flex-direction: column;
    }

    .display-location {
        font-size: 12px;
    }

    .display-date {
        font-size: 12px;
    }

    .view-hotels {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 15px;
        border-radius: $border-radius-general;
        margin-right: 15px;
        width: unset;
        min-width: 150px
    }

    .lucid-banner .lucid-content #desktop {
            display: none;
        }

    .lucid-banner .lucid-content #tablet {
            display: none;
        }

    .lucid-banner .lucid-content #mobile {
        display: inline;
    }

    .lucid-banner .lucid-content span {
        margin-left: 15px;
    }
}

@media screen and (max-width: 785px) {
    .lucid-banner{
        width: 85vw;
    }
    .lucid-banner .lucid-content span {
        margin-left: 15px;
    }
}

@media screen and (max-width: 600px) {
    .lucid-banner .lucid-content #desktop {
            display: none;
        }

    .lucid-banner .lucid-content #tablet {
            display: none;
        }

    .lucid-banner .lucid-content #mobile {
        display: inline;
    }
}