/* Fonts */
@font-face {
    font-family: 'Graphik-Bold';
    src: url('https://dev-static.hotelsforhope.com/ares/site_configs/cfp_21-60797/fonts/Graphik-Bold.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('https://dev-static.hotelsforhope.com/ares/site_configs/cfp_21-60797/fonts/Graphik-Regular.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Graphik-RegularItalic';
    src: url('https://dev-static.hotelsforhope.com/ares/site_configs/cfp_21-60797/fonts/Graphik-RegularItalic.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'UnitedSansReg-Heavy';
    src: url('https://dev-static.hotelsforhope.com/ares/site_configs/cfp_21-60797/fonts/UnitedSansReg-Heavy.otf') format('truetype');
    font-style: normal;
}

/* Buttons */

.SearchHotels #theSubmitButton, .SearchHotels #theOtherSubmitButton {
    border: 3px solid #000;
    background-color: #fff;
    color: #000;
    font-family: 'UnitedSansReg-Heavy';
}

/* Buttons End */

.ArnPrimarySearchContainer input, .ArnPrimarySearchContainer select {
    border: 1px solid #e5e5e5;
}

#AdminControlsContainer {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ABABAB;
}

header {
    border-bottom: unset;
    height: 115px
}

header a {
    width: 100%;
    background: url(../../site_configs/cfp_21-60797/img/logo_bg.svg) top left / 35% 213px no-repeat;
    overflow: visible;

}

.ArnSearchContainerMainDiv {
    border: 1px solid #e5e5e5;
    width: 95vw;
    height: 95%;
    background-color: #fff;
    margin: 70px;
}

span.exclusive-rate {
    position: absolute;
    border: unset;
    margin: 0;
    top: unset;
    left: unset;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.ArnPrimarySearchContainer {
    background-color: transparent;
    color: #000;
}