/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');


body {
    font-family: 'Montserrat', 'Helvetica';
    font-size: 17px !important;
    font-weight: 300;
    background: #fff;
    color: #15151E;
    line-height: 1.4;
}

.ArnSubPage td {
    font-family: 'Montserrat', 'Helvetica';
    font-size: 15px !important;
    font-weight: 300;
    color: #15151E;
}

body.RootBody {
    background: url(https://static.hotelsforhope.com/portals/child-portals/noLRG/53739/images/banner.jpg) no-repeat center center /cover !important;
}

header {
    background: url(https://static.hotelsforhope.com/portals/child-portals/noLRG/53739/images/header-bg.png) no-repeat center center /cover;
    border-bottom: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 12px;
}

header a:not(.logo) {
    margin: 0 18px !important;
    line-height: 1.4;
    padding: 0;
    color: #fff;
    font-weight: 400;
}

header a:not(.logo) {
    position: relative;
    color: #fff;
    color: #fff;
    text-decoration: none;
    /*margin: 0 12px;*/
    font-weight: 500;
}

header a:not(.logo) {
    background: transparent !important;
}

header a:not(.logo):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header a:not(.logo):hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#language {
    position: static;
    display: block;
}

#language option {
    display: none;
}

#language option[value="translateMe"],
#language option[value="standard"],
#language option[value="vietnamese"] {
    display: block;
}

.logo {
    margin-right: auto !important;
}

.logo img {
    max-width: 100px;
    margin: 0;
    width: 100%;
}

.SearchHotels .ArnPropName a {
    letter-spacing: initial !important;
}

.arnCurrency {
    vertical-align: initial;
}

/* Button Colors */
.selectedTab,
.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    background: #ffcb0e !important;
    transition: all .3s ease-out;
    color: #000 !important;
}

.submit,
.OnSale .ArnShowRatesLink,
.ArnShowRatesLink,
.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page,
.bookRoom,
.SearchHotels .modifySearchButton,
.holdRoom {
    font-family: 'Montserrat' !important;
    border-radius: 5px;
}

.SearchHotels .bottomPager .ArnPages a,
.SearchHotels .bottomPager .ArnPages .not_page {
    border: 1px solid #ffcb0e !important;
}

.selectedTab,
.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    color: #000;

}

.SearchHotels .bottomPager .ArnPages .pagesActive {
    color: #fff !important;
    background: #cd0f15 !important;
    border: 1px solid #cd0f15 !important;
    border-radius: 5px;
}

.GroupHoldForm .ArnContentButtonWide,
.GroupHoldForm .ArnContentButtonNarrow,
.HoldRoomsForm .ArnContentButtonWide,
.HoldRoomsForm .ArnContentButtonNarrow {
    border-top: 1px solid #cd0f15 !important;
    border-left: 1px solid #cd0f15 !important;
    border-right: 1px solid #cd0f15 !important;
}

.GroupHoldForm .ArnContentButtonWide:hover,
.GroupHoldForm .ArnContentButtonNarrow:hover,
.HoldRoomsForm .ArnContentButtonWide:hover,
.HoldRoomsForm .ArnContentButtonNarrow:hover {
    background: #f3c419 !important;
    color: #000 !important;
}

.submit:hover,
.submit:active,
.submit:focus,
.ArnShowRatesLink:hover,
.ArnShowRatesLink:active,
.ArnShowRatesLink:focus,
.bookRoom:hover,
.bookRoom:focus,
.bookRoom:active {
    background: #f3c419 !important;
}

.holdRoom:hover,
.holdRoom:active,
.holdRoom:focus {
    background: #646464 !important;
}

.holdRoom {
    background: #858585 !important;
}

.hamburger:after,
.hamburger:before {
    top: 20px;
}

.hamburger:before,
.PropertyAmenities:before {
    border-top-color: #93040c !important;
}

.SearchHotels .ArnPropName div.percentSavings,
.SinglePropDetail .bestPrice .percentSavings {
    background: #f3c419 !important;
    color: #000 !important;
}

.arn-leaflet-reset-button {
    background: #93040c !important;
}

.arnMapMarker {
    background: #93040c !important;
    border: #c899ff !important;
}

.arnMapMarker .arnMapMarkerTriangle {
    border-top-color: #93040c !important;
    transition: all .3s ease;
}

.arnMapMarker:hover,
.highlight {
    background: #cd0f15 !important;
    border: #cd0f15 !important;
    transition: all .3s ease;
}

.highlight>.arnMapMarkerTriangle,
.arnMapMarker:hover .arnMapMarkerTriangle {
    border-top-color: #cd0f15 !important;
    transition: all .3s ease;
}

.specialEventRate,
.hostHotel {
    background: #93040c !important;
}

.throbber {
    border-left: #93040c !important;
}

.SearchHotels .ArnSearchContainerMainTable {
    top: 96px !important;
}

.SearchHotels .ArnPrimarySearchContainer,
.SinglePropDetail .ArnPrimarySearchContainer {
    background: #93040c;
    color: #fff !important;
}

a.ArnGoAdvancedSearch+p {
    display: none;
}

#slideit label.open:hover,
#slideit label.open:focus,
#slideit label.open,
#slideit span.title {
    background: #93040c !important;
}

#slideit section {
    border-bottom: #93040c !important;
}

.ArnPropName div.ratingCount {
    background: #93040c !important;
}

.sash {
    background: #93040c !important;
}

.openMapBtn:hover,
.openMapBtn:focus,
.openMapBtn:active {
    background: #93040c !important;
}

.ArnGoCitySearch:hover,
.ArnGoAddressSearch:hover,
.ArnGoLandmarkSearch:hover,
.ArnGoAirportSearch:hover {
    background: #ffcb0e !important;
}

.HoldRoomsForm .ArnRightListContainer input {
    width: 100% !important;
    max-width: 205px !important;
}

@media only screen and (min-width: 800px) {
    .SearchHotels .ArnSecondarySearchOuterContainer {
        border-top: none;
    }

    .SearchHotels .adminMobile>.hamburger {
        z-index: 2;
    }

    .ArnAmentitiesContainer,
    .ArnCitiesNearbyContainer,
    .ArnCurrenciesContainer,
    .ArnHotelSizeContainer,
    .ArnPriceContainer,
    .ArnPropertyClassesContainer,
    .ArnPropertyTypesContainer {
        background: #93040c;
        padding: 10px;
        border-bottom: 1px solid #ffe68b;
    }

    .SearchHotels .ArnIndividualSearchContainer a {
        color: #fff;
    }

    #SortControls {
        height: 165px;
        top: 55px;
        z-index: 1;
        padding: 0;
        border-left: 0;
        border-bottom: 0;
        border-radius: 5px;
    }

    div#theSortContainer a:first-child {
        border-radius: 5px 5px 0 0;
    }

    #theSortContainer .ArnSortByPrice {
        border-bottom: 1px solid #ccc;
        border-radius: 0 0 5px 5px;
    }

    .ArnSortByClass,
    .ArnSortByClass,
    .ArnSortByDealAmount,
    .ArnSortByDealAmount,
    .ArnSortByDealPercent,
    .ArnSortByDealPercent,
    .ArnSortByDistance,
    .ArnSortByDistance,
    .ArnSortByPrice,
    .ArnSortByPrice,
    .ArnSortByType,
    .ArnSortByType,
    .ArnSortByVacationRental,
    .ArnSortByVacationRental {
        border: 1px solid #ccc;
        border-bottom: 0;
        border-right: 0;
    }

    .ArnSortByName:hover,
    .ArnSortByClass:hover,
    .ArnSortByType:hover,
    .ArnSortByPrice:hover,
    .ArnSortByAvailability:hover,
    .ArnSortByDealPercent:hover,
    .ArnSortByDealAmount:hover,
    .ArnSortByVacationRental:hover,
    .ArnSortByDistance:hover,
    .ArnSortByName.active,
    .ArnSortByClass.active,
    .ArnSortByType.active,
    .ArnSortByPrice.active,
    .ArnSortByAvailability.active,
    .ArnSortByDealPercent.active,
    .ArnSortByDealAmount.active,
    .ArnSortByVacationRental.active,
    .ArnSortByDistance.active {
        border-left: 2px solid #93040c !important;
        border-right: 1px solid #ccc !important;
    }

    .ArnSortByVacationRental {
        display: none !important;
    }
}

@media only screen and (max-width: 800px) {

    .SearchHotels .ArnSortByName:hover,
    .SearchHotels .ArnSortByClass:hover,
    .SearchHotels .ArnSortByType:hover,
    .SearchHotels .ArnSortByPrice:hover,
    .SearchHotels .ArnSortByAvailability:hover,
    .SearchHotels .ArnSortByDealPercent:hover,
    .SearchHotels .ArnSortByDealAmount:hover,
    .SearchHotels .ArnSortByVacationRental:hover,
    .SearchHotels .ArnSortByDistance:hover,
    .SearchHotels .ArnSortByName.active,
    .SearchHotels .ArnSortByClass.active,
    .SearchHotels .ArnSortByType.active,
    .SearchHotels .ArnSortByPrice.active,
    .SearchHotels .ArnSortByAvailability.active,
    .SearchHotels .ArnSortByDealPercent.active,
    .SearchHotels .ArnSortByDealAmount.active,
    .SearchHotels .ArnSortByVacationRental.active,
    .SearchHotels .ArnSortByDistance.active {
        border-top: 4px solid #93040c !important;
        border-bottom: 4px solid #93040c !important;
    }

    .ArnToggleMap,
    .SearchHotels .filters,
    .SinglePropDetail.mobile .subHeader a.refineLink {
        border-bottom: 4px solid #93040c !important;
    }

    .SearchHotels .ArnSearchContainerMainTable {
        top: 0 !important;
    }

    #theDatePrompt>img {
        max-width: 300px;
        margin-bottom: 36px;
    }
}

@media only screen and (max-width: 565px) {
    .logo+a {
        display: none;
    }
}