@import '../../../styles/sass/sass-functions/func.scss';

$header_background: #fff;
$logo_flex_position: space-between;
$logo_max_width: 230px;
$background_color: #fff;
$secondary_background_color: '';
$primary_color: #215853;
$secondary_color: #e2ad37;
$primary_text_color: #fff;
$secondary_text_color: #215853;
$border_color: #215853;
$button_hover_background_color: #fff;
$button_hover_text_color: #215853;
$button_hover_border_color: #215853;
$google_font_name: 'Avenir';
$site_name: 'cug_template-39624';
$path: set-path($env);
$banner_image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(#{$path}/site_configs/#{$site_name}/img/banner.png) no-repeat center center / cover;

@import '../../../styles/sass/config-styles/base-styles.config.scss';
@import '../../../styles/sass/config-styles/resbeat.config.scss';
/* Fonts */
@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.#{domain}/portals/child-portals/cug/62011/fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.#{domain}/portals/child-portals/cug/62011/fonts/Avenir-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.#{domain}/portals/child-portals/cug/62011/fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('https://dev-static.#{domain}/portals/child-portals/cug/60831/fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.ArnPages a,
.ArnPages {
    font-family: 'Avenir';
    color: #666;
}

header {
    border-bottom: 1px solid #e9e9e9;
}

.logo img {
    width: 100%;
    padding: 0;
    margin: 12px;
}

.config-container {
    background: #fff !important;
    padding: 5px 10px 0 0 !important;
}
.config-container .config-label {
    color: #666;
}

.RootBody .ArnPrimarySearchContainer {
    background: #f4f4f4;
    color: #666;
}
.ArnSupportLinks {
    background: #f4f4f4;
    color: #666;
}

.ArnSupportLinks a {
    color: #666;
}

.SinglePropDetail .SimpleSearch {
    background: #fff;
    color: #666;
}

.SinglePropDetail .SimpleSearch input,
.SinglePropDetail .SimpleSearch select {
    background-color: #f0f0f0 !important;
}

#theSubmitButton,
#theOtherSubmitButton,
.SinglePropDetail .CheckRates .submit,
.CheckOutForm #theConfirmationButton {
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #215853 !important;
    background: #215853 !important;
    color: #fff !important;
    -webkit-appearance: none;
}

.total-points-earned th,
.total-points-earned td,
.discount th,
.discount td {
    font-weight: 700;
    text-transform: uppercase;
}

.WBValidatedRegistrationFormActions input {
    -webkit-appearance: none;
}

#theSubmitButton:hover,
#theOtherSubmitButton:hover,
.CheckRates .submit:hover,
.CheckOutForm #theConfirmationButton:hover {
    background: #fff !important;
    color: #215853 !important;
}

.WBValidatedRegistrationForm #thePersonalInfoGroup label,
.WBValidatedRegistrationForm #thePassCodeAjax,
#availableUser {
    display: none;
}

.WBValidatedRegistrationForm #theUserNameAjax input,
.WBValidatedRegistrationForm #theFirstNameAjax input,
.WBValidatedRegistrationForm #theLastNameAjax input,
.WBValidatedRegistrationForm #theEditablePasswordAjax input,
.WBValidatedRegistrationForm #theEditableConfirmPasswordAjax input,
input[type='email'].email-mask,
.WBLoginFormFields input {
    background: #f0f0f0 !important;
    border: unset !important;
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    padding: 12px !important;
    color: #666 !important;
}
.WBValidatedRegistrationForm .WBValidatedRegistrationFormActions input {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px;
    font-size: 14px;
}

.return-to-login,
.CancelAction,
#theRememberMeAjax label {
    color: #666;
    font-weight: 100;
    letter-spacing: 1px;
}

#commands,
#commands .logoutCommand {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    outline: none;
}

.ArnSubPage h1 {
    color: #666;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.WBForgotPasswordFormActions {
    text-align: center;
}

.RootBody .ArnSecondarySearchOuterContainer {
    color: #666;
}

.RootBody #PropertyTypesContainer {
    display: block !important;
}

.RootBody .ArnSecondarySearchOuterContainer span {
    margin-top: 6px;
}

.RootBody h1,
.RootBody h3 {
    display: none !important;
}

.RootBody .search-messaging {
    display: block;
    color: #666 !important;
    letter-spacing: 1px;
}

.RootBody .search-messaging #user-name {
    color: #666 !important;
    display: block !important;
    text-transform: uppercase;
    font-family: 'Avenir';
    font-weight: 200;
    font-size: 36px;
}

.RootBody .search-messaging #user-name strong {
    font-family: 'Avenir';
    font-weight: 700;
}

.RootBody .search-messaging {
    text-align: center;
    margin-top: 40px;
}

.RootBody .search-messaging h4 {
    font-family: 'Avenir';
    font-weight: 200;
    font-size: 16px;
}

.RootBody .lblAmenities,
.RootBody .lblRating,
.RootBody .lblPropertyType {
    font-weight: 700;
    text-transform: uppercase;
}

.SearchHotels .beat-em {
    background: #e2ad37;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-left: auto;
    border-radius: 20px 15px 0px 20px;
    border: 4px solid #e2ad37;
    width: 100%;
    font-weight: 600;
}

.SinglePropDetail .beat-em {
    background: #e2ad37;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    border: 4px solid #e2ad37;
    width: 100%;
    font-weight: 600;
}

.ArnRateButton {
    width: 100%;
    max-width: 140px !important;
    background: transparent;
}

.SearchHotels .ArnRateButton {
    align-self: center;
    margin-bottom: 25px;
}

.SearchHotels .ArnRateCell {
    text-align: center;
}

.SearchHotels .ArnLimitedAvail {
    margin-top: 20px;
}

.ArnRateButton a,
.bookRoom,
.holdRoom {
    border-radius: 40px;
    background: transparent;
    color: #215853;
    border: 3px solid #215853;
    padding: 6px 12px;
}

.ArnRateButton a:hover,
.bookRoom:hover,
.holdRoom:hover {
    background: #215853;
    color: #fff;
    border: 3px solid #215853;
}

.LoginAction.submit,
#register-btn a,
.RegisterAction.submit,
.SendMeNewPasswordAction.submit,
#moreRatesLink,
.WBSupportForm .SendRequestAction {
    border-radius: 40px;
    background: #215853;
    color: #fff;
    border: 3px solid #215853 !important;
    padding: 12px;
}

.LoginAction.submit:hover,
#register-btn a:hover,
.RegisterAction.submit:hover,
.SendMeNewPasswordAction.submit:hover,
.WBSupportForm .SendRequestAction:hover {
    background: #fff;
    color: #215853;
    border: 3px solid #215853;
}

.SearchHotels .ArnPropName {
    padding: 22px 23px;
}

.SearchHotels .ArnPropThumb {
    border-radius: 15px 0 0 15px;
}

.SearchHotels .ArnContainer .ArnTripAdvisorDetails.HasReviews {
    bottom: 40px;
    left: 20px;
}

.SearchHotels .ArnPropClass {
    display: none !important;
}

.SearchHotels .originalPrice,
.SinglePropDetail .originalPrice {
    display: block !important;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 500;
}

.SearchHotels .ArnPrimarySearchContainer {
    background: #fff;
    color: #666;
}

.SearchHotels #theSearchBox input,
.SearchHotels #theSearchBox select {
    background-color: #f0f0f0;
}

.SearchHotels .ArnPrimarySearchOuterContainer {
    margin-top: 13px;
}

.SearchHotels .ArnPropNameLink {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.SearchHotels .arnPrice {
    color: #e2ad37;
}

.ArnPropNameLink span {
    font-size: 14px;
    font-weight: 800;
}

.SearchHotels .arnUnit + div {
    display: none;
}

.ratingCount {
    padding: 4px !important;
    border-radius: 20px;
}

.reviewCount {
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.CheckOutForm .originalPrice {
    display: block !important;
    text-decoration: line-through;
    font-size: 13px;
}

.CheckOutForm .total-points-earned td {
    font-family: 'Avenir';
}

.SinglePropDetail .originalPrice {
    font-size: 15px;
}

#theBookingPage legend {
    font-weight: normal;
}

.full-stay {
    display: none;
}

.SinglePropDetail #moreRatesLink {
    width: 200px;
    height: 35px;
}

.SinglePropDetail .points-earned {
    font-size: 15px;
    background: #215853;
    color: #fff;
    width: 300px;
    text-align: center;
    padding: 7px 0;
    position: absolute;
    bottom: 60px;
    border-radius: 40px;
}

.roomCount {
    color: #e2ad37;
}

.organizationsCommand {
    display: none;
}

.MemberNotAuthenticated .redeem-promocode-container {
    display: none;
}

.MemberNotAuthenticated #theUserNameAjax label,
.MemberNotAuthenticated #thePasswordAjax label {
    display: none;
}

.MemberNotAuthenticated #theUserNameAjax input,
.MemberNotAuthenticated #thePasswordAjax input,
.MemberNotAuthenticated #new-user-text,
.MemberNotAuthenticated #theWBLoginFormBody h1,
.MemberNotAuthenticated .ForgotPasswordAction {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: 100;
}

.ArnSupportLinks {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
}

.MemberNotAuthenticated #theUserNameAjax input,
.MemberNotAuthenticated #thePasswordAjax input {
    border: unset;
    background-color: #f0f0f0;
    width: 100%;
    padding: 12px !important;
}

.MemberNotAuthenticated #new-user-text strong,
.MemberNotAuthenticated #theWBLoginFormBody strong {
    font-family: 'Avenir';
    font-weight: 700;
    letter-spacing: 1px;
}

.MemberNotAuthenticated #new-user-text {
    font-size: 30px;
    margin-top: 50px;
}

.MemberNotAuthenticated .CreateAnAccountAction {
    width: 100%;
    letter-spacing: 1px;
}

.MemberNotAuthenticated #register-btn {
    text-align: center;
}

.MemberNotAuthenticated .LoginAction,
.SendMeNewPasswordAction.submit,
.ArnShowRatesLink,
.bookRoom,
.holdRoom,
#moreRatesLink,
.GuestForms legend,
.WBSupportFormActions .SendRequestAction {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Avenir';
    outline: none;
    -webkit-appearance: none;
}

.pb-container {
    display: none;
}

.MemberNotAuthenticated .WBLoginFormActions {
    display: flex;
    flex-direction: column;
}

.message-content h1 {
    display: block !important;
}

.ArnSearchHeader {
    font-family: 'Avenir';
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 25px;
}

.sort-filter-header h3,
.mobile-filter-container h4,
.mobile-sort-container .sort-wrapper h4 {
    text-transform: uppercase;
    color: #666;
}

.mobile-sort-container .sort-wrapper h4 {
    font-weight: 700;
    font-size: 14px;
}

.SearchHotels .lblAmenities,
.SearchHotels .lblRating,
.SearchHotels .sort-wrapper h4 {
    font-family: 'Avenir';
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    color: #666;
}

.SearchHotels .ArnContainer {
    background: #f0f0f0;
    border-radius: 15px;
    color: #666 !important;
}

.ArnPropNameLink span,
.reviewCount a {
    color: #666 !important;
}

.SearchHotels .prop-hr {
    visibility: hidden;
    margin: 10px 0;
}

.hr {
    border: none;
    height: 1px;
    background: #ccc;
}

.mobile-filter-container .ArnSecondarySearchOuterContainer hr:first-child,
.mobile-filter-container #CitiesNearbyContainer + hr {
    display: none;
}

.CheckOutForm #theConfirmationPoliciesAjax {
    margin-top: 10px;
}

.CheckOutForm .theHotelAddress {
    display: block;
    text-align: left;
}

#theBookingPage .PaymentPolicies {
    border: none;
    background: #f4f4f4;
    color: #666;
}

.totalsTable tr th,
.totalsTable tr td {
    background: #f4f4f4;
    color: #666;
}

.theHotelName {
    color: #666;
}

.lowRateLink,
.lowRateLink + .dvd,
.cancelLink,
.supportLink + .dvd {
    display: none;
}

.ArnSubPage h1 {
    color: #666;
}

.ArnSubPage.WBSupportForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 96px;
}
.WBSupportForm .FormFields {
    margin-top: 6px;
}

.WBSupportForm .SSForm {
    grid-column-start: 1;
    grid-row-start: 2;
}

.WBSupportForm input,
.WBSupportForm select,
.WBSupportForm textarea {
    background: #f0f0f0;
    color: #666;
    border: none;
    width: 100%;
    padding: 12px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-color: ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: 0;
}

.WBSupportForm .ArnSupportChatTable {
    grid-column-start: 2;
    grid-row-start: 2;
}

.WBSupportForm .ArnSupportChatTable td p:first-of-type,
.WBSupportForm .ArnSupportChatTable td div + p + p {
    display: none;
}

.WBSupportForm .SSForm .FormFields label {
    display: none;
}

.useCancelFormWarning {
    display: none;
}

.support-details {
    background: #f4f4f4;
    color: #666;
    padding: 30px;
    line-height: 1.7;
}

.support-details h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.support-details a {
    color: #215853;
    text-decoration: none;
}

.support-details p {
    margin: 0;
}

.support-details p:last-child {
    margin-top: 18px;
}

#theHotelAddress {
    display: block !important;
    text-align: left !important;
}

#AdminControlsContainer {
    justify-content: flex-end;
    padding: 12px;
}

.static-rewardsLink,
#commands .rewards,
.static-bookingLink + .dvd {
    display: none;
}

body.WBSupportForm {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.ArnSubPage.WBSupportForm {
    flex-grow: 1;
}

#thePropertyAmenities,
.ArnRateTableHeader,
.SinglePropDetail .ArnNightlyRate strong > div,
.ArnNightlyRate .originalPrice,
.ArnPropAddress,
.RoomDescription,
.SinglePropDetail #theGeneralInfo,
#theConfirmationContainer,
#new-user-text,
.ArnSearchHeader,
.sort-wrapper h4,
#commands a,
#commands .logoutCommand,
.RateCalendarPopupContainer a,
.ArnRateCancelPolicy,
.ArnTermsConditions,
.ArnTermsConditions a,
#theBookingPage .GuestForms {
    color: #666;
}

.SinglePropDetail .ArnNightlyRate strong {
    color: #e2ad37;
}

/*- - - -  All Buttons - - - - */
.WBLoginFormActions input,
#register-btn a,
.WBValidatedRegistrationFormActions input,
#theOtherSubmitButton,
#theSubmitButton,
.ArnShowRatesLink,
.SinglePropDetail .CheckRates .submit,
.SinglePropDetail .bookRoom,
.SinglePropDetail #moreRatesLink,
.CheckOutForm #theConfirmationButton,
.WBSupportFormActions input,
.WBForgotPasswordFormActions input {
    border: 3px solid #215853 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    transition-property: color, background;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.WBLoginFormActions input:hover,
#register-btn a:hover,
.WBValidatedRegistrationFormActions input:hover,
#theOtherSubmitButton:hover,
#theSubmitButton:hover,
.ArnShowRatesLink:hover,
.SinglePropDetail .CheckRates .submit:hover,
.SinglePropDetail .bookRoom:hover,
.SinglePropDetail #moreRatesLink:hover,
.CheckOutForm #theConfirmationButton:hover,
.WBSupportFormActions input:hover,
.WBForgotPasswordFormActions input:hover {
    border: 3px solid #215853 !important;
}

/*- - - -  All Buttons - - - - */

@media screen and (max-width: 1200px) {
    .ArnSubPage {
        padding: 12px;
    }
}

@media screen and (min-width: 900px) {
    .RootBody .ArnPrimarySearchContainer {
        max-width: 800px;
        min-width: 700px;
    }

    .RootBody #CitySearchContainer {
        width: 30vw;
    }
}

@media screen and (max-width: 800px) {
    .ArnSubPage.WBSupportForm {
        grid-template-columns: 1fr;
    }

    .WBSupportForm .SSForm {
        grid-row-start: 3;
        grid-column-start: 1;
        width: 100%;
    }
    .WBSupportForm .ArnSupportChatTable {
        grid-row-start: 2;
        grid-column-start: 1;
        width: 100%;
        margin-bottom: 24px;
    }

    .support-details {
        padding: 18px;
    }

    .RootBody .ArnPrimarySearchContainer #AmentitiesContainer,
    .RootBody .ArnPrimarySearchContainer #PropertyClassesContainer,
    .RootBody .ArnPrimarySearchContainer #PropertyTypesContainer {
        display: none !important;
    }

    .SearchHotels .ArnPrimarySearchOuterContainer {
        margin-top: 0px !important;
    }

    .RootBody #theOtherSubmitButton {
        width: 100%;
        max-width: none;
    }

    .currencies-container {
        margin: 4px auto;
        background: #fff;
        padding: 6px;
    }

    .SearchHotels .currencies-container {
        background: #f0f0f0;
    }

    .currencies-container #currency-label {
        color: #666;
        border-bottom: unset;
        justify-content: space-between;
        margin: unset;
        width: 100%;
    }

    .config-label .arrow {
        margin-right: 10px;
    }

    .RootBody .currency {
        display: block;
        width: 100%;
    }

    .RootBody #language {
        order: 2;
    }

    .RootBody .dropdown {
        width: 100%;
        grid-template-columns: 50% 50%;
        z-index: 400;
        position: unset;
        margin: auto;
    }

    .SearchHotels .currencies-container {
        position: relative;
        z-index: 8;
    }

    .SearchHotels .currencies-container #currency-label {
        margin: 0 0 0 10px;
    }

    .SearchHotels .dropdown {
        margin: 2% 2%;
        grid-template-columns: 50% 50%;
    }

    .SinglePropDetail .points-earned {
        width: unset;
        background: unset;
        color: #666;
        top: 120px;
        left: 9px;
    }
}

@media screen and (max-width: 600px) {
    .MemberNotAuthenticated header {
        display: unset;
    }

    .MemberNotAuthenticated .info-banner {
        display: unset;
    }

    .SearchHotels .ArnPropName {
        padding: 22px 15px;
    }

    .SearchHotels .ArnRateCell {
        width: 100%;
    }

    .SearchHotels .ArnPrimarySearchOuterContainer {
        margin-top: 0px !important;
    }

    .SearchHotels .ArnPriceCell {
        align-self: end;
        margin-left: 15px;
    }

    .SearchHotels .ArnRateButton {
        margin-right: 15px;
    }

    .SearchHotels div.beat-em {
        position: absolute;
        z-index: 1;
        width: 50%;
        right: -2px;
        top: -1px;
    }

    .SinglePropDetail .beat-em {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        max-width: 150px;
        width: 100%;
        align-self: flex-end;
        justify-self: flex-end;
    }

    .SinglePropDetail .bookRoom {
        grid-row: 2 / 3;
        max-width: 150px;
        align-self: flex-end;
        justify-self: flex-end;
        margin: 0 0 10px 0;
    }

    .SinglePropDetail .ArnNightlyRate {
        grid-row: 2 / 3;
    }

    .SinglePropDetail .holdRoom {
        max-width: 145px;
    }

    .SinglePropDetail .bookRoomCell {
        grid-template-rows: 1fr 0.5fr 0.25fr;
        grid-template-columns: 45% 55%;
    }

    .SinglePropDetail .points-earned {
        width: unset;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        top: unset;
        bottom: unset;
        background: unset;
        position: unset;
        padding: unset;
        color: #666;
        align-self: flex-end;
        justify-self: flex-start;
        margin-bottom: 5px;
    }

    .SinglePropDetail .ArnRateCancelAnchor {
        justify-self: end;
        padding-right: 18px;
    }

    .CheckOutForm #confirmCheckBox {
        width: 26px;
        border-radius: 3px;
    }

    .CheckOutForm .confirmationWarning input.checkbox {
        width: 44px;
        border-radius: 3px;
    }

    .SearchHotels .ArnPropThumb {
        border-radius: 15px 15px 0 0;
    }
}

#theRateTotals > tbody > .discountRow td {
    font-family: 'Avenir', 'Helvetica';
}
